Repository apache/amoro, pull requests merged in 2022-12, with the labels that each got.

#793 [Flink]Ignore testFileUpsertWithSamePrimaryKey unit test case
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
Labels: module:flink

#791 [ARCTIC-778][AMS]Change table format options when creating catalogs.
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/properties/TableFormat.java
  ams/ams-dashboard/src/language/en.ts
  ams/ams-dashboard/src/main/resources/static/css/chunk-12ceb78d.6873dfdc.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-664cd0aa.1613c8a2.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-cad521b4.3731ed0b.css
  ams/ams-dashboard/src/main/resources/static/index.html
  ams/ams-dashboard/src/main/resources/static/js/app.156f7d8a.js
  ams/ams-dashboard/src/main/resources/static/js/app.f2e14040.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-12ceb78d.b0db4543.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-62ed7d78.f1bc6c0c.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-664cd0aa.c42f498e.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-cad521b4.685bb161.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-vendors.d688bf79.js
  ams/ams-dashboard/src/main/resources/static/js/editor.worker.js
  ams/ams-dashboard/src/main/resources/static/js/json.worker.js
  ams/ams-dashboard/src/views/catalogs/Detail.vue
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/HighAvailabilityServices.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/CatalogController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/TableController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/FileInfoCacheMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/InternalTableFilesMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/Optimizer.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableOptimizeInfo.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableOptimizeRuntime.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseArcticOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeCommitWorker.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeTaskItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/IInternalTableService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/DDLTracerService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeExecuteService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableBaseInfoService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/ExecutionResult.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/JDBCResultSet.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/StatementResult.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/ParamSignatureCalculator.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcher.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/Utils.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/CatalogControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/LoginControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/OptimizerControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/TableControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/TerminalControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestAdaptHiveService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestArcticTransactionService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestDDLTracerService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestFileInfoCacheService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestOptimizerService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/util/TableUtil.java
  core/src/main/java/com/netease/arctic/catalog/CatalogLoader.java
  core/src/main/java/com/netease/arctic/utils/CatalogUtil.java
Labels: module:core, module:ams, module:dashboard

#803 [ARCTIC-798] Fix fail optimize task doesn't retry
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#799 [Improvement] Modify log file archiving rules
  dist/src/main/arctic-bin/conf/log4j2.xml
  dist/src/main/arctic-bin/conf/optimize/log4j2.xml
Labels: type:build

#805 [ARCTIC-782] Not auto jump to login page if visit some page without login
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/AmsRestServer.java
Labels: module:ams, module:dashboard

#801 [ARCTIC-800] Clean useless files when optimize commit fails
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#706 [Arctic][AMS] admin-configured default table properties with adding into catalog #171
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  core/src/main/java/com/netease/arctic/catalog/BaseArcticCatalog.java
  core/src/main/java/com/netease/arctic/utils/CatalogUtil.java
  core/src/test/java/com/netease/arctic/utils/CatalogUtilTest.java
Labels: module:core, module:dashboard

#759 [ARCTIC-683][Flink] fixed the problem that passing a null value to some fields would be given a default value
  core/src/main/java/com/netease/arctic/log/LogDataJsonSerialization.java
  flink/v1.12/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/BaseLogTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenKafkaProducerTest.java
  flink/v1.14/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/BaseLogTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenKafkaProducerTest.java
  flink/v1.15/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/BaseLogTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenKafkaProducerTest.java
Labels: module:flink, module:core

#809 [ARCTIC-806][AMS]Display table watermark on AMS Dashboard
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ServerTableProperties.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/TableController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/MetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/DDLTracerService.java
  core/src/main/java/com/netease/arctic/table/BaseKeyedTable.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
Labels: module:core, module:ams, module:dashboard

#802 [ARCTIC-797]Validate catalog properties when creating
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  ams/ams-api/src/test/java/com/netease/arctic/ams/api/MockArcticMetastoreServer.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/CatalogController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/response/ErrorResponse.java
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/main/resources/sql/mysql/0.4.0-init.sql
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/CatalogControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/TableControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveBase.java
  core/src/main/java/com/netease/arctic/catalog/BaseArcticCatalog.java
  core/src/test/java/com/netease/arctic/CatalogMetaTestUtil.java
  core/src/test/java/com/netease/arctic/catalog/BaseCatalogTest.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/ArcticCatalogMetaTestUtil.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/HiveCatalogMetaTestUtil.java
Labels: module:spark, module:core, module:ams, module:dashboard

#815 [ARCTIC-814] Fix optimize can't stop when the change store only has eq-delete files and the base store has no files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizePlan.java
Labels: module:ams, module:dashboard

#823 [Bug]: Table-size shows 0 while flink continuously writing
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/TableController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/ServerTableMeta.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/AmsUtils.java
  site/docs/ch/optimizers.md
Labels: type:docs, module:ams, module:dashboard

#821 [ARCTIC-820] Remove table configuration `self-optimizing.max-task-file-size`
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/CompatiblePropertyUtil.java
  site/docs/ch/meta-service/table-properties.md
Labels: type:docs, module:core, module:ams, module:dashboard

#813 [ARCTIC-812]:Add flink sink properties to table default
  core/src/main/java/com/netease/arctic/catalog/BaseArcticCatalog.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
Labels: module:core

#818 [hotfix] Update the flink-get-started.md and add the mixed-format statement in the Arctic-Flink section
  site/docs/ch/flink/flink-get-started.md
Labels: type:docs

#817 [Arctic-658][Docs]: Add notice of spark docs
  site/docs/ch/spark/spark-get-started.md
Labels: type:docs

#808 [ARCTIC-807] Make Flink properties to be compatible with legacy properties
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtil.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtilTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtil.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtilTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtil.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtilTest.java
  site/docs/ch/flink/hidden-kafka.md
Labels: type:docs, module:flink

#829 [Docker]Fix package command on docker build script file.
  docker/README.md
Labels: type:build

#830 [Docs]: Quick start docs and fix problem in docker/build.sh
  docker/README.md
  docker/ams/Dockerfile
  docker/build.sh
  docker/demo-cluster.sh
  site/config/ch/mkdocs.yml
  site/docs/ch/images/quickstart/Optimizing.png
  site/docs/ch/images/quickstart/ScaleOut.png
  site/docs/ch/images/quickstart/create-catalog.png
  site/docs/ch/images/quickstart/upsert-result.png
  site/docs/ch/images/quickstart/upsert-result2.png
  site/docs/ch/quickstart/cdc-ingestion.md
  site/docs/ch/quickstart/docker-quickstart.md
  site/docs/ch/quickstart/quick-demo.md
  site/docs/ch/quickstart/setup/setup-from-binary-release.md
  site/docs/ch/quickstart/setup/setup-from-docker.md
Labels: type:docs, type:build

#832 [Docs]Reconstruct benchmark/trino doc
  site/config/ch/mkdocs.yml
  site/docs/ch/benchmark/benchmark-step.md
  site/docs/ch/benchmark/benchmark.md
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_0-30_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_30-60_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_60-90_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_90-120_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_with_TPCC_time.png
  site/docs/ch/images/chbenchmark/arctic-iceberg-100-warehouse-static-performence.png
  site/docs/ch/mpp/trino.md
Labels: type:docs

#836 [Docs]: Improvement of quick start
  docker/ams/Dockerfile
  site/docs/ch/images/quickstart/cdc-watermark.png
  site/docs/ch/quickstart/cdc-ingestion.md
  site/docs/ch/quickstart/quick-demo.md
Labels: type:docs, type:build

#837 [Bug]: Some bugs in local test for version 0.4.0 bug
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  dist/src/main/arctic-bin/bin/localOptimize.sh
  dist/src/main/arctic-bin/conf/log4j2.xml
  dist/src/main/arctic-bin/conf/optimize/log4j2.xml
Labels: module:ams, type:build, module:dashboard

#844 [Docs]: Add table self optimizing docs in the Quick Demo
  site/docs/ch/images/files_after_optimize.png
  site/docs/ch/images/optimize_history.png
  site/docs/ch/images/quickstart/table-optimized-history.png
  site/docs/ch/images/quickstart/table-optimized-partition.png
  site/docs/ch/images/quickstart/table-optimizing.png
  site/docs/ch/images/table_optimizing.png
  site/docs/ch/quickstart/quick-demo.md
  site/docs/ch/spark/spark-get-started.md
Labels: type:docs

#845 [Docs]Add impala doc
  site/config/ch/mkdocs.yml
  site/docs/ch/mpp/impala.md
Labels: type:docs

#847 [DOC][hotfix] Remove the reading shuffle description in Flink documentation page
  site/docs/ch/configurations.md
  site/docs/ch/flink/flink-cdc-to-arctic.md
Labels: type:docs

#848 [ARCTIC-846] Fix checking conflict commit with the legacy `TransactionId` before `Minor Optimize` commit
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/OptimizeTasksMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/derby/DerbyOptimizeTasksMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/BaseOptimizeTask.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TaskConfig.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseArcticOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MinorOptimizePlan.java
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/main/resources/sql/mysql/0.4.0-init.sql
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.3.2-to-0.4.0.sql
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
Labels: module:ams, module:dashboard

#850 add admin guide
  site/config/ch/mkdocs.yml
  site/docs/ch/admin/deployment.md
  site/docs/ch/admin/managing_catalogs.md
  site/docs/ch/admin/managing_optimizers.md
  site/docs/ch/admin/managing_tables.md
  site/docs/ch/admin/metrics.md
  site/docs/ch/admin/terminal.md
  site/docs/ch/images/admin/create_catalog.png
  site/docs/ch/images/admin/delete_catalog.png
  site/docs/ch/images/admin/optimizer_management.png
  site/docs/ch/images/admin/optimizer_metrics.png
  site/docs/ch/images/admin/optimizer_release.png
  site/docs/ch/images/admin/optimizer_scale.png
  site/docs/ch/images/admin/optmizer_scale_result.png
  site/docs/ch/images/admin/table_metrics.png
  site/docs/ch/images/admin/table_optimized_tab.png
  site/docs/ch/images/admin/table_optimizer_history.jpg
  site/docs/ch/images/admin/table_optimizer_history.png
  site/docs/ch/images/admin/terminal_introduce.png
  site/docs/ch/images/admin/watermark_table_detail.png
Labels: type:docs

#828 [ISSUE-827] Fix the failed UTs in win.
  core/src/test/java/com/netease/arctic/io/IcebergFanoutPosDeleteWriterTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestMajorExecutor.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestMinorExecutor.java
Labels: module:flink, module:core

#852 [Docs]Polish benchmark doc
  site/docs/ch/benchmark/benchmark-step.md
Labels: type:docs

#853 [Docs]Fix some link error in user documention
  site/docs/ch/configurations.md
  site/docs/ch/flink/flink-cdc-to-arctic.md
  site/docs/ch/flink/flink-dml.md
  site/docs/ch/flink/flink-get-started.md
  site/docs/ch/flink/hidden-kafka.md
  site/docs/ch/guides/deployment.md
  site/docs/ch/guides/managing-tables.md
  site/docs/ch/images/admin/hive-table-detail.png
  site/docs/ch/images/admin/hive-table-upgrade.png
  site/docs/ch/index.md
  site/docs/ch/quickstart/cdc-ingestion.md
  site/docs/ch/spark/spark-dataframe.md
  site/docs/ch/spark/spark-ddl.md
  site/docs/ch/spark/spark-dml.md
  site/docs/ch/spark/spark-get-started.md
  site/docs/ch/stylesheets/extra.css
  site/docs/concepts/catalogs.md
  site/docs/concepts/self-optimizing.md
  site/docs/concepts/table-formats.md
  site/docs/concepts/table-watermark.md
Labels: type:docs

#856 [Docs] polish quick-start document
  site/docs/ch/quickstart/cdc-ingestion.md
  site/docs/ch/quickstart/quick-demo.md
Labels: type:docs

#865 [ARCTIC-761] update README.md for v0.4 and optimize setup docs
  README.md
  site/config/ch/mkdocs.yml
  site/docs/ch/concepts/self-optimizing.md
  site/docs/ch/images/concepts/major_optimizing.png
  site/docs/ch/images/concepts/minor_optimizing.png
  site/docs/ch/images/introduce_arctic.png
  site/docs/ch/quickstart/cdc-ingestion.md
  site/docs/ch/quickstart/quick-demo.md
  site/docs/ch/quickstart/setup.md
  site/docs/ch/quickstart/setup/setup-from-binary-release.md
  site/docs/ch/quickstart/setup/setup-from-docker.md
  site/docs/ch/stylesheets/extra.css
  site/docs/configurations.md
  site/docs/flink/flink-cdc-to-arctic.md
  site/docs/flink/flink-ddl.md
  site/docs/flink/flink-dim.md
  site/docs/flink/flink-dml.md
  site/docs/flink/flink-ds.md
  site/docs/flink/flink-get-started.md
  site/docs/flink/hidden-kafka.md
  site/docs/index.md
Labels: type:docs

#878 [ARCTIC-877] Fix Orphan files clean delete files unexpected
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanServiceTest.java
Labels: module:ams, module:dashboard

#892 [ARCTIC-890][AMS] Fix the data loss when the minor optimize in progress and restart the ams at the same time
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
Labels: module:ams, module:dashboard

#888 [ARCTIC-635]Skip cleaning maniftes files when commiting failed for hadoop table
  core/src/main/java/com/netease/arctic/op/ArcticHadoopTableOperations.java
Labels: module:core

#895 Avoid find class in jar frequently
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/IJDBCService.java
Labels: module:ams, module:dashboard

#893 [ARCTIC-877] fix OrphanFilesCleanService get metadata files with recursive=false
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
Labels: module:ams, module:dashboard

#879 [ISSUE-561][Flink] Fix flink cannot fetch right ckpId after failover
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveOutputFileFactory.java
Labels: type:bug, module:flink, module:hive

#898 [ARCTIC-761] update cdc ingestion doc for good
  site/docs/ch/concepts/table-formats.md
  site/docs/ch/images/quickstart/sparksql_result.jpg
  site/docs/ch/quickstart/cdc-ingestion.md
Labels: type:docs

#872 [ARCTIC-871] [ARCTIC-756] Fix pending optimizing after change optimizer group and handle table load error
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableQuotaInfo.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeCheckTask.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/QuotaService.java
Labels: module:ams, module:dashboard

#899 [Docker] Limit JVM memory for AMS in docker
  dist/src/main/arctic-bin/bin/ams.sh
  docker/ams/config.sh
Labels: type:build

#904 [ARCTIC-870] Fix NPE when resolving #870
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/MetaService.java
Labels: module:ams, module:dashboard

#906 [ARCTIC-747]Add maven central deploy profile
  ams/ams-api/pom.xml
  ams/ams-dashboard/pom.xml
  ams/ams-server/pom.xml
  ams/pom.xml
  core/pom.xml
  dist/pom.xml
  flink/pom.xml
  flink/v1.12/flink-format/pom.xml
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.12/flink/pom.xml
  flink/v1.14/flink-format/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.15/flink-format/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/pom.xml
  hive/pom.xml
  optimizer/pom.xml
  pom.xml
  spark/pom.xml
  spark/v2.3/spark-runtime/pom.xml
  spark/v2.3/spark/pom.xml
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/pom.xml
  trino/pom.xml
Labels: module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:build, module:dashboard

#905 [ARCTIC-903][Flink] Close CloseableIterator after plan files/plan tasks in flink module
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/FlinkSplitPlanner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/FlinkSplitPlanner.java
Labels: module:flink

#901 [ARCTIC-896] Close FileScanTask CloseableIterable in module ams/core/hive
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/SupportHiveSyncService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizePlan.java
  core/src/main/java/com/netease/arctic/scan/BaseKeyedTableScan.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
Labels: module:core, module:ams, module:hive, module:dashboard

#909 [BUG]Fix terminal change catalog throw namespace not found
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalManager.java
Labels: module:ams, module:dashboard

#908 [ARCTIC-907][SPARK]Duplicate keys verification for the source table should add a property to control in Spark
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalSessionFactory.java
  site/docs/ch/spark/spark-conf.md
  site/docs/ch/spark/spark-ddl.md
  site/docs/ch/spark/spark-dml.md
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/util/ArcticSparkUtil.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableInsertOverwriteStatic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableMergeOnRead.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveTableInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveTableMergeOnRead.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/SparkSQLProperties.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/delegate/TestArcticSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/delegate/TestMultiDelegateSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: type:docs, module:spark, module:ams, module:dashboard

#911 [ARCTIC-910]Ignore committing error to HMS when committing Hive format table
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
Labels: module:hive

#912 [Docs]Change download url in site for version 0.4.0
  site/docs/ch/flink/flink-get-started.md
  site/docs/ch/spark/spark-get-started.md
Labels: type:docs

#884 Support for querying base and change table by using a format like catalog.schema.tablename
  trino/src/main/java/com/netease/arctic/trino/TableNameResolve.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestBaseArcticPrimaryTable.java
Labels: module:trino

#923 [ARCTIC-922] Catch found new position delete ValidationException
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
Labels: module:ams, module:dashboard

#919 [ARCTIC-875] Avoid printing duplicate error logs
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
Labels: module:ams, module:dashboard

#934 [Docs] Fixed README's quick-start URL on front page
  README.md
Labels: type:docs

#921 [ARCTIC-920][Optimize] Fix the problem of data inconsistency after minor optimize
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableOptimizeRuntime.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseArcticOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#914 [ARCTIC-747]Complete some maven configs to deploy to maven central repo
  ams/ams-api/pom.xml
  ams/ams-dashboard/pom.xml
  ams/ams-server/pom.xml
  ams/pom.xml
  core/pom.xml
  dist/pom.xml
  flink/pom.xml
  flink/v1.12/flink-format/pom.xml
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.12/flink/pom.xml
  flink/v1.14/flink-format/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.15/flink-format/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/pom.xml
  hive/pom.xml
  optimizer/pom.xml
  pom.xml
  site/docs/ch/benchmark/benchmark-step.md
  spark/pom.xml
  spark/v2.3/spark-runtime/pom.xml
  spark/v2.3/spark/pom.xml
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/pom.xml
  trino/pom.xml
Labels: type:docs, module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:build, module:dashboard

#929 [ARCTIC-860] Improve memory usage when plan table
  core/src/main/java/com/netease/arctic/data/DefaultKeyedFile.java
  core/src/main/java/com/netease/arctic/data/PrimaryKeyedFile.java
  core/src/main/java/com/netease/arctic/table/BaseUnkeyedTable.java
  core/src/test/java/com/netease/arctic/data/KeyedDataFileTest.java
Labels: module:core

#950 [Hotfix][doc] Fix flink cdc quick start config and add a description about log store changelog config
  site/docs/ch/flink/flink-cdc-to-arctic.md
  site/docs/ch/flink/flink-get-started.md
  site/docs/ch/flink/hidden-kafka.md
Labels: type:docs

#935 [ARCTIC-928] Trino support hadoop proxy user
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
  site/docs/ch/mpp/trino.md
  trino/src/main/java/com/netease/arctic/trino/ArcticConfig.java
  trino/src/main/java/com/netease/arctic/trino/ArcticHdfsAuthentication.java
Labels: type:docs, module:core, module:trino

#942 [ARCTIC-917][HIVE]Fix bug: Data are written repeatedly after the Spark Executor failover
  hive/src/main/java/com/netease/arctic/hive/op/OverwriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/op/RewriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/KeyedSparkBatchWrite.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedSparkBatchWrite.java
Labels: module:spark, module:hive

#939 [ARCTIC-938][Optimize] Deleting invalid data files when the major optimize commit throw ValidationException
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanServiceTest.java
  core/src/main/java/com/netease/arctic/utils/TableFileUtils.java
  core/src/test/java/com/netease/arctic/utils/FileUtilTest.java
Labels: module:core, module:ams, module:dashboard

#963 [ARCTIC-955][ARCTIC-916] Load sequence number once in optimize plan
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcher.java
Labels: module:ams, module:dashboard

#947 [SPARK]Remove useless code and optimized code in Spark
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/ArcticExtensionUtils.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticStrategy.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteDeleteFromArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
Labels: module:spark
