Repository apache/amoro, pull requests merged in 2022-08, with the labels that each got.

#85 [flink] Add flink 1.14 into ci. And fix flink 1.14 compile exception
  .github/workflows/core-ci.yml
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/PartitionAndNodeGroup.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
Labels: bug, flink

#91 fix spark doc
  site/docs/ch/spark/spark-ddl.md
Labels: spark

#56 create table like
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/parser/ArcticSqlExtensionsParser.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/CreateArcticTableLikeExec.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticUnkeyedStrategy.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/parser/ArcticCreateTablePrimaryKeyAstBuilder.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDDL.java
Labels: spark

#83 optimize ut
  spark/v3.1/spark/pom.xml
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkHiveMainTest.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkNonHiveMainTest.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestBase.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestUnKeyedTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestMigrateHiveTable.java
Labels: spark

#107 Feature spark fix doc
  site/docs/ch/spark/spark-ddl.md
Labels: spark

#32 Feature spark create table as select and support keyed table dataframe api
  spark/v3.1/spark/src/main/antlr4/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSql.g4
  spark/v3.1/spark/src/main/gen-antlr/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSqlBaseListener.java
  spark/v3.1/spark/src/main/gen-antlr/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSqlBaseVisitor.java
  spark/v3.1/spark/src/main/gen-antlr/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSqlLexer.java
  spark/v3.1/spark/src/main/gen-antlr/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSqlListener.java
  spark/v3.1/spark/src/main/gen-antlr/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSqlParser.java
  spark/v3.1/spark/src/main/gen-antlr/com/netease/arctic/spark/sql/parser/ArcticExtendSparkSqlVisitor.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/SparkWriteBuilder.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/parser/ArcticSqlExtensionsParser.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/CreateArcticTableStatementExec.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticUnkeyedStrategy.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/parser/ArcticCreateTablePrimaryKeyAstBuilder.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/parser/ArcticExtendSparkSqlAstBuilder.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkNonHiveMainTest.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestBase.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestCreateKeyedTableAsSelect.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/source/TestKeyedTableDataFrameAPI.java
Labels: spark

#122 delete create arctic statement
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/plans/CreateArcticTableStatement.scala
Labels: spark

#119 [spark2.3] add writer interface. analysis rule of add static partitio…
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/DataSourceTable.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/OverwriteSupport.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/SupportsDynamicOverwrite.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/SupportsOverwrite.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticWriter.java
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/ArcticResolutionDelegateHiveRule.scala
  spark/v2.3/spark/src/main/scala/org/apache/spark/sql/arctic/AnalysisException.scala
Labels: spark

#136 Feature spark v2.3 reader
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/SparkRowWrapper.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/reader/ArcticReader.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkDataReader.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/reader/SparkParquetV2Readers.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/util/Stats.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestArcticTableRead.java
Labels: spark

#140 add pos delete test
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDML.java
Labels: spark

#191 [Spark3]spark3.1 jUnit Rebuild
  spark/v3.1/spark/pom.xml
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkHiveMainTest.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkNonHiveMainTest.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestBase.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestAlterKeyedTable.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestCreateKeyedTableAsSelect.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDML.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDMLInsertOverwriteDynamic.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDMLInsertOverwriteStatic.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestMigrateNonHiveTable.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestOptimizeWrite.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestUnKeyedTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestUnKeyedTableDML.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/HiveCatalogMetaTestUtil.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/SparkHiveTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestCreateTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestHive.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestMigrateHiveTable.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/source/TestKeyedTableDataFrameAPI.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/source/TestUnKeyedTableDataFrameAPI.java
Labels: spark

#167 [ARCTIC-108][Flink] Support projection push down to arctic source reader
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/KafkaDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/Projection.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/util/ProjectionTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/KafkaDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/Projection.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/util/ProjectionTest.java
Labels: flink

#213 [Spark]Spark3 hive catalog junit
  core/src/main/java/com/netease/arctic/io/reader/BaseIcebergDataReader.java
  core/src/main/java/com/netease/arctic/io/reader/DataReaderCommon.java
  core/src/main/java/com/netease/arctic/op/OverwriteBaseFiles.java
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkKeyedDataReader.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkUnkeyedDataReader.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/KeyedSparkBatchScan.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/util/ArcticSparkUtils.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedSparkWriteBuilder.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkHiveMainTest.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestHiveTableMergeOnRead.java
Labels: spark

#211 [Arctic-43][Hive]Impelement hive meta synchronizer
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ServerTableProperties.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/MetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/DDLTracerService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestDDLTracerService.java
  core/src/main/java/com/netease/arctic/io/writer/GenericTaskWriters.java
  core/src/main/java/com/netease/arctic/op/PartitionPropertiesUpdate.java
  core/src/main/java/com/netease/arctic/op/UpdatePartitionProperties.java
  core/src/main/java/com/netease/arctic/table/BaseKeyedTable.java
  core/src/main/java/com/netease/arctic/table/BaseUnkeyedTable.java
  core/src/main/java/com/netease/arctic/table/KeyedTable.java
  core/src/main/java/com/netease/arctic/table/TableConstants.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/table/UnkeyedTable.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/op/UpdatePartitionPropertiesTest.java
  core/src/test/java/com/netease/arctic/utils/TablePropertyUtilTest.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
  hive/src/main/java/com/netease/arctic/hive/op/HiveOperationTransaction.java
  hive/src/main/java/com/netease/arctic/hive/op/OverwriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/table/UnkeyedHiveTable.java
  hive/src/main/java/com/netease/arctic/hive/write/AdaptHiveGenericTaskWriterBuilder.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  trino/src/main/java/com/netease/arctic/trino/ArcticCatalogSupportTableSuffix.java
Labels: hive

#243 [ARCTIC-240] fix data lose after optimize for mysql sysdb with REPEATABLE READ
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/BaseOptimizeTaskRuntime.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeTaskItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/IJDBCService.java
Labels: bug

#247 [Arctic-43][Hive]Implement hive synchronizer
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/DDLRecordMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/DDLInfo.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableOperation.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/DDLTracerService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/RuntimeDataExpireService.java
  core/src/main/java/com/netease/arctic/io/ArcticHadoopFileIO.java
  core/src/main/java/com/netease/arctic/op/OverwriteBaseFiles.java
  core/src/main/java/com/netease/arctic/op/PartitionPropertiesUpdate.java
  core/src/main/java/com/netease/arctic/table/ArcticTable.java
  core/src/main/java/com/netease/arctic/table/BaseKeyedTable.java
  core/src/main/java/com/netease/arctic/table/BaseUnkeyedTable.java
  core/src/main/java/com/netease/arctic/table/KeyedTable.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
  core/src/test/java/com/netease/arctic/op/UpdatePartitionPropertiesTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/AdaptHiveWriterTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/AdaptHiveWriterTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/AdaptHiveWriterTest.java
  hive/src/main/java/com/netease/arctic/hive/ArcticHiveClientPool.java
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  hive/src/main/java/com/netease/arctic/hive/op/HiveSchemaUpdate.java
  hive/src/main/java/com/netease/arctic/hive/op/OverwriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/table/KeyedHiveTable.java
  hive/src/main/java/com/netease/arctic/hive/table/UnkeyedHiveTable.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/main/java/com/netease/arctic/hive/utils/HivePartitionUtil.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveSchemaUtil.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveTableUtil.java
  hive/src/main/java/org/apache/hadoop/hive/ql/optimizer/ppr/PartitionExpressionForMetastore.java
  hive/src/main/java/org/apache/hadoop/hive/ql/security/authorization/AuthorizationPreEventListener.java
  hive/src/main/java/org/apache/iceberg/data/AdaptHiveGenericAppenderFactory.java
  hive/src/test/java/com/netease/arctic/hive/ArcticHiveTestMain.java
  hive/src/test/java/com/netease/arctic/hive/HMSMockServer.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/MockDataFileBuilder.java
  hive/src/test/java/com/netease/arctic/hive/catalog/TestArcticHiveCatalog.java
  hive/src/test/java/com/netease/arctic/hive/io/AdaptHiveWriterTest.java
  hive/src/test/java/com/netease/arctic/hive/io/HiveTestRecords.java
  hive/src/test/java/com/netease/arctic/hive/op/AutoSyncHiveTest.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
  hive/src/test/java/com/netease/arctic/hive/utils/HiveMetaSynchronizerTest.java
  site/docs/ch/meta-service/table-properties.md
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTableBaseForTrino.java
Labels: hive

#249 [Hive]Check update type allowed before update schema when sync hive schema …
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
Labels: bug, hive

#251 [Hive]Fix hive table name mapping
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
Labels: hive
