Repository apache/amoro, pull requests merged in 2022-09, with the labels that each got.

#269 [ARCTIC-221][Docs]Add roadmap page in site
  site/config/ch/mkdocs.yml
  site/docs/ch/roadmap.md
Labels: docs

#302 fix create table cant set colmun struct type
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/parser/ArcticExtendSparkSqlAstBuilder.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDDL.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestCreateTableDDL.java
Labels: bug

#321 [ARCTIC-320][Spark]support unset properties
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestAlterKeyedTable.java
Labels: spark

#359 [Spark]fix update bug
  core/src/main/java/com/netease/arctic/io/writer/SortedPosDeleteWriter.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedPosDeleteSparkWriter.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestUnkeyedTableDml.java
Labels: bug, spark

#361 [Spark]Support ArcticSessionCatalog to create table like
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/CreateArcticTableLikeExec.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticStrategy.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/delegate/TestArcticSessionCatalog.java
Labels: spark

#366 [BUG-364] Can not set "optimize.full.trigger.max-interval" while create keyed hive
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
Labels: bug, hive

#376 [BUG-375] Some pages cannot be redirected to the login page
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/AmsRestServer.java
Labels: bug, ams

#370 [ARCTIC-368][AMS] Fix some node files not move to hive location
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveMajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileCleanSupportHive.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOptimizeBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizePlan.java
Labels: bug, optimize

#357 [Spark] Feature spark 2.3 keyed writer
  pom.xml
  spark/v2.3/spark/pom.xml
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/SparkInternalRowWrapper.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/hive/AdaptHiveSparkParquetWriters.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/io/ArcticSparkBaseTaskWriter.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/io/InternalRowFileAppenderFactory.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSource.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSparkTable.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/util/ArcticSparkUtil.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticKeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticUnkeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticWriter.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/SimpleInternalRowDataWriter.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/WriteMode.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/WriteTaskCommit.java
  spark/v2.3/spark/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/ArcticResolutionDelegateHiveRule.scala
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/ArcticSparkMainTest.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestBase.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestCreateTableDDL.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveInsertOverwriteStatic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDMLInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveInsertOverwriteStatic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/hive/ArcticCatalogMetaTestUtil.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/hive/SparkHiveTestContext.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/KeyedSparkBatchWrite.java
Labels: spark

#384 [Spark] Feature spark 2.3 keyed Reader
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/SparkRowWrapper.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/reader/ArcticKeyedSparkReader.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkKeyedDataReader.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/reader/SparkParquetV2Readers.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSparkTable.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/util/ArcticSparkUtil.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/ArcticSparkMainTest.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestCreateTableDDL.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableInsertOverwriteStatic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableMergeOnRead.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveTableInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveTableInsertOverwriteStatic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveTableMergeOnRead.java
Labels: spark

#385 [Spark] Feature spark2.3 unkeyed writer
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticUnkeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/ArcticSparkMainTest.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedHiveTableInsertOverwriteDynamic.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnkeyedHiveTableInsertOverwriteDynamic.java
Labels: spark

#373 [SPARK] Update Primary Key Will Throw Exception
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: spark

#387 [SPARK]Add configuration to control the timestamp type in Spark
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/SparkSQLProperties.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestCreateTableDDL.java
Labels: spark

#392 [SPARK]Update the Spark document Adds the insert, update and delete of the primary key table
  site/docs/ch/contribute.md
  site/docs/ch/docker-quickstart.md
  site/docs/ch/meta-service/dashboard.md
  site/docs/ch/meta-service/table-management.md
  site/docs/ch/spark/spark-conf.md
  site/docs/ch/spark/spark-dataframe.md
  site/docs/ch/spark/spark-ddl.md
  site/docs/ch/spark/spark-dml.md
  site/docs/ch/spark/spark-get-started.md
  site/docs/ch/table-format/hive-format.md
  site/docs/ch/trino.md
Labels: spark

#400 [SPARK]Spark v3.1 Unkeyed PosDelete Writer add uncheck txId
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedSparkBatchWrite.java
Labels: spark

#416 [Spark] Feature spark 2.3 double flout write
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSource.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSparkTable.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/TableSupport.java
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/ArcticSparkExtensions.scala
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/rule/ArcticResolutionDelegateHiveRule.scala
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/rule/ArcticStrategies.scala
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/rule/PreprocessArcticTableInsertionRule.scala
  spark/v2.3/spark/src/main/scala/com/netease/arctic/spark/sql/plan/OverwriteArcticTableDynamic.scala
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/ArcticSparkMainTest.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestComplexType.java
Labels: spark

#425 [ARCTIC-422] [FLINK] check ENABLE_LOG_STORE property before building LogReader
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
Labels: flink, improvement

#426 [SPARK]Synchronize the owner of the Hive table with the Arctic table
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
Labels: spark

#428 [Spark] Add prefix to spark 2.3 catalog url properties
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/util/ArcticSparkUtil.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
Labels: spark

#432 [ARCTIC-430][AMS]Record baseSnapshotId for unKeyed table
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableQuotaInfo.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizePlan.java
Labels: ams
