Repository apache/amoro, pull requests merged in 2022-10, with the labels that each got.

#438 [ARCTIC-429] remove meta column in reading unkeyed table
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
Labels: bug, flink

#443 [SPARK]Change the Spark update from outer join to select + project
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: spark

#457 [Spark] Feature spark 2.3 dataframe api
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSource.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/source/ArcticSparkTable.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticKeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticUnkeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/ArcticSparkMainTest.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDataFrameAPI.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/TestUnKeyedTableDataFrameAPI.java
Labels: spark

#474 [Hive] Fix kerberos authenticate
  hive/src/main/java/com/netease/arctic/hive/CachedHiveClientPool.java
Labels: hive

#470 Feature spark3 delegate catalogs
  hive/src/test/java/com/netease/arctic/hive/HMSMockServer.java
  hive/src/test/resources/hive-schema-3.1.0.derby.sql
  site/docs/ch/spark/spark-multi-delegate-session-catalog.md
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/MultiDelegateSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/MavenTestSuites.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/delegate/TestArcticSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/delegate/TestMultiDelegateSessionCatalog.java
Labels: spark

#465 [ARCTIC-459][FLINK] Fix the missing of the required fields after project pushdown
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/shuffle/ShuffleHelper.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/util/TestUtil.java
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/shuffle/ShuffleHelper.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/util/TestUtil.java
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/shuffle/ShuffleHelper.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/util/TestUtil.java
  hive/src/main/java/org/apache/iceberg/IcebergSchemaUtil.java
Labels: bug, flink

#491 spark runtime do-not shade iceberg procedure api
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteDeleteFromArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/utils/ArcticRewriteHelper.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/utils/ArcticRewriteHelper.scala
Labels: spark

#523 [ARCTIC-486][FLINK]: Fix 'Watermark may loss if split read too fast'
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/ArcticSourceReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/ArcticSourceReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/ArcticSourceReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
Labels: bug, flink

#538 [ARCTIC-486][FLINK]: Fix 'Watermark may loss if split read too fast'
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/ArcticSourceReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/ArcticSourceReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/ArcticSourceReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
Labels: bug, flink
