Repository apache/amoro, pull requests merged in 2022-11, with the labels that each got.

#536 [SPARK] Spark read table change store should show the action type, file offset, etc
  site/docs/ch/spark/spark-dml.md
  site/docs/ch/trino.md
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/SparkScanBuilder.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/table/ArcticSparkChangeTable.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDML.java
Labels: spark

#570 [ARCTIC-557][FLINK] Doc catalog authorization configs
  site/docs/ch/flink/flink-ddl.md
  site/docs/ch/flink/flink-dml.md
Labels: docs, flink

#562 [CORE]Fix bug: read the table use partition function is months, throw exception
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  ams/ams-server/src/main/resources/sql/mysql/0.4.0-init.sql
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.3.2-to-0.4.0.sql
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/utils/ArcticDataFilesTest.java
  hive/src/main/java/com/netease/arctic/hive/utils/HivePartitionUtil.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDMLInsertOverwriteDynamic.java
Labels: core

#522 [SPARK]Feature support duplicate-key-check when insert into
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/plans/AppendArcticData.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/plans/OverwriteArcticData.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/plans/OverwriteArcticDataByExpression.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticStrategy.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedIcebergStrategy.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/OptimizeWriteRule.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/CreateArcticTableAsSelect.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/TranslateUtils.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AppendInsertDataExec.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ArcticTableWriteExec.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateArcticTableAsSelectExec.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/OverwriteArcticByExpressionExec.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/v2/OverwriteArcticDataExec.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestCreateKeyedTableAsSelect.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedHiveInsertOverwriteDynamic.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedHiveInsertOverwriteStatic.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: spark

#568 [ARCTIC-561] Fix 561. When flink job fails over, flink job will commit a wrong transaction id
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/ArcticWriter.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/hidden/AbstractHiddenLogWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/ArcticWriter.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/hidden/AbstractHiddenLogWriter.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/ArcticWriter.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/hidden/AbstractHiddenLogWriter.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
Labels: bug, flink

#599 [ARCTIC-598][FLINK] Update the documentation in the Flink DML section
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  site/docs/ch/flink/flink-dml.md
Labels: docs, flink

#615 [ARCTIC-356][Doc]add Hadoop/Hive version supported message in user documention
  site/docs/ch/meta-service/dashboard.md
Labels: docs

#601 [ARCTIC-394][Core]Support table watermark to determine table freshness
  ams/ams-api/src/main/thrift/arctic_table_metastore.thrift
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/TableController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/FileInfoCacheMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/derby/DerbyFileInfoCacheMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/CacheFileInfo.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/PartitionFileBaseInfo.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/main/resources/sql/mysql/0.4.0-init.sql
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.3.2-to-0.4.0.sql
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/TableControllerTest.java
  core/src/main/java/com/netease/arctic/op/ArcticUpdate.java
  core/src/main/java/com/netease/arctic/table/BaseKeyedTable.java
  core/src/main/java/com/netease/arctic/table/BaseUnkeyedTable.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/table/WatermarkGenerator.java
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
  core/src/main/java/com/netease/arctic/trace/ArcticAppendFiles.java
  core/src/main/java/com/netease/arctic/trace/ArcticOverwriteFiles.java
  core/src/main/java/com/netease/arctic/trace/ArcticReplacePartitions.java
  core/src/main/java/com/netease/arctic/trace/ArcticRowDelta.java
  core/src/main/java/com/netease/arctic/trace/TraceOperations.java
  core/src/main/java/com/netease/arctic/trace/TracedAppendFiles.java
  core/src/main/java/com/netease/arctic/trace/TracedReplacePartitions.java
  core/src/main/java/com/netease/arctic/trace/TracedTransaction.java
  core/src/main/java/com/netease/arctic/utils/ConvertStructUtil.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/CatalogMetaTestUtil.java
  core/src/test/java/com/netease/arctic/io/TableTestBaseWithInitData.java
  core/src/test/java/com/netease/arctic/io/TestRecords.java
  core/src/test/java/com/netease/arctic/op/TestTableAlter.java
  core/src/test/java/com/netease/arctic/trace/TableWatermarkTest.java
  core/src/test/java/com/netease/arctic/utils/WatermarkGeneratorTest.java
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
  site/docs/ch/meta-service/table-management.md
  site/docs/ch/meta-service/table-properties.md
Labels: core

#623 [ARCTIC-622][Improvement]: fix file upload when use derby as storage
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/PlatformFileInfoMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/derby/DerbyPlatformFileInfoMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/PlatformFileInfoService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/JDBCSqlSessionFactoryProvider.java
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/util/DerbyTestUtil.java
  dist/src/main/arctic-bin/conf/config.yaml
Labels: ams

#625 [ARCTIC-629][SPARK]Fix spark update has no filter will throw exception
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteDeleteFromArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestUnkeyedTableDml.java
Labels: spark

#643 [Infra]Add github labeler action configuration file
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement.yml
  .github/ISSUE_TEMPLATE/labeler.yml
  .github/ISSUE_TEMPLATE/subtask.yml
  .github/labeler.yml
  package.json
  yarn.lock
Labels: type:infra

#641 [hotfix]Add a kyuubi note to the Arctic Dashboard doc
  site/docs/ch/meta-service/dashboard.md
Labels: type:docs

#682 [ARCTIC-676][Improvement]: Page interaction optimization
  ams/ams-dashboard/src/components/Layout.vue
  ams/ams-dashboard/src/components/Sidebar.vue
  ams/ams-dashboard/src/components/Topbar.vue
  ams/ams-dashboard/src/components/tables-sub-menu/TablesMenu.vue
  ams/ams-dashboard/src/language/en.ts
  ams/ams-dashboard/src/main/resources/static/css/chunk-2d26d08a.0bf41a44.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-3c3ab8d0.20aa4cad.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-40f0dbad.0c421828.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-416b4e66.3d7d3f1b.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-78dc2eac.011511c9.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-ca4c01a4.42eb95ce.css
  ams/ams-dashboard/src/main/resources/static/index.html
  ams/ams-dashboard/src/main/resources/static/js/app.07b45c34.js
  ams/ams-dashboard/src/main/resources/static/js/app.10b3c2fc.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-2d26d08a.752b878a.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-3c3ab8d0.6acffb19.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-40f0dbad.971acb47.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-416b4e66.2b075529.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-78dc2eac.fbfc17fa.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-ca4c01a4.628b20d8.js
  ams/ams-dashboard/src/views/catalogs/Detail.vue
  ams/ams-dashboard/src/views/catalogs/index.vue
  ams/ams-dashboard/src/views/settings/index.vue
Labels: module:dashboard

#684 [AMS]Terminal requires a proxy user
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
Labels: type:bug, module:ams, module:dashboard

#687 [Flink][bugfix] fixed the problem that passing a null value to some fields would be given a default value
  flink/v1.12/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.14/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.15/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
Labels: module:flink

#704 [ARCTIC-699] Follow-up documentation of the Flink ingestion job of automatically enabling double writing
  site/docs/ch/flink/flink-cdc-to-arctic.md
  site/docs/ch/images/flink-auto-writer.png
Labels: type:docs

#679 [ARCTIC-652][Trino]Reconstruct Trino type to Iceberg type
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedDeleteFilter.java
  trino/src/test/java/com/netease/arctic/trino/arctic/HiveTestRecords.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTable.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTableBaseForTrino.java
Labels: type:bug, module:trino

#713 [ARCTIC-711][Bug]: quotaOccupation unit format
  ams/ams-dashboard/src/main/resources/static/css/chunk-7cdf8354.787496cc.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-ae1e72c4.699546d3.css
  ams/ams-dashboard/src/main/resources/static/index.html
  ams/ams-dashboard/src/main/resources/static/js/app.d3cc3872.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-7cdf8354.bed8e82c.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-ae1e72c4.7147da52.js
  ams/ams-dashboard/src/views/optimize/components/List.vue
  ams/ams-dashboard/src/views/optimize/index.vue
Labels: module:dashboard

#708 [ARCTIC-707] split optimize task for native iceberg by all file size
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMajorOptimizePlan.java
Labels: module:ams, module:dashboard

#705 fix #661. check session available before execute script
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionContext.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalTerminalSession.java
  dist/src/main/arctic-bin/conf/config.yaml
Labels: module:ams, type:build, module:dashboard

#722 [ARCTIC-720][Improvement]: Add metastore instructions
  ams/ams-dashboard/src/language/en.ts
  ams/ams-dashboard/src/main/resources/static/css/chunk-31fab4cc.a06c54f3.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-5f69821e.959321d9.css
  ams/ams-dashboard/src/main/resources/static/css/chunk-62ed7d78.1613c8a2.css
  ams/ams-dashboard/src/main/resources/static/index.html
  ams/ams-dashboard/src/main/resources/static/js/app.7a27d12e.js
  ams/ams-dashboard/src/main/resources/static/js/app.93c31b7d.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-31fab4cc.90e3e074.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-5f69821e.eb43b957.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-62ed7d78.f1bc6c0c.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-664cd0aa.c42f498e.js
  ams/ams-dashboard/src/main/resources/static/js/chunk-vendors.ea16c9d2.js
  ams/ams-dashboard/src/main/resources/static/js/editor.worker.js
  ams/ams-dashboard/src/main/resources/static/js/json.worker.js
  ams/ams-dashboard/src/views/catalogs/Detail.vue
Labels: module:dashboard

#723 [ARCTIC-659][Improvement]: Increase the length of filed platform_file_info.file_content_b64
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/main/resources/sql/mysql/0.4.0-init.sql
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.3.2-to-0.4.0.sql
Labels: module:ams, module:dashboard

#734 [Bug][AMS][ARCTIC-733]: Catalog cache is not updated after edit catalog information
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/CatalogController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/OptimizeQueueMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/CatalogUtil.java
Labels: module:ams, module:dashboard

#739 [ARCTIC-737][AMS] Capitalize the `authMethod` parameter.
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
Labels: module:core

#746 [ARCTIC-745] Update the configuration name of consistency between Logstore and Filestore
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  site/docs/ch/flink/hidden-kafka.md
  site/docs/ch/meta-service/table-properties.md
Labels: type:docs, module:flink

#749 [ARCTIC-748][Bug][AMS]: remove and rebuild hive table can not upgrade
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/AdaptHiveService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
Labels: module:ams, module:dashboard

#671 [ARCTIC-636][optimizer] Clear useless data files produced by failed full optimize which support hive
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/properties/OptimizeTaskProperties.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeTaskItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  optimizer/src/main/java/com/netease/arctic/optimizer/exception/TimeoutException.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/BaseTaskExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MinorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/NodeTask.java
  optimizer/src/test/java/com/netease/arctic/optimizer/operator/executor/TestIcebergExecutor.java
Labels: module:ams, module:dashboard

#735 [ARCTIC-667][AMS]: terminal support iceberg connector
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/ExecutionResult.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/SparkContextUtil.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalManager.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionContext.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalTerminalSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/AmsUtils.java
  core/src/main/java/com/netease/arctic/catalog/BaseIcebergCatalog.java
  site/docs/ch/meta-service/dashboard.md
  site/docs/ch/spark/spark-get-started.md
  spark/v2.3/spark-runtime/pom.xml
  spark/v3.1/spark-runtime/pom.xml
Labels: type:docs, module:spark, module:core, module:ams, type:build, module:dashboard

#732 [ARCTIC-731] Set max message size in thrift client
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ThriftClientPool.java
Labels: module:dashboard

#752 [AECTIC-744][ams] Fix no expire for no partition keyed table
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
Labels: module:ams, module:dashboard

#785 [ARCTC-754][AMS]Drop semicolon when executing sql in Terminal on AMS Dashboard
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionContext.java
Labels: module:ams, module:dashboard

#783 [ARCTIC-781] Modify the form of FileContent of native iceberg table
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestFileInfoCacheService.java
Labels: module:ams, module:dashboard

#755 [ARCTIC-712][AMS] Support for regular expressions to match database name for Hive Metastore
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  core/src/main/java/com/netease/arctic/catalog/BaseIcebergCatalog.java
Labels: module:core, module:dashboard
