Repository apache/amoro, pull requests merged in 2023-08, with the labels that each got.

#1768 [ARCTIC-1761]: Fix parquet dependency conflict.
  hive/pom.xml
Labels: module:hive, type:build

#1764 [ARCTIC-1745] Only skip partitions when the maximum size limit is exceeded
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
Labels: module:dashboard

#1718 [ARCTIC-1700] For unpartitioned Mixed Format KeydTable, using bin-packing to split tasks for Full Optimizing on root node
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/FileTree.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizePlan.java
Labels: module:ams, module:dashboard

#1760 [ARCTIC-1759]Change the project name in `README.md` and poms
  .gitignore
  .idea/vcs.xml
  README.md
  ams/api/pom.xml
  ams/dashboard/pom.xml
  ams/optimizer/pom.xml
  ams/pom.xml
  ams/server/pom.xml
  core/pom.xml
  dist/pom.xml
  dist/src/main/assemblies/bin.xml
  flink/pom.xml
  flink/v1.12/arctic-flink-1.12-iceberg-bridge/pom.xml
  flink/v1.12/arctic-flink-1.12-pulsar-bridge/pom.xml
  flink/v1.12/flink-format/pom.xml
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.12/flink/pom.xml
  flink/v1.14/arctic-flink-1.14-iceberg-bridge/pom.xml
  flink/v1.14/flink-format/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.15/arctic-flink-1.15-iceberg-bridge/pom.xml
  flink/v1.15/flink-format/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/pom.xml
  hive/pom.xml
  pom.xml
  spark/pom.xml
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.2/spark/pom.xml
  spark/v3.3/spark-runtime/pom.xml
  spark/v3.3/spark/pom.xml
  trino/pom.xml
Labels: type:docs, module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:infra, type:build, module:dashboard

#1755 [ARCTIC-1754] self-optimizing.enabled change true, trigger tryEvaluatingPendingInput
  ams/server/src/main/java/com/netease/arctic/server/table/executor/BaseTableExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:dashboard

#1780 [ARCTIC-1779] Fix the shade problem in ams-api
  ams/api/pom.xml
Labels: module:ams, type:build, module:dashboard

#1775 [ARCTIC-1774] Update the scheduling policy when updating optimizer group
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/SchedulingPolicy.java
Labels: module:dashboard

#1784 [ARCTIC-1783][lookup] The primary key serialization exception occurs when the primary key definition is different from the schema fields order
  core/src/main/java/com/netease/arctic/utils/SchemaUtil.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/lookup/KVTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/lookup/RocksDBCacheState.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/lookup/UniqueIndexTable.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/lookup/TestKVTable.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/lookup/KVTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/lookup/RocksDBCacheState.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/lookup/UniqueIndexTable.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/lookup/TestKVTable.java
Labels: module:flink, module:core

#1788 [ARCTIC-1787] [Improvement]: remove insert sql of local_catalog from ams-init.sql
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:dashboard

#1793 [ARCTIC-1783][lookup] Ensure that projection schemas are in the same order
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
Labels: module:flink

#1785 [AMORO-1782]: Support enviroment variable `AMORO_CONF_DIR`
  ams/api/src/main/java/com/netease/arctic/ams/api/Environments.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  dist/src/main/arctic-bin/bin/ams.sh
  dist/src/main/arctic-bin/bin/localOptimize.sh
Labels: module:ams, type:build, module:dashboard

#1799 [ARCTIC-1796] [Bug]: the configuration of "local.spark.sql.session.timeZone" caused a time difference of 8 time zones in the processing of time fields in the terminal
  dist/src/main/arctic-bin/conf/config.yaml
  docs/admin-guides/deployment.md
Labels: type:docs, type:build

#1798 [ARCTIC-1797][FLINK] Arctic Flink Runtime Jar doesn't include source code.
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.15/flink-runtime/pom.xml
Labels: module:flink, type:build

#1804 [AMORO-1802] Fix optimizing tasks failed to retry
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
Labels: module:dashboard

#1809 [AMORO-1808] New docker module for the Amoro
  docker/ams/Dockerfile
  docker/ams/flink-conf.yaml
  docker/build.sh
  docker/demo-cluster.sh
  docker/flink/.gitignore
  docker/flink/Dockerfile
Labels: type:build

#1816 [AMORO-1815] Failure to upgrade a partitioned hive table
  hive/src/main/java/com/netease/arctic/hive/utils/UpgradeHiveTableUtil.java
  hive/src/test/java/com/netease/arctic/hive/utils/TestUpgradeHiveTableUtil.java
Labels: module:hive

#1811 [AMORO-1807] When I upgrade a hive table and it fails, it deletes the original hive table
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
  hive/src/main/java/com/netease/arctic/hive/utils/UpgradeHiveTableUtil.java
  hive/src/test/java/com/netease/arctic/hive/catalog/TestArcticHiveCatalog.java
Labels: module:hive

#1821 [AMORO-1820]: Fix spark drop namespace error in rest catalog services.
  ams/server/src/main/java/com/netease/arctic/server/IcebergRestCatalogService.java
  ams/server/src/test/java/com/netease/arctic/server/TestIcebergRestCatalogService.java
Labels: module:dashboard

#1823 [AMORO-1822][Bug]: Failed to edit optimizer group
  ams/server/src/main/java/com/netease/arctic/server/optimizing/SchedulingPolicy.java
Labels: module:dashboard

#1825 [ARCTIC-1628] Rename `Independent` delete files to `Dangling` delete files
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestOrphanFileCleanIceberg.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  dist/src/main/arctic-bin/conf/config.yaml
  docs/user-guides/configurations.md
Labels: type:docs, module:core, type:build, module:dashboard

#1828 [AMORO-1826] Remove tasks from executing tasks when tasks are canceled
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
Labels: module:dashboard

#1819 [AMORO-1817] Remove JDK internal imports
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
Labels: module:core

#1831 [AMORO-1830] Fix AMS release thread pools after HA
  ams/server/src/main/java/com/netease/arctic/server/table/RuntimeHandlerChain.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/BaseTableExecutor.java
Labels: module:dashboard

#1832 [AMORO-1822]Fix editting group error
  ams/server/src/main/java/com/netease/arctic/server/optimizing/SchedulingPolicy.java
Labels: module:dashboard

#1833 [AMORO-1822]fix checktyle erros
  ams/server/src/main/java/com/netease/arctic/server/optimizing/SchedulingPolicy.java
Labels: module:dashboard

#1803 [AMORO-1789][Improvement]: modify the parameter transfer method for flink optimize
  ams/optimizer/pom.xml
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/FlinkOptimizerContainer.java
  ams/optimizer/src/test/java/com/netease/arctic/optimizer/TestFlinkOptimizerContainer.java
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, type:build, module:dashboard

#1848 [AMORO-1847]Update project version to 0.6.0-SNAPSHOT
  ams/api/pom.xml
  ams/dashboard/pom.xml
  ams/optimizer/pom.xml
  ams/pom.xml
  ams/server/pom.xml
  core/pom.xml
  dist/pom.xml
  flink/pom.xml
  flink/v1.12/arctic-flink-1.12-iceberg-bridge/pom.xml
  flink/v1.12/arctic-flink-1.12-pulsar-bridge/pom.xml
  flink/v1.12/flink-format/pom.xml
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.12/flink/pom.xml
  flink/v1.14/arctic-flink-1.14-iceberg-bridge/pom.xml
  flink/v1.14/flink-format/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.15/arctic-flink-1.15-iceberg-bridge/pom.xml
  flink/v1.15/flink-format/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/pom.xml
  hive/pom.xml
  pom.xml
  spark/pom.xml
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.2/spark/pom.xml
  spark/v3.3/spark-runtime/pom.xml
  spark/v3.3/spark/pom.xml
  trino/pom.xml
Labels: module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:build, module:dashboard

#1861 [AMORO-1839] Removed `SequenceNumberFetcher ` related codes
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedHivePartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/IcebergTableFileScanHelper.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/KeyedTableFileScanHelper.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/UnkeyedTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/commit/TestMixIcebergCommit.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/commit/TestUnKeyedTableCommit.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TableFileScanHelperTestBase.java
  core/src/main/java/com/netease/arctic/data/DefaultKeyedFile.java
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
  core/src/main/java/com/netease/arctic/data/IcebergDataFile.java
  core/src/main/java/com/netease/arctic/data/IcebergDeleteFile.java
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/io/reader/DataReaderCommon.java
  core/src/main/java/com/netease/arctic/utils/SequenceNumberFetcher.java
  core/src/main/java/org/apache/iceberg/ArcticChangeTableScan.java
  core/src/test/java/com/netease/arctic/io/DataTestHelpers.java
  core/src/test/java/com/netease/arctic/io/TestGenericCombinedIcebergDataReader.java
  core/src/test/java/com/netease/arctic/optimizing/IcebergFormatRewriteFilesExecutorTest.java
  core/src/test/java/com/netease/arctic/scan/TestChangeTableBasicIncrementalScan.java
Labels: module:core, module:dashboard

#1850 [AMORO-1845][Optimizer] Add calculate optimizer resource allocation on optimizer side
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/FlinkOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/LocalOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerConfig.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/local/LocalOptimizer.java
  ams/optimizer/src/test/java/com/netease/arctic/optimizer/OptimizerTestHelpers.java
  ams/optimizer/src/test/java/com/netease/arctic/optimizer/TestOptimizerConfig.java
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  dist/src/main/arctic-bin/bin/localOptimize.sh
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, type:build, module:dashboard

#1859 [WIP] [AMORO-1771] Add two line charts to the Table Transactions page, showing the count of table records and the count of table files.
  ams/dashboard/src/components/echarts/index.ts
  ams/dashboard/src/language/en.ts
  ams/dashboard/src/main/resources/static/css/app.67b9108c.css
  ams/dashboard/src/main/resources/static/css/app.e88a00e5.css
  ams/dashboard/src/main/resources/static/css/chunk-1909d840.1a34fd26.css
  ams/dashboard/src/main/resources/static/css/chunk-25a29656.6611baad.css
  ams/dashboard/src/main/resources/static/css/chunk-338566cb.2f63c45a.css
  ams/dashboard/src/main/resources/static/css/chunk-48cba1de.05827ac8.css
  ams/dashboard/src/main/resources/static/css/chunk-92e08122.039a4f8b.css
  ams/dashboard/src/main/resources/static/css/chunk-9bdcdd54.50ca6b3f.css
  ams/dashboard/src/main/resources/static/css/chunk-a42e0252.413b8385.css
  ams/dashboard/src/main/resources/static/css/chunk-f0807d3c.0d6cdd01.css
  ams/dashboard/src/main/resources/static/css/chunk-f0807d3c.daa51395.css
  ams/dashboard/src/main/resources/static/css/chunk-vendors.7d3fbeca.css
  ams/dashboard/src/main/resources/static/css/chunk-vendors.fff744e6.css
  ams/dashboard/src/main/resources/static/index.html
  ams/dashboard/src/main/resources/static/js/app.deaa4650.js
  ams/dashboard/src/main/resources/static/js/app.f849e672.js
  ams/dashboard/src/main/resources/static/js/chunk-1909d840.c505ec96.js
  ams/dashboard/src/main/resources/static/js/chunk-225a1827.5035f943.js
  ams/dashboard/src/main/resources/static/js/chunk-225a1827.5661c2ae.js
  ams/dashboard/src/main/resources/static/js/chunk-25a29656.1e7378ae.js
  ams/dashboard/src/main/resources/static/js/chunk-28b9a9cc.21611220.js
  ams/dashboard/src/main/resources/static/js/chunk-338566cb.377da617.js
  ams/dashboard/src/main/resources/static/js/chunk-48cba1de.1c604922.js
  ams/dashboard/src/main/resources/static/js/chunk-4c2e8835.59d12256.js
  ams/dashboard/src/main/resources/static/js/chunk-6a44215d.de3c9559.js
  ams/dashboard/src/main/resources/static/js/chunk-6a44215d.ea23bfd8.js
  ams/dashboard/src/main/resources/static/js/chunk-6c0073c7.7b968284.js
  ams/dashboard/src/main/resources/static/js/chunk-7c2b5c40.2a99aecf.js
  ams/dashboard/src/main/resources/static/js/chunk-7c2b5c40.44ffa0eb.js
  ams/dashboard/src/main/resources/static/js/chunk-7f33bb1f.ac1b385e.js
  ams/dashboard/src/main/resources/static/js/chunk-92e08122.10844cfd.js
  ams/dashboard/src/main/resources/static/js/chunk-9bdcdd54.5d315d56.js
  ams/dashboard/src/main/resources/static/js/chunk-a42e0252.12e44ea6.js
  ams/dashboard/src/main/resources/static/js/chunk-df61e0a8.f09ccb0c.js
  ams/dashboard/src/main/resources/static/js/chunk-e27313ec.5f25c400.js
  ams/dashboard/src/main/resources/static/js/chunk-e27313ec.64f5672f.js
  ams/dashboard/src/main/resources/static/js/chunk-eb399e28.1126f9f7.js
  ams/dashboard/src/main/resources/static/js/chunk-eb399e28.f53d5ac8.js
  ams/dashboard/src/main/resources/static/js/chunk-f0807d3c.68e39b15.js
  ams/dashboard/src/main/resources/static/js/chunk-f0807d3c.6a54eb27.js
  ams/dashboard/src/main/resources/static/js/chunk-vendors.16048d37.js
  ams/dashboard/src/main/resources/static/js/chunk-vendors.a76a40d9.js
  ams/dashboard/src/services/table.service.ts
  ams/dashboard/src/types/common.type.ts
  ams/dashboard/src/utils/chart.ts
  ams/dashboard/src/views/tables/components/Transactions.vue
Labels: module:dashboard

#1884 [AMORO-1744]Change project name to `Amoro` in the GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement.yml
  .github/ISSUE_TEMPLATE/subtask.yml
  .github/PULL_REQUEST_TEMPLATE
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/trino-ci.yml
Labels: type:infra

#1889 [AMORO-1864] fix metadata file has not been deleted
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
Labels: module:dashboard

#1886 [AMORO-1883] Perform file filtering when adding files to `PartitionEvaluator` instead of during splitting tasks
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedHivePartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/PartitionEvaluator.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
Labels: module:core, module:dashboard

#1684 [ARCTIC-1682] When Load Catalog or Get database fails, the optimize history of all tables under the catalog and database disappears
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
Labels: module:ams, module:dashboard

#1677 [ARCTIC-1603] The water mark is not displayed properly for tables without primary keys
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
Labels: module:dashboard

#1894 [AMORO-1893][Optimizer] Fix unit conversion for parameters `-msz` to spillmap configuration
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerExecutor.java
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:dashboard

#1895 [Improvement] Polish optimizing executor code
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
  core/src/main/java/com/netease/arctic/optimizing/AbstractRewriteFilesExecutor.java
  core/src/main/java/com/netease/arctic/optimizing/IcebergRewriteExecutor.java
  core/src/main/java/com/netease/arctic/optimizing/OptimizingCommitterFactory.java
  core/src/main/java/com/netease/arctic/optimizing/OptimizingDataReader.java
  core/src/main/java/com/netease/arctic/optimizing/OptimizingExecutor.java
  core/src/main/java/com/netease/arctic/optimizing/OptimizingExecutorFactory.java
  core/src/main/java/com/netease/arctic/optimizing/TableOptimizing.java
  hive/src/main/java/com/netease/arctic/hive/optimizing/MixFormatOptimizingDataReader.java
  hive/src/main/java/com/netease/arctic/hive/optimizing/MixFormatRewriteExecutor.java
  hive/src/main/java/com/netease/arctic/hive/optimizing/MixFormatRewriteExecutorFactory.java
Labels: module:core, module:hive

#1776 [AMORO-1765]: Add metric collection API
  ams/api/pom.xml
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/IcebergCommitReport.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/IcebergScanReport.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricReport.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricReporter.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/TaggedMetrics.java
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/metrics/MetricsReporters.java
  pom.xml
Labels: module:ams, type:build, module:dashboard

#1879 [AMORO-1870]: Support table filters to make AMS ignore tables that are not needed
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  core/src/main/java/com/netease/arctic/catalog/IcebergCatalogWrapper.java
  docs/admin-guides/managing-catalogs.md
Labels: type:docs, module:core, module:ams, module:dashboard

#1902 [AMORO-1765]: Add metric collection API
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/IcebergCommitReport.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/IcebergScanReport.java
Labels: module:ams, module:dashboard
