Repository apache/amoro, pull requests merged in 2023-02, with the labels that each got.

#1038 [AMS] set thrift client timeout
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/AmsClientPools.java
Labels: module:dashboard

#1031 [ARCTIC-1012] Fix Timestamp field type as a key will cause ClassCastException in Arctic Hive compatible table
  core/src/main/java/com/netease/arctic/io/reader/ArcticDeleteFilter.java
  core/src/main/java/com/netease/arctic/io/reader/BaseArcticDataReader.java
  core/src/main/java/com/netease/arctic/io/reader/DataReaderCommon.java
  hive/src/main/java/com/netease/arctic/hive/io/reader/AdaptHiveArcticDeleteFilter.java
  hive/src/main/java/com/netease/arctic/hive/io/reader/AdaptHiveBaseArcticDataReader.java
  hive/src/test/java/com/netease/arctic/hive/ArcticHiveTestMain.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/io/HiveTestRecords.java
  hive/src/test/java/com/netease/arctic/hive/io/KeyedTimeStampTest.java
  hive/src/test/java/com/netease/arctic/hive/io/TestIOUtils.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorPageSource.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedDeleteFilter.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedPageSourceProvider.java
Labels: module:core, module:hive, module:trino

#1044 [Arctic-620][Spark]: Support refresh table
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestKeyedTableDML.java
Labels: module:spark

#1032 [SPARK]Fix bug: when disable duplicate keys check, execute upsert will throw exception
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: module:spark

#1033 [ARCTIC-1027][SPARK]Create table like cannot display the primary key information when using kyuubi
  site/docs/ch/spark/spark-ddl.md
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/ArcticSparkExtensions.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/ArcticExtensionUtils.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/OptimizeWriteRule.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/RewriteDeleteFromArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/RewriteUpdateArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticStrategy.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestCreateKeyedTableAsSelect.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestCreateTableDDL.java
Labels: type:docs, module:spark

#1053 [ARCTIC-1052] fix close_wait problem caused by limit query
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorPageSource.java
Labels: module:trino

#1043 [ARCTIC-1029][FLINK] Make sure the LogKafka SQL job compatibility after refactor
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumer.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumerBase.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/LogEpicStateHandler.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumerThread.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaFetcher.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/LogReadHelper.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/internals/AbstractFetcher.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaConsumerThread.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaFetcher.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/KafkaDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumer.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumerBase.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/LogEpicStateHandler.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumerThread.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaFetcher.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/LogReadHelper.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/internals/AbstractFetcher.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaConsumerThread.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaFetcher.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/KafkaDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/util/TestUtil.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumer.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumerBase.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/LogEpicStateHandler.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumerThread.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/LogKafkaFetcher.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/LogReadHelper.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/internals/AbstractFetcher.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaConsumerThread.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaFetcher.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/KafkaDynamicSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/util/TestUtil.java
  site/config/ch/mkdocs.yml
  site/docs/ch/flink/flink-dml.md
  site/docs/ch/flink/upgrading-arctic-flink.md
Labels: type:docs, module:flink

#1051 [ARCTIC-985] fix thrift interface renewBlocker not throw `NoSuchObjectException` specifically
  ams/ams-api/src/main/gen-java/com/netease/arctic/ams/api/ArcticTableMetastore.java
  ams/ams-api/src/main/thrift/arctic_table_metastore.thrift
  core/src/main/java/com/netease/arctic/utils/CatalogUtil.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/util/DistributionAndOrderingUtil.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/KeyedSparkBatchWrite.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedSparkBatchWrite.java
Labels: module:spark, module:core, module:dashboard

#1072 [ARCTIC-994] fix serialization for target files of hive support table
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeTaskItem.java
Labels: module:ams

#1064 [ARCTIC-985] remove the useless expiration process of `table_transaction_meta`
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/TableTransactionMetaMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/ArcticTransactionService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/RuntimeDataExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/JDBCSqlSessionFactoryProvider.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/util/DerbyTestUtil.java
Labels: module:ams, module:dashboard

#1078 [Github]Trigger github ci for branch 0.3.x
  .github/workflows/ams-ci.yml
  .github/workflows/core-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/spark-ci.yml
  .github/workflows/trino-ci.yml
Labels: type:infra

#1056 [ARCTIC-1039][FLINK] Datastream API optimize
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/pulsar/LogPulsarSourceBuilder.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSink.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/descriptors/PulsarConfigurationConverter.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtil.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/hidden/pulsar/HiddenPulsarFactory.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/HiddenLogOperatorsTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSink.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtil.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSink.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/ArcticUtils.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/CompatibleFlinkPropertyUtil.java
  site/docs/ch/flink/flink-ds.md
Labels: type:docs, module:flink

#1046 [ARCTIC-1016] Moving files will fail if the target parent directory doesn't exist in HDFS
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveCommit.java
  core/src/main/java/com/netease/arctic/io/ArcticFileIO.java
  core/src/main/java/com/netease/arctic/io/ArcticHadoopFileIO.java
  core/src/test/java/com/netease/arctic/io/ArcticFileIoDummy.java
Labels: module:core, module:ams, module:dashboard

#1058 [ARCTIC-994] fix read legacy transaction id when MOR
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
  core/src/main/java/com/netease/arctic/op/KeyedPartitionRewrite.java
  core/src/main/java/com/netease/arctic/op/OverwriteBaseFiles.java
  core/src/main/java/com/netease/arctic/scan/BaseChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/op/OverwriteBaseFileTest.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticKeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/KeyedSparkBatchWrite.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/AlterArcticTableDropPartitionExec.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/TruncateArcticTableExec.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
Labels: module:spark, module:core, module:ams, module:hive, module:dashboard

#1084 [ARCTIC-1083] support modifying log4j2.xml dynamically
  dist/src/main/arctic-bin/conf/log4j2.xml
  dist/src/main/arctic-bin/conf/optimize/log4j2.xml
Labels: type:build

#1087 [ARCTIC-985] avoid NoSuchObjectException when renew blocker
  ams/ams-api/src/test/java/com/netease/arctic/ams/api/MockArcticMetastoreServer.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableBlockerService.java
  core/src/main/java/com/netease/arctic/table/blocker/RenewableBlocker.java
Labels: module:core, module:ams, module:dashboard

#1079 [Arctic-1066][Spark]:Fix ordered write error when using MixedHive unkeyedTable
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/SparkSQLProperties.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/util/DistributionAndOrderingUtil.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/UnkeyedSparkBatchWrite.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/OptimizeWriteRule.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/arctic/catalyst/ArcticSpark31CatalystHelper.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestOptimizeWrite.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedHiveInsertOverwriteStatic.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestUnkeyedHiveInsertOverwriteDynamic.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestUnkeyedHiveInsertOverwriteStatic.java
Labels: module:spark, priority:blocker, type:build

#1067 [hotfix] Using import statements replace the fully qualified package name of a class
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/InternalCatalogBuilder.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/InternalCatalogBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/InternalCatalogBuilder.java
Labels: module:flink

#1094 [ARCTIC-1062][AMS]Terminal support config spark properties in the local model
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ArcticMetaStoreConf.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalSessionFactory.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  site/docs/ch/guides/deployment.md
Labels: type:docs, module:ams, priority:blocker, module:dashboard

#1086 [AMS][Improvement]: Support set login user and login password in config yaml file
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ArcticMetaStoreConf.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/LoginController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/SettingController.java
  dist/src/main/arctic-bin/conf/config.yaml
  site/docs/ch/guides/deployment.md
Labels: type:docs, module:ams, type:build, module:dashboard

#1092 [ARCTIC-1091] Browser tab does not display Arctic's icon
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/AmsRestServer.java
Labels: module:ams, module:dashboard

#1099 [ARCTIC-1090][AMS]Terminal support add hadoop conf into sparkConf
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalManager.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalSessionFactory.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
Labels: module:spark, module:ams, module:dashboard

#1106 [hotfix] Lower the log level in ShuffleSplitAssigner
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
Labels: module:flink

#1101 [ARCTIC-1095][AMS] Add the sequence number for the native iceberg table when the major optimizing commit
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizeCommit.java
Labels: module:ams, module:dashboard

#1054 [ARCTIC-924][Hive] When AMS runs for a period of time and then cannot connect to HMS
  hive/src/main/java/com/netease/arctic/hive/ArcticHiveClientPool.java
Labels: module:hive

#1116 [Hotfix] merge master into 0.4.x
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/AmsRestServer.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ArcticMetaStoreConf.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/LoginController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/SettingController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/FileTree.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractArcticOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizePlanResult.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveMajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalManager.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalSessionFactory.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileCleanSupportHive.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOptimizeBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestSupportHiveMajorOptimizePlan.java
  dist/src/main/arctic-bin/conf/config.yaml
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  hive/src/main/java/com/netease/arctic/hive/ArcticHiveClientPool.java
  site/docs/ch/guides/deployment.md
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
Labels: type:docs, module:flink, module:spark, module:ams, module:hive, type:build, module:dashboard

#1113 [ARCTIC-1111] Address the deserializing exception of the array<string> type in the logstore
  core/src/main/java/com/netease/arctic/log/JsonToLogDataConverters.java
  flink/v1.12/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/shuffle/LogRecordV1Test.java
  flink/v1.14/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/shuffle/LogRecordV1Test.java
  flink/v1.15/flink-format/src/main/java/com/netease/arctic/flink/shuffle/LogRecordV1.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/shuffle/LogRecordV1Test.java
Labels: module:flink, module:core

#1118 [Docs]: Fix config problem in spark-conf page
  site/docs/ch/guides/deployment.md
  site/docs/ch/spark/spark-conf.md
Labels: type:docs

#1108 [ARCTIC-1107] Fix the problem that PartitionPropertiesUpdate can't remove key
  core/src/main/java/com/netease/arctic/op/PartitionPropertiesUpdate.java
  core/src/test/java/com/netease/arctic/op/UpdatePartitionPropertiesTest.java
Labels: module:core

#1130 [ARCTIC-1063] When the flink jobs reads the arctic table for a while, the flink job fails
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticEnumeratorOffset.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticEnumeratorOffsetSerializer.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousEnumerationResult.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImplTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticEnumeratorOffset.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticEnumeratorOffsetSerializer.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousEnumerationResult.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImplTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticEnumeratorOffset.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticEnumeratorOffsetSerializer.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousEnumerationResult.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/ArcticSourceTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImplTest.java
Labels: module:flink

#1131 [ARCTIC-985] fix upgrade sql for `table_blocker`
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.4.0-to-0.4.1.sql
Labels: module:ams, module:dashboard

#1137 [ARCTIC-1136] Fix the compatibility problems of `Tracer` between 0.3.x and 0.4.x
  ams/ams-api/src/main/gen-java/com/netease/arctic/ams/api/TableChange.java
  ams/ams-api/src/main/thrift/arctic_table_metastore.thrift
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
Labels: module:core, module:dashboard

#1122 [ARCTIC-1105][AMS] Fix snapshot expire and orphan clean misdelete the DataFiles
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/ContentFileUtil.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/HiveLocationUtils.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtil.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileCleanSupportHive.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtilTest.java
Labels: module:ams, module:dashboard

#1117 [ARCTIC-1114] Address Arctic file name parse error
  core/src/main/java/com/netease/arctic/data/file/FileNameGenerator.java
Labels: module:core

#1125 [ARTIC-1903] fix Minor Optimizing scans files with iceberg sequence and add more test cases for hive support table
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/properties/OptimizeTaskProperties.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ServerTableProperties.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/OptimizeHistoryMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/OptimizeTasksMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/derby/DerbyOptimizeTasksMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/BasicOptimizeTask.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/OptimizeHistory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TaskConfig.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractArcticOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BasicOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveFullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveMajorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableTaskHistoryService.java
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/main/resources/sql/mysql/0.4.1-init.sql
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.4.0-to-0.4.1.sql
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizeIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizingIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/AbstractOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/IcebergHadoopOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/MixedHiveOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/MixedIcebergOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMinorOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOptimizeBase.java
  core/src/main/java/com/netease/arctic/op/KeyedPartitionRewrite.java
  core/src/main/java/com/netease/arctic/op/OverwriteBaseFiles.java
  core/src/main/java/com/netease/arctic/op/PartitionTransactionOperation.java
  core/src/main/java/com/netease/arctic/op/RewritePartitions.java
  core/src/main/java/com/netease/arctic/scan/BasicKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableBasicIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/op/OverwriteBaseFileTest.java
  core/src/test/java/com/netease/arctic/op/RewritePartitionsTest.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
  spark/v2.3/spark/src/main/java/com/netease/arctic/spark/writer/ArcticKeyedSparkOverwriteWriter.java
  spark/v2.3/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/KeyedSparkBatchWrite.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/AlterArcticTableDropPartitionExec.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/TruncateArcticTableExec.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestOptimizeWrite.java
Labels: module:spark, module:core, module:ams, module:hive, module:dashboard

#1135 [ARCTIC-1134][Core] Fix kerberos authenticate failure
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
Labels: module:core

#1074 [ARCTIC-994] Transations should not display the empty snapshot
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/SnapshotStatistics.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UpdateTool.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestFileInfoCacheService.java
Labels: module:ams, module:dashboard

#1156 [ARCTIC-1153][Optimize] Put task back into the queue if polling tasks failed
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#1104 [ARCTIC-1103][AMS] Clear the optimizing tasks when the optimizing commit failed
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/TaskHistoryMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BasicOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeCheckTask.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
Labels: module:ams, module:dashboard

#1048 [ARCTIC-1047][Core] Fix the the logic of estimating size in the SimpleSpillableMap
  core/src/main/java/com/netease/arctic/utils/ObjectSizeCalculator.java
  core/src/main/java/com/netease/arctic/utils/StructLikeSet.java
  core/src/main/java/com/netease/arctic/utils/map/DefaultSizeEstimator.java
  core/src/main/java/com/netease/arctic/utils/map/SimpleSpillableMap.java
  core/src/main/java/com/netease/arctic/utils/map/SizeEstimator.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeCollections.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeMemoryMap.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeSpillableMap.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeWrapperSizeEstimator.java
  core/src/test/java/com/netease/arctic/utils/map/TestSimpleSpillableMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestSimpleSpilledMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestStructLikeMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestStructLikeWrapperSizeEstimator.java
  dist/src/main/arctic-bin/conf/config.yaml
  optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerConfig.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/AbstractExecutor.java
Labels: module:core, type:build

#1151 [ARCTIC-1150] Minor optimizing with many small files and TransactionId not in order
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractArcticOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizingIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/AbstractOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/MixedIcebergOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TableOptimizeItemTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/SequenceNumberFetcherTest.java
  core/src/main/java/com/netease/arctic/data/file/FileNameGenerator.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableBasicIncrementalScan.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableIncrementalScan.java
  core/src/test/java/com/netease/arctic/scan/ChangeTableBasicIncrementalScanTest.java
Labels: module:core, module:ams, module:dashboard

#1164 [Improvement]: Added the ams configuration items that can be configured in the configuration file
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/SettingController.java
Labels: module:ams, module:dashboard

#1168 [Arctic-1103][AMS] fix the condition of checking the tasks whether they can be clear (improve #1104)
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/TaskHistoryMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TableOptimizeItemTest.java
Labels: module:ams, module:dashboard
