Repository apache/amoro, pull requests merged in 2023-05, with the labels that each got.

#1405 [ARCTIC-1404][Core]Fix bug: Unable to synchronize newly added fields in non-primary table to Hive when use Spark
  hive/src/main/java/com/netease/arctic/hive/op/HiveOperationTransaction.java
  hive/src/main/java/com/netease/arctic/hive/op/HiveSchemaUpdate.java
  hive/src/main/java/com/netease/arctic/hive/table/UnkeyedHiveTable.java
  hive/src/test/java/com/netease/arctic/hive/op/TestHiveSchemaUpdate.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestCreateTableDDL.java
Labels: module:spark, module:hive

#1414 [ARCTIC-1346][AMS]Fix bug: When AMS is deployed HA, use Kerberos to access non-Kerberos zookeeper will throw an exception
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ArcticZookeeperFactory.java
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ZookeeperService.java
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.3/spark-runtime/pom.xml
Labels: module:spark, type:build, module:dashboard

#1417 [Arctic-1372] Resolve compile error
  trino/src/main/java/com/netease/arctic/trino/ArcticCatalogSupportTableSuffix.java
Labels: module:trino

#1371 [ARCTIC-1367][hive] fix `NullPointerException` for null partition value for Mixed Hive Table
  hive/src/main/java/com/netease/arctic/hive/utils/HivePartitionUtil.java
Labels: module:hive

#1421 [AMS-Refactor] fix runtime bug
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftClientPool.java
  ams/pom.xml
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/MapBoolean2StringConverter.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/MapLong2StringConverter.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/PartitionField2StringConverter.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/CatalogMetaMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizerMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/ResourceMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/TableMetaMapper.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeCollections.java
  dist/src/main/arctic-bin/bin/ams.sh
  dist/src/main/arctic-bin/bin/localOptimize.sh
  dist/src/main/arctic-bin/conf/config.yaml
  dist/src/main/assemblies/bin.xml
Labels: module:core, module:ams, type:build, module:dashboard

#1425 Commit the DeleteFile delete operation separately in Iceberg Format
  ams/server/src/main/java/com/netease/arctic/server/optimizing/IcebergCommit.java
Labels: module:dashboard

#1430 [AMS-Refactor] fix runtime bug
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/MetricsSummary.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/java/com/netease/arctic/server/table/ServerTableIdentifier.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:dashboard

#1433 [AMS-Refactor] fix runtime bug
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/SettingController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingConfig.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:dashboard

#1432 [ARCTIC-1431][FLINK][Bug]: when Logstore failover, will encouter ClassCastException
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceFetcherManager.java
Labels: module:flink

#1434 [Arctic-1372][Refactor-AMS] Add unit test for executors
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/ExecutorTestUtil.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestHiveCommitSync.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestOrphanFileCleanHive.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestOrphanFileCleanIceberg.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestOrphanFileCleanMix.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestSnapshotExpireHive.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestSnapshotExpireIceberg.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/excutors/TestSnapshotExpireMix.java
Labels: module:dashboard

#1435 [Arctic-1372][Refactor-AMS] Refactor package name
  ams/server/src/test/java/com/netease/arctic/server/excutors/ExecutorTestUtil.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestHiveCommitSync.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileCleanHive.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileCleanIceberg.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileCleanMix.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpireHive.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpireIceberg.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpireMix.java
Labels: module:dashboard

#1441 [AMS-Refactor] Abstracted test code
  ams/server/src/test/java/com/netease/arctic/server/excutors/ExecutorTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestHiveCommitSync.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileClean.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileCleanHive.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileCleanIceberg.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpire.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpireHive.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpireIceberg.java
Labels: module:dashboard

#1442 [AMS-Refactor]Use ArcticSparkSessionCatalog for terminal
  ams/server/src/main/java/com/netease/arctic/server/terminal/SparkContextUtil.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalSession.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalSessionFactory.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/kyuubi/KyuubiSession.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/local/LocalSessionFactory.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/local/LocalTerminalSession.java
Labels: module:dashboard

#1393 [Arctic-414][Improvement]: Refresh the arctic properties in the FlinkTablePropertiesInvocationHandler after table refreshed
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/interceptor/FlinkTablePropertiesInvocationHandler.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/catalog/TestCatalog.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/interceptor/FlinkTablePropertiesInvocationHandler.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/catalog/CatalogTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/interceptor/FlinkTablePropertiesInvocationHandler.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/catalog/TestCatalog.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
Labels: module:flink

#1428 [WIP][AMS-Refactor] merge allocating transaction id from AMS
  ams/api/src/test/java/com/netease/arctic/ams/api/MockArcticMetastoreServer.java
  ams/server/src/main/java/com/netease/arctic/server/TableManagementService.java
Labels: module:ams, module:dashboard

#1445 [ARCTIC-1444] When executing the drop_metadata command with the repair tool, the Hive table was also deleted
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/maintainer/command/TableCall.java
Labels: module:ams, module:dashboard

#1429 [Arctic-1403]: Spark CTAS write to hive location for unkeyed table
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestCreateTableAsSelect.java
  spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestCreateTableAsSelect.java
  spark/v3.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestCreateTableAsSelect.java
Labels: module:spark

#1463 [Arctic-1350][Hive]: Improvement the performance of orphan file check when hive table commit
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
Labels: module:hive

#1461 [ARCTIC-965][AMS] Fix `temp` method use `ArcticTableOperations` for Kerberos auth (pick 984)
  core/src/main/java/com/netease/arctic/op/ArcticTableOperations.java
Labels: module:core

#1460 [ARCTIC-1346][AMS]Fix bug: When AMS is deployed HA, use Kerberos to a…ccess non-Kerberos zookeeper will throw an exception. cherry-pick from #1414
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ArcticZookeeperFactory.java
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ZookeeperService.java
  spark/v3.1/spark-runtime/pom.xml
Labels: module:spark, type:build, module:dashboard

#1459 [AMS-Refactor] fix runtime bug and add unit test
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/SettingController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/MetricsSummary.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/PersistentBase.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/TaskFilesPersistence.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/Object2ByteArrayConvert.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/ResourceMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/TableMetaMapper.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/AbstractOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/BaseOptimizingChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/IcebergHadoopOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/MixedHiveOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/MixedIcebergOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/OptimizingIntegrationTest.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/NestedSqlSessionTest.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/PersistentBaseTest.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/StatedPersistentBaseTest.java
  core/src/main/java/com/netease/arctic/data/IcebergContentFile.java
  core/src/test/java/com/netease/arctic/IcebergTableTestHelper.java
Labels: module:core, module:dashboard

#1464 [Arctic-1403][Pick-1429]: Spark CTAS write to hive location for unkeyed table
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
Labels: module:spark

#1465 [Arctic-1350][Pick-1463][Hive]: Improvement the performance of orphanfile check when hive table commit
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
Labels: module:hive

#1466 [Refactor-AMS] Fix some bugs and polish UT test
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileClean.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestOrphanFileCleanHive.java
  ams/server/src/test/java/com/netease/arctic/server/excutors/TestSnapshotExpire.java
Labels: module:dashboard

#1472 [AMS-Refactor] Solve some restart problems
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/Object2ByteArrayConvert.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:dashboard

#1450 [WIP]Upgrade SQL script
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
Labels: module:dashboard

#1468 [AMS-Refactor] add scan table file list
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/SettingController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/PartitionBaseInfo.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/PartitionFileBaseInfo.java
  dist/src/main/arctic-bin/conf/config.yaml
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
Labels: module:hive, type:build, module:dashboard

#1480 [AMS-Refactor] Optimizing trigger support hive/base max delay for each partition
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingConfig.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedHivePartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/PartitionEvaluator.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestHiveKeyedPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestHiveOptimizingEvaluator.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestHiveUnkeyedPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestKeyedPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestOptimizingEvaluator.java
  core/src/main/java/com/netease/arctic/op/KeyedPartitionRewrite.java
  core/src/main/java/com/netease/arctic/op/OverwriteBaseFiles.java
  core/src/main/java/com/netease/arctic/op/PartitionTransactionOperation.java
  core/src/main/java/com/netease/arctic/op/RewritePartitions.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/op/TestOverwriteBaseFile.java
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
Labels: module:core, module:hive, module:dashboard

#1483 [ARCTIC-1482][Flink]: When making a connection via ams in high availability mode, NoClassDefFoundError is encountered
  flink/v1.12/flink-runtime/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  site/docs/ch/flink/flink-ddl.md
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.3/spark-runtime/pom.xml
Labels: type:docs, module:flink, module:spark, type:build

#1486 [AMS-Refactor] fix update catalog properties
  ams/server/src/main/java/com/netease/arctic/server/catalog/IcebergCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/MixedCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/MixedHiveCatalogImpl.java
  core/src/main/java/com/netease/arctic/catalog/IcebergCatalogWrapper.java
  hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
Labels: module:core, module:hive, module:dashboard

#1487 [AMS-Refactor] fix optimizing integration test
  ams/api/src/main/java/com/netease/arctic/ams/api/PropertyNames.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/AbstractResourceContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/FlinkOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerExecutor.java
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/SqlExample.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/AbstractOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/BaseOptimizingChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestIcebergHadoopOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedHiveOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedIcebergOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestOptimizingIntegration.java
  core/src/test/java/com/netease/arctic/IcebergTableTestHelper.java
Labels: module:core, module:ams, type:build, module:dashboard

#1488 [Refactor-AMS] Fix TableRuntime recreate
  ams/server/src/main/java/com/netease/arctic/server/catalog/ExternalCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:dashboard

#1344 [ARCITC-1166][Trino] Trino supports table statistics for the keyed table
  README.md
  site/docs/ch/guides/deployment.md
  trino/src/main/java/com/netease/arctic/trino/ArcticConfig.java
  trino/src/main/java/com/netease/arctic/trino/ArcticConnectorMetadata.java
  trino/src/main/java/com/netease/arctic/trino/ArcticModule.java
  trino/src/main/java/com/netease/arctic/trino/ArcticSessionProperties.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorMetadata.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergMetadata.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergPageSourceProvider.java
  trino/src/test/java/com/netease/arctic/trino/arctic/HiveTestRecords.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TableTestBaseForTrino.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TableTestBaseWithInitDataForTrino.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestBaseArcticPrimaryTable.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTable.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTableBaseForTrino.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/BaseConnectorTest.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/SchemaInitializer.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticCatalogFactory.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticConnectorFactory.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticPlugin.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticTable.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestBaseArcticConnectorTest.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestBasicArcticCatalog.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestOnServerArcticConnectorTest.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestUnionModule.java
Labels: type:docs, module:trino

#1491 [ARCTIC-1423][FLINK]: OffsetOutOfRangeException is encountered when the arctic logstore failover.
  flink/v1.12/flink/pom.xml
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplit.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceFetcherManager.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceReader.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceFetcherManager.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceReader.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
Labels: module:flink, type:build

#1495 [AMS-Refactor] make `TableRuntime`'s fileds as `StateField`
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/table/RuntimeHandlerChain.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:dashboard
