Repository apache/amoro, pull requests merged in 2023-11, with the labels that each got.

#2206 Bump fastjson to 1.2.83
  pom.xml
Labels: type:build

#2172 [AMORO-2145] Support Http interface for Tags and Branches
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/FormatTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/TagOrBranchInfo.java
Labels: module:dashboard

#2219 [AMORO-2218] Fix AMS's classpath order not consistent
  dist/src/main/arctic-bin/bin/ams.sh
Labels: type:build

#2229 [AMORO-2168]:Fix-2183 FileNameRules adapt to hidden filename.
  core/src/main/java/com/netease/arctic/data/FileNameRules.java
  core/src/test/java/com/netease/arctic/io/TestFileNameGenerator.java
Labels: module:core

#2228 [AMORO-2227] Fix displaying the change store metrics of Mixed KeyedTable
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  core/src/main/java/com/netease/arctic/utils/ConvertStructUtil.java
  core/src/main/java/com/netease/arctic/utils/SnapshotFileUtil.java
Labels: module:core, module:dashboard

#2224 [AMORO-2223]Cast empty partition data to NULL to avoid creating empty partition directory.
  core/src/main/java/com/netease/arctic/optimizing/IcebergRewriteExecutor.java
  hive/src/main/java/com/netease/arctic/hive/optimizing/MixFormatRewriteExecutor.java
Labels: module:core, module:hive

#2220 [Pick-2183][AMORO-2168] Support hive commit protocol in mixed-hive format.
  core/src/main/java/com/netease/arctic/data/file/FileNameGenerator.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/test/java/com/netease/arctic/io/DataTestHelpers.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveGenericTaskWriterBuilder.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveOutputFileFactory.java
  hive/src/main/java/com/netease/arctic/hive/op/OverwriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/op/RewriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/table/SupportHive.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveCommitUtil.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/io/HiveDataTestHelpers.java
  hive/src/test/java/com/netease/arctic/hive/op/AutoSyncHiveTest.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
  hive/src/test/java/com/netease/arctic/hive/utils/HiveMetaSynchronizerTest.java
  site/docs/ch/configurations.md
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkCatalogTestGroup.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/io/TestConsistentWrite.java
Labels: type:docs, module:flink, module:spark, module:core, module:hive

#2231 [docs] Update some images in docs to version 0.6.0 of Amoro
  docs/images/admin/add-optimizer-group.png
  docs/images/admin/config-optimizer-group.png
  docs/images/admin/create-catalog.png
  docs/images/admin/delete_catalog.png
  docs/images/admin/optimizer_management.png
  docs/images/admin/optimizer_metrics.png
  docs/images/admin/optimizer_release.png
  docs/images/admin/optimizer_scale.png
  docs/images/admin/optmizer_scale_result.png
  docs/images/admin/table_metrics.png
  docs/images/admin/table_optimized_tab.png
  docs/images/admin/table_optimizer_history.jpg
  docs/images/admin/table_optimizer_history.png
  docs/images/admin/terminal_introduce.png
  docs/images/admin/watermark_table_detail.png
  docs/images/arctic_banner.png
  docs/images/concepts/quota-occupation.png
  docs/images/flink/auto-writer.png
  docs/images/flink/double-write.png
Labels: type:docs

#2230 [AMORO-2225] Change the default value of `self-optimizing.major.trigger.duplicate-ratio` to 0.1
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  docs/user-guides/configurations.md
  flink/flink-common/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveGenericTaskWriterBuilder.java
  hive/src/test/java/com/netease/arctic/hive/io/HiveDataTestHelpers.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/writer/TestSparkWriter.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/writer/TestSparkWriter.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/writer/TestSparkWriter.java
Labels: type:docs, module:flink, module:spark, module:core, module:hive, module:dashboard

#2205 [AMORO-1070][Fix] Support comments in terminal
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalSessionContext.java
Labels: module:dashboard

#2234 [Doc]Add paimon doc about how to use s3 or oss
  docs/formats/paimon.md
Labels: type:docs

#2233 [DOC] Update code formatting description in `CONTRIBUTING.md`
  CONTRIBUTING.md
  pom.xml
  style/arctic-checkstyle.xml
  style/idea/intellij-java-palantir-style.xml
  style/suppressions.xml
Labels: type:docs, type:infra, type:build

#2237 [doc] Update some images for upgrading hive table
  docs/images/admin/hive-table-detail.png
  docs/images/admin/hive-table-upgrade.png
Labels: type:docs

#2221 [AMORO-2217] 0.4.x fix clear and reset ServiceContainer after HA
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/ServiceContainer.java
Labels: module:ams, module:dashboard

#2235 [Hotfix]Delete sync tables when drop external catalogs
  ams/server/src/main/java/com/netease/arctic/server/catalog/ServerCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
Labels: module:dashboard

#2247 [DOC] Fixed a counting error
  docs/formats/overview.md
Labels: type:docs

#2249 [AMORO-2253] Mixed Format `optimized-sequence` should not contains the skipped partitions
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
Labels: module:dashboard

#2245 [AMORO-2244] fix 0.4.x `Failed` optimizing tasks should not change to `Prepared`
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeTaskItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#2236 [AMORO-2117] Support Http interface for getting details of optimizing tasks
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/FormatTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizingTaskInfo.java
Labels: module:dashboard

#1834 [AMORO-1720] Amoro Mixed Format KeyedTable support getting `optimizedSequence` from snapshot level
  ams/server/src/main/java/com/netease/arctic/server/optimizing/KeyedTableCommit.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/KeyedTableFileScanHelper.java
  ams/server/src/main/java/com/netease/arctic/server/table/KeyedTableSnapshot.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/BaseOptimizingChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/OptimizingTestHelpers.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedHiveOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedIcebergOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestSnapshotExpire.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestKeyedPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestKeyedTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestDataExpire.java
  core/src/main/java/com/netease/arctic/op/ArcticTransaction.java
  core/src/main/java/com/netease/arctic/op/KeyedPartitionRewrite.java
  core/src/main/java/com/netease/arctic/op/OverwriteBaseFiles.java
  core/src/main/java/com/netease/arctic/op/PartitionTransactionOperation.java
  core/src/main/java/com/netease/arctic/op/RewritePartitions.java
  core/src/main/java/com/netease/arctic/scan/BasicKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableIncrementalScan.java
  core/src/main/java/com/netease/arctic/table/BasicUnkeyedTable.java
  core/src/main/java/com/netease/arctic/utils/ArcticTableUtil.java
  core/src/main/java/com/netease/arctic/utils/StatisticsFileUtil.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/main/java/org/apache/iceberg/MixedChangeTableScan.java
  core/src/test/java/com/netease/arctic/op/TestOverwriteBaseFile.java
  core/src/test/java/com/netease/arctic/op/TestRewritePartitions.java
  core/src/test/java/com/netease/arctic/scan/TestMixedChangeTableScan.java
  core/src/test/java/com/netease/arctic/utils/TestStatisticsFileUtil.java
  hive/src/main/java/com/netease/arctic/hive/op/HiveOperationTransaction.java
Labels: module:core, module:hive, module:dashboard

#2265 [AMORO-2264] Flink Create Amoro CatalogTableImpl Use CatalogTable.of
  flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
Labels: module:flink

#2267 Update project version to 0.7.0-SNAPSHOT
  ams/api/pom.xml
  ams/dashboard/pom.xml
  ams/optimizer/common/pom.xml
  ams/optimizer/flink-optimizer/pom.xml
  ams/optimizer/pom.xml
  ams/optimizer/standalone-optimizer/pom.xml
  ams/pom.xml
  ams/server/pom.xml
  core/pom.xml
  dist/pom.xml
  flink/flink-common-format/pom.xml
  flink/flink-common-iceberg-bridge/pom.xml
  flink/flink-common/pom.xml
  flink/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/pom.xml
  flink/v1.16/flink-runtime/pom.xml
  flink/v1.16/flink/pom.xml
  flink/v1.17/flink-runtime/pom.xml
  flink/v1.17/flink/pom.xml
  hive/pom.xml
  pom.xml
  spark/common/pom.xml
  spark/pom.xml
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.2/spark/pom.xml
  spark/v3.3/spark-runtime/pom.xml
  spark/v3.3/spark/pom.xml
  trino/pom.xml
Labels: module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:build, module:dashboard

#2275 [DOC] Add a supported table format
  README.md
Labels: type:docs

#2280 [AMORO-2279] Retry failed tasks when restarting AMS
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
Labels: module:dashboard

#2283 fix the optimizer-job.jar path error in the document
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#2274 [AMORO-2271]: Exclude shade org.apache.thrift.TException in flink runtime.
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.16/flink-runtime/pom.xml
  flink/v1.17/flink-runtime/pom.xml
Labels: module:flink, type:build

#2294 [AMORO-2293] Using MetricsManager in a singleton manner
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/IcebergRestCatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/manager/MetricsManager.java
Labels: module:dashboard

#2300 [Doc] Fix a download jump url error on the Deploy page.
  docs/admin-guides/deployment.md
Labels: type:docs

#2292 [AMORO-2291] Put system database username into Secrets
  ams/server/src/test/java/com/netease/arctic/server/util/TestConfigurationUtil.java
  charts/amoro/templates/amoro-database-secert.yaml
  charts/amoro/templates/amoro-deployment.yaml
Labels: module:dashboard

#2288 [AMORO-2289][MIX-ICEBERG]: Fix the failure when creating a table and immediately retrieving Blocker.
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
Labels: module:dashboard

#2285 [AMORO-2284] Remove Flink Deprecated LogStore Implements
  docs/engines/flink/flink-dml.md
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumer.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/FlinkKafkaConsumerBase.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/LogEpicStateHandler.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumer.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/LogKafkaConsumerThread.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/LogKafkaFetcher.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/LogReadHelper.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/internals/AbstractFetcher.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/internals/KafkaConsumerThread.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/read/internals/KafkaFetcher.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/table/KafkaDynamicSource.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/flink-common/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
Labels: type:docs, module:flink

#2301 Fix typo in dashboard's README.md
  ams/dashboard/README.md
Labels: module:dashboard

#2268 [AMORO-2266] Improve combined data reader performance
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/TestKeyedContinuousOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/TestUnKeyedContinuousOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/view/KeyedTableDataView.java
  core/src/main/java/com/netease/arctic/io/reader/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
  core/src/main/java/com/netease/arctic/io/reader/StructLikeFunnel.java
  core/src/main/java/com/netease/arctic/utils/SerializationUtil.java
  core/src/test/java/com/netease/arctic/io/TestIcebergCombinedReader.java
  core/src/test/java/com/netease/arctic/io/TestIcebergCombinedReaderVariousTypes.java
Labels: module:core, module:dashboard

#2304 [AMORO-2302]: Donot trigger optimizing for mixed iceberg table store in Iceberg catalog.
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
Labels: module:core, module:dashboard

#2157 [AMORO-2156]: Mixed-Iceberg based on `org.apache.iceberg.RestCatalog` for InternalCatalog
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/RestCatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/TableManagementService.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogBuilder.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/InternalCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/InternalIcebergCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/InternalMixedCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/MixedHiveCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/iceberg/InternalTableOperations.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/IcebergInternalTableOperations.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalIcebergCreator.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalIcebergHandler.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalMixedIcebergCreator.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalMixedIcebergHandler.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalTableConstants.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalTableCreator.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalTableHandler.java
  ams/server/src/main/java/com/netease/arctic/server/table/internal/MixedIcebergInternalTableStoreOperations.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/main/java/com/netease/arctic/server/utils/InternalTableUtil.java
  ams/server/src/main/resources/postgres/ams-postgres-init.sql
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  ams/server/src/test/java/com/netease/arctic/server/RestCatalogServiceTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/TestInternalIcebergCatalogService.java
  ams/server/src/test/java/com/netease/arctic/server/TestInternalMixedCatalogService.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestIcebergHadoopOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestOptimizingIntegration.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableService.java
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/main/java/com/netease/arctic/catalog/CatalogLoader.java
  core/src/main/java/com/netease/arctic/mixed/BasicMixedIcebergCatalog.java
  core/src/main/java/com/netease/arctic/mixed/InternalMixedIcebergCatalog.java
  core/src/main/java/com/netease/arctic/mixed/MixedTables.java
  core/src/main/java/com/netease/arctic/table/PrimaryKeySpec.java
  core/src/main/java/com/netease/arctic/utils/CatalogUtil.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/catalog/TestBasicArcticCatalog.java
  core/src/test/java/com/netease/arctic/catalog/TestCatalogLoader.java
  core/src/test/java/com/netease/arctic/catalog/TestMixedCatalog.java
  core/src/test/java/com/netease/arctic/io/MixedDataTestHelpers.java
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  hive/src/test/java/com/netease/arctic/hive/catalog/TestArcticHiveCatalog.java
  hive/src/test/java/com/netease/arctic/hive/catalog/TestMixedHiveCatalog.java
  spark/common/src/test/java/com/netease/arctic/spark/test/SparkTestContext.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
Labels: module:spark, module:core, module:hive, module:dashboard

#2313 [BugFix][Spark]: Add default value of table-filters in spark scan builder to avoid NPE when comparing the table scan.
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/KeyedSparkBatchScan.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/SparkScanBuilder.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/reader/KeyedSparkBatchScan.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/reader/SparkScanBuilder.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/reader/KeyedSparkBatchScan.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/reader/SparkScanBuilder.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
Labels: module:spark

#2317 [AMORO-2295]: Fix the table property `watermark.base` conflict for keyed-table
  core/src/main/java/com/netease/arctic/table/BasicKeyedTable.java
Labels: module:core

#2262 [AMORO-2259] Support collecting the number of records into the metrics of Optimizing
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizingProcessInfo.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/OptimizingUtil.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/MetricsSummary.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/JsonObjectConverter.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/BaseOptimizingChecker.java
Labels: module:dashboard

#2320 [hotfix] Fix deleting Puffin files when cleaning orphan files
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestOrphanFileClean.java
Labels: module:dashboard

#2337 [AMORO-2336] Set the renew blocker thread to be a daemon thread
  core/src/main/java/com/netease/arctic/table/blocker/RenewableBlocker.java
Labels: module:core

#2331 [AMORO-2329]: Miss ChangeStore && PrimaryKeySpec in table detail when creating mixed-iceberg table in InternalCatalog.
  ams/server/src/main/java/com/netease/arctic/server/table/internal/InternalMixedIcebergCreator.java
  ams/server/src/test/java/com/netease/arctic/server/TestInternalMixedCatalogService.java
Labels: module:dashboard

#2314 [AMORO-2246] Make Trino stats only calculate on base store
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorMetadata.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestBaseArcticPrimaryTable.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTable.java
Labels: module:trino

#2325 [AMORO-2324] Use 'DateTimeFormatter' to avoid format parsing exceptions in multithreading
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
  core/src/test/java/com/netease/arctic/utils/TestArcticDataFiles.java
Labels: module:core

#2298 [AMORO-2296] Add cache for loading tables in core and trino
  core/src/main/java/com/netease/arctic/mixed/BasicMixedIcebergCatalog.java
  trino/src/main/java/com/netease/arctic/trino/ArcticConnectorMetadata.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergMetadata.java
Labels: module:core, module:trino

#2349 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: type:docs

#2354 [AMORO-2318]: Fix cost time for TaskRunTime
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
Labels: module:dashboard

#2358 [AMORO-2357] Flink Use LookupFunctionProvider Replace Deprecated TableFunctionProvider
  flink/flink-common/src/main/java/com/netease/arctic/flink/lookup/ArcticRowDataLookupFunction.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/lookup/BasicLookupFunction.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
Labels: module:flink

#2239 [AMORO-1457]Support computed columns and watermark in Flink DDL
  docs/engines/flink/flink-ddl.md
  flink/flink-common/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/flink-common/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
  flink/flink-common/src/test/java/com/netease/arctic/flink/TestFlinkSchemaUtil.java
  flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestCatalog.java
Labels: type:docs, module:flink

#2351 [AMORO-2350] Fix native iceberg format optimize evaluation trigger condition
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:dashboard

#2368 Fix typo in OptimizingInputProperties.java
  core/src/main/java/com/netease/arctic/optimizing/OptimizingInputProperties.java
Labels: module:core

#2353 [AMORO-2352] Fix some typo in markdown docs
  README.md
  ams/dashboard/src/views/introduce/index.vue
  docs/_index.md
  docs/admin-guides/deployment.md
  docs/admin-guides/managing-catalogs.md
  docs/admin-guides/managing-optimizers.md
  docs/concepts/catalogs.md
  docs/concepts/table-watermark.md
  docs/images/concepts/freshness_cost_performance.png
  docs/user-guides/using-tables.md
Labels: type:docs, module:dashboard

#2347 [AMORO-2286] The mixed hive should be allowed to be dropped when the hive table has already been dropped
  hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveTableUtil.java
Labels: module:hive

#2343 [AMORO-2316] The Files page supports filtering by partition name and sorting by dictionary value
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
Labels: module:dashboard

#2372 [AMORO-2341] Unify the naming format for threads
  ams/api/src/test/java/com/netease/arctic/ams/api/MockArcticMetastoreServer.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/BaseTableExecutor.java
  core/src/main/java/com/netease/arctic/table/blocker/RenewableBlocker.java
  hive/src/test/java/com/netease/arctic/hive/HMSMockServer.java
Labels: module:core, module:ams, module:hive, module:dashboard

#2328 [AMORO-1960] Refactor data expiration to TableMaintainer
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/TableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/table/DataExpirationConfig.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/DataExpiringExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestDataExpire.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestDataExpireHive.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestDataExpireIceberg.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
  docs/user-guides/using-tables.md
Labels: type:docs, module:core, module:dashboard
