Repository apache/amoro, pull requests merged in 2023-10, with the labels that each got.

#2057 [Infra] Add icon for Intellij IDEA and Toolbox
  .gitignore
  .idea/icon.svg
Labels: type:infra

#2050 [AMORO-2049]Ams Server always executes initSqlScript when using mysql8
  ams/server/src/main/java/com/netease/arctic/server/persistence/SqlSessionFactoryProvider.java
Labels: module:dashboard

#2030 [AMORO-2012]Remove useless dependencies for project
  ams/api/pom.xml
  ams/optimizer/pom.xml
  ams/pom.xml
  ams/server/pom.xml
  core/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.15/flink/pom.xml
  hive/pom.xml
  pom.xml
  spark/common/pom.xml
  spark/v3.1/spark/pom.xml
  spark/v3.2/spark/pom.xml
  spark/v3.3/spark/pom.xml
  trino/pom.xml
Labels: module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:build, module:dashboard

#2046 [AMORO-2047]: AMS move `bin/config.sh` to `conf/jvm.properties`
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/LocalOptimizerContainer.java
  dist/src/main/arctic-bin/bin/ams.sh
  dist/src/main/arctic-bin/bin/config.sh
  dist/src/main/arctic-bin/bin/load-config.sh
  dist/src/main/arctic-bin/bin/optimizer.sh
  dist/src/main/arctic-bin/conf/jvm.properties
  dist/src/main/arctic-bin/conf/optimize/log4j2.xml
  docs/admin-guides/deployment.md
Labels: type:docs, type:build, module:dashboard

#2062 [AMORO-2061] Fix Flink LookUpJoin TestLookup Test Failed
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/LookupITCase.java
Labels: module:flink

#2058 [AMORO-2056] Replace commandline banner from `Javalin` to `Amoro`
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
Labels: module:dashboard

#2063 [Improvement]: Change socpe of `amoro:spark` to runtime in `ams/server` dependency.
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/terminal/SparkContextUtil.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/local/LocalSessionFactory.java
Labels: type:build, module:dashboard

#2053 [AMORO-2023][Subtask]: Flink Kafka unit testing improvements
  flink/v1.15/arctic-flink-1.15-iceberg-bridge/pom.xml
  flink/v1.15/flink/pom.xml
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/catalog/TestCatalog.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaConfigGenerate.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaContainerTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaTestBase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaTestEnvironment.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaTestEnvironmentImpl.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaConsumer.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/TestHiddenKafkaProducer.java
Labels: module:flink, type:build

#2067 [DOC] Fix `FLINK_HADOOP_SHADE_VERSION` for Flink getting started docs
  docs/engines/flink/flink-get-started.md
Labels: type:docs

#2072 [Hotfix]: Fix ci problem in master branch
  ams/server/src/test/java/com/netease/arctic/server/manager/TestActivePluginManager.java
Labels: module:dashboard

#2073 [AMORO-1935] Change the default value of Self-Optimizing split task size to 128MB
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
Labels: type:docs, module:core

#1994 [AMORO-1940] Support list partitions via flink catalog
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/TestArcticCatalogTablePartitions.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/TestArcticCatalogTablePartitions.java
Labels: module:flink

#2077 [Improvement]: Optimizer-container refactor into ams/server
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/Resource.java
  ams/optimizer-container/src/main/java/com/netease/arctic/optimizer/container/FlinkConf.java
  ams/optimizer-container/src/main/java/com/netease/arctic/optimizer/container/PropertyUtil.java
  ams/optimizer/common/pom.xml
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/Optimizer.java
  ams/optimizer/flink-optimizer/pom.xml
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkToucher.java
  ams/optimizer/pom.xml
  ams/optimizer/standalone-optimizer/pom.xml
  ams/optimizer/standalone-optimizer/src/main/java/com/netease/arctic/optimizer/standalone/StandaloneOptimizer.java
  ams/pom.xml
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/manager/AbstractResourceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/manager/ExecUtil.java
  ams/server/src/main/java/com/netease/arctic/server/manager/FlinkOptimizerContainer.java
  ams/server/src/main/java/com/netease/arctic/server/manager/LocalOptimizerContainer.java
  ams/server/src/main/resources/META-INF/services/com.netease.arctic.ams.api.resource.ResourceContainer
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  ams/server/src/test/java/com/netease/arctic/server/manager/TestFlinkOptimizerContainer.java
  charts/amoro/templates/amoro-configmap.yaml
  dist/src/main/arctic-bin/conf/config.yaml
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:ams, type:build, module:dashboard

#2071 [Amoro-2069] Metrics interface and MetricsManager Inheritted from ActivePluginManager
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/AmoroMetrics.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/IcebergCommitReport.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricReporter.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricsContent.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricsEmitter.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/TaggedMetrics.java
  ams/server/src/main/java/com/netease/arctic/server/manager/ClassLoaderContext.java
  ams/server/src/main/java/com/netease/arctic/server/manager/MetricsManager.java
  ams/server/src/test/java/com/netease/arctic/server/manager/TestMetricsManager.java
Labels: module:ams, module:dashboard

#2052 [AMORO-2033]: The official docker image
  dist/src/main/arctic-bin/bin/ams.sh
  dist/src/main/arctic-bin/conf/log4j2.xml
  dist/src/main/arctic-bin/conf/optimize/log4j2.xml
  docker/.gitignore
  docker/amoro/Dockerfile
  docker/amoro/entrypoint.sh
  docker/ams/.gitignore
  docker/ams/config.sh
  docker/build.sh
  docker/demo-cluster.sh
  docker/optimizer-flink/Dockerfile
  docker/quickdemo/Dockerfile
  docker/quickdemo/flink-conf.yaml
Labels: type:build

#1905 [AMORO-1898] 0.4.x fix move files to stale hive location for Mixed Hive Table
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BasicOptimizeCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/SupportHiveCommit.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/SupportHiveSyncService.java
  hive/src/main/java/com/netease/arctic/hive/op/OverwriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/RewriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
Labels: module:ams, module:hive, module:dashboard

#2082 [AMORO-2081] Add "/ams/v1/health/status" url to whitelist
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
Labels: module:dashboard

#2080 [AMORO-2009]: Add aws/s3/hadoop-aws and iceberg-aws as default dependenies.
  ams/server/pom.xml
  core/pom.xml
  pom.xml
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.3/spark-runtime/pom.xml
Labels: module:spark, module:core, type:build, module:dashboard

#2038 [AMORO-1548] Remove log4j 1.2.x
  flink/v1.14/arctic-flink-1.14-iceberg-bridge/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.15/arctic-flink-1.15-iceberg-bridge/pom.xml
  flink/v1.15/flink/pom.xml
  hive/pom.xml
  pom.xml
  spark/common/pom.xml
  spark/v3.1/spark/pom.xml
  spark/v3.2/spark/pom.xml
  spark/v3.3/spark/pom.xml
Labels: module:flink, module:spark, module:hive, type:build

#1901 [AMORO-1758] Support for table data expiration
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/table/DataExpirationConfig.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableConfiguration.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/AsyncTableExecutors.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/DataExpiringExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestDataExpire.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestDataExpireHive.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestDataExpireIceberg.java
  core/src/main/java/com/netease/arctic/op/ArcticRewriteFiles.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  dist/src/main/arctic-bin/conf/config.yaml
  hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetConversions.java
Labels: module:core, module:hive, type:build, module:dashboard

#2079 [AMORO-1877]Support display paimon Operations in 'operations' page
  LICENSE
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/DDLReverser.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/IcebergTableMetaExtract.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/IcebergTypeToSparkType.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/MetadataChangeHandler.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/PaimonTableMetaExtract.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/PaimonTypeToSparkType.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/SparkMetadataChangeHandler.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/TableMetaExtract.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/DDLInfo.java
  ams/server/src/test/java/com/netease/arctic/server/catalog/TableCatalogTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/catalog/TestServerCatalog.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestIcebergServerTableDescriptor.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestPaimonServerTableDescriptor.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestServerTableDescriptor.java
  core/src/test/java/com/netease/arctic/formats/AmoroCatalogTestHelper.java
  core/src/test/java/com/netease/arctic/formats/IcebergHadoopCatalogTestHelper.java
  core/src/test/java/com/netease/arctic/formats/PaimonHadoopCatalogTestHelper.java
Labels: module:core, type:infra, module:dashboard

#2087 [AMORO-1874]Support display paimon table information in table details page
  ams/dashboard/src/main/resources/static/js/app.6f346a86.js
  ams/dashboard/src/main/resources/static/js/chunk-92e08122.9de5ec10.js
  ams/dashboard/src/main/resources/static/js/chunk-a42e0252.d4914674.js
  ams/dashboard/src/main/resources/static/js/chunk-f0807d3c.b96fb381.js
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/TransactionsOfTable.java
Labels: module:dashboard

#2098 [AMORO-2097] Upgrade compatible with old data
  ams/server/src/main/resources/mysql/update.sql
  ams/server/src/main/resources/postgres/update.sql
Labels: module:dashboard

#2094 [AMORO-1758] Add data expiration document
  ams/server/src/main/java/com/netease/arctic/server/table/DataExpirationConfig.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableConfiguration.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/DataExpiringExecutor.java
  docs/user-guides/configurations.md
  docs/user-guides/using-tables.md
Labels: type:docs, module:dashboard

#2095 [AMORO-2091] Resolve the optimzing exception for KeyedTable with Timestamp(without zone) column as Primary key
  core/src/main/java/com/netease/arctic/io/reader/ArcticDeleteFilter.java
Labels: module:core

#2089 [AMORO-1872] Support operating the Paimon table in Terminal
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/SparkContextUtil.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalManager.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/local/LocalSessionFactory.java
Labels: type:build, module:dashboard

#2055 [AMORO-2054]: Support configure optimizer-containers in Helm charts and support FlinkOptimizerContainer
  charts/amoro/Chart.yaml
  charts/amoro/templates/NOTES.txt
  charts/amoro/templates/_helpers.tpl
  charts/amoro/templates/_optimizer.tpl
  charts/amoro/templates/_pod.tpl
  charts/amoro/templates/_rbac.tpl
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/templates/amoro-database-secert.yaml
  charts/amoro/templates/amoro-deployment.yaml
  charts/amoro/templates/amoro-rbac.yaml
  charts/amoro/templates/amoro-rolebinding.yaml
  charts/amoro/values.yaml
  docker/build.sh
  docker/optimizer-flink/Dockerfile
Labels: type:build

#2132 [Build] Remove duplicated dependency
  flink/flink-common/pom.xml
Labels: module:flink, type:build

#2101 [AMORO-2100] New MetricsEmitter loading mechanism
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/IcebergRestCatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/manager/MetricsManager.java
  ams/server/src/main/java/com/netease/arctic/server/metrics/IcebergMetricsContent.java
  ams/server/src/main/java/com/netease/arctic/server/metrics/LoggingMetricsEmitter.java
  ams/server/src/test/java/com/netease/arctic/server/manager/TestMetricsManager.java
  ams/server/src/test/java/com/netease/arctic/server/metrics/TestIcebergMetricsContent.java
  ams/server/src/test/resources/metrics/log_emitter.yaml
  dist/src/main/arctic-bin/conf/log4j2.xml
  dist/src/main/arctic-bin/conf/plugins/log_emitter.yaml
Labels: type:build, module:dashboard

#2137 [Hotfix] Fix the location of metric emitter configuration file
  dist/src/main/arctic-bin/metrics/log_emitter.yaml
Labels: type:build

#2138 [CI] Limit concurrency of workflow
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/trino-ci.yml
Labels: type:infra

#2096 [AMORO-1875]Support display paimon files in 'files' page
  ams/server/src/main/java/com/netease/arctic/server/dashboard/FormatTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
Labels: module:dashboard

#2136 [Workflow]: Auto build Official Docker Image
  .github/workflows/docker-images.yml
  docker/optimizer-flink/Dockerfile
Labels: type:infra, type:build

#2140 [Hotfix] Fix typo in config.yaml example
  dist/src/main/arctic-bin/conf/config.yaml
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, type:build

#2135 [AMORO-2036]Remove dependency on `mysql:mysql-connector-java`
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  docker/amoro/Dockerfile
  docs/admin-guides/deployment.md
  pom.xml
Labels: type:docs, type:build, module:dashboard

#2142 [AMORO-2078] Replace set with bitmap when apply pos delete records
  core/pom.xml
  core/src/main/java/com/netease/arctic/io/reader/CombinedDeleteFilter.java
  pom.xml
Labels: module:core, type:build

#2141 [AMORO-2037]Remove dependency on `org.openjdk.jol:jol-core`
  core/pom.xml
  core/src/main/java/com/netease/arctic/utils/ObjectSizeCalculator.java
  core/src/main/java/com/netease/arctic/utils/map/DefaultSizeEstimator.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeWrapperSizeEstimator.java
  core/src/test/java/com/netease/arctic/utils/map/TestSimpleSpillableMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestStructLikeWrapperSizeEstimator.java
  pom.xml
  trino/pom.xml
Labels: module:core, module:trino, type:build

#2085 [AMORO-2083]exclude org.apache.zookeeper in ams/server/pom.xml introdeced by other depedency except for ams-api
  ams/server/pom.xml
  pom.xml
Labels: type:build, module:dashboard

#2039 [AMORO-2040] Fix some critical vulnerabilities in the project
  ams/server/pom.xml
  core/pom.xml
  hive/pom.xml
  pom.xml
Labels: module:core, module:hive, type:build, module:dashboard

#2110 [AMORO-2109] Make AMS table sync with external catalogs multithreaded
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  dist/src/main/arctic-bin/conf/config.yaml
Labels: type:build, module:dashboard

#2146 [hotfix] Catalog type always null in TerminalSession
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalSession.java
Labels: module:dashboard

#2112 [AMORO-2111] Support list partitions by filter via flink catalog
  flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestArcticCatalogTablePartitions.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/catalog/TestArcticCatalogTablePartitions.java
Labels: module:flink

#2143 [fix] specify options various is class field;use ThreadLocal remove instead of set null
  ams/server/src/main/java/com/netease/arctic/server/persistence/NestedSqlSession.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  core/src/main/java/com/netease/arctic/io/reader/ArcticDeleteFilter.java
  core/src/main/java/com/netease/arctic/optimizing/BaseOptimizingInput.java
Labels: module:core, module:dashboard

#2151 [hotfix] Fix TableStatistics.setTotalFilesStat method's variable is assigned to itself
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/TableStatistics.java
Labels: module:dashboard

#2144 [AMORO-2102] Support hidden catalog properties and desensitized secret key
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/DesensitizationUtil.java
Labels: module:dashboard

#2155 [AMORO-2154] Remove redundant whitespace characters
  docs/concepts/table-watermark.md
  docs/user-guides/using-tables.md
Labels: type:docs

#2150 [Improvement]: Add TableFormat information to the return value of the Catalog listTable method.
  ams/server/src/main/java/com/netease/arctic/server/IcebergRestCatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/TableManagementService.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/ExternalCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/IcebergCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/InternalCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/MixedIcebergCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/PaimonServerCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/ServerCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/TableMetaMapper.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/ServerTableIdentifier.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableManager.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableMetadata.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/BaseTableExecutor.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/update.sql
  ams/server/src/main/resources/postgres/ams-postgres-init.sql
  ams/server/src/main/resources/postgres/update.sql
  ams/server/src/test/java/com/netease/arctic/server/catalog/ExternalCatalogTest.java
  ams/server/src/test/java/com/netease/arctic/server/catalog/TestServerCatalog.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestServerTableDescriptor.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/CompleteOptimizingFlow.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestSnapshotExpire.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/table/AMSTableTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableRuntimeManager.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableService.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestBlockerExpiringExecutor.java
  core/src/main/java/com/netease/arctic/CommonUnifiedCatalog.java
  core/src/main/java/com/netease/arctic/TableIDWithFormat.java
  core/src/main/java/com/netease/arctic/UnifiedCatalog.java
Labels: module:core, module:dashboard

#2163 [Fix] Fix the format of thread name in DefaultTableService
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
Labels: module:dashboard

#2159 [Doc] Add docs for paimon format
  docs/_index.md
  docs/engines/flink/flink-get-started.md
  docs/engines/spark/spark-get-started.md
  docs/engines/trino.md
  docs/formats/overview.md
  docs/formats/paimon.md
Labels: type:docs

#2167 [AMORO-2090] Fix the problem of Optimizing bin-packing tasks being too small
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
Labels: module:dashboard

#2153 [Improvement] Fix double-checked locking field is not declared volatile
  trino/src/main/java/com/netease/arctic/trino/DefaultArcticCatalogFactory.java
Labels: module:trino

#2169 [Improvement] Polish the code to obtain the Paimon table compaction information
  ams/server/src/main/java/com/netease/arctic/server/dashboard/FormatTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
Labels: module:dashboard

#2166 [AMORO-2165] Struct correct partition aliases from table schema
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
Labels: module:core

#2160 [AMORO-2068] Upgrade the version description of Amoro Flink documenta…
  README.md
  docs/_index.md
  docs/admin-guides/deployment.md
  docs/engines/flink/flink-get-started.md
  docs/engines/flink/using-logstore.md
Labels: type:docs

#2170 [Imporvement]: Add spotless:validate to ams/api and ams/optimizer modules
  ams/api/pom.xml
  ams/api/src/main/java/com/netease/arctic/ams/api/ActivePlugin.java
  ams/api/src/main/java/com/netease/arctic/ams/api/AmoroPlugin.java
  ams/api/src/main/java/com/netease/arctic/ams/api/PluginManager.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/AmsClientPools.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ArcticThriftUrl.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ArcticZookeeperFactory.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ConnectionFailException.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/OptimizingClientPools.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/PoolConfig.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftClient.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftClientFactory.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftClientPool.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftException.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftUtil.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ZookeeperService.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/AmoroMetrics.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricType.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricsContent.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/MetricsEmitter.java
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/TaggedMetrics.java
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/MetaTableProperties.java
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/Resource.java
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/ResourceGroup.java
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/ResourceType.java
  ams/api/src/test/java/com/netease/arctic/ams/api/MockArcticMetastoreServer.java
  ams/api/src/test/java/com/netease/arctic/ams/api/MockZookeeperServer.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/AbstractOptimizerOperator.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/Optimizer.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/OptimizerConfig.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/OptimizerExecutor.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/OptimizerToucher.java
  ams/optimizer/common/src/test/java/com/netease/arctic/optimizer/common/OptimizerTestBase.java
  ams/optimizer/common/src/test/java/com/netease/arctic/optimizer/common/OptimizerTestHelpers.java
  ams/optimizer/common/src/test/java/com/netease/arctic/optimizer/common/TestOptimizer.java
  ams/optimizer/common/src/test/java/com/netease/arctic/optimizer/common/TestOptimizerExecutor.java
  ams/optimizer/common/src/test/java/com/netease/arctic/optimizer/common/TestOptimizerToucher.java
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkExecutor.java
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizer.java
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkToucher.java
  ams/optimizer/pom.xml
Labels: module:ams, type:build, module:dashboard

#2164 [Improvement] Polish code: fix typo and add unit test and add document
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/component/reverser/PaimonTableMetaExtract.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/AmsUtil.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/CommonUtil.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/ParamSignatureCalculator.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/utils/TestParamSignatureCalculator.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/utils/TestPropertiesUtil.java
  ams/server/src/test/java/com/netease/arctic/server/util/TestCompressUtil.java
  ams/server/src/test/java/com/netease/arctic/server/util/TestConfigurationUtil.java
Labels: module:dashboard

#2116 [ARMORO-1876]Support display paimon snapshots in 'Transactions' page
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/FormatTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/AMSTransactionsOfTable.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/TransactionsOfTable.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/AmsUtil.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestServerTableDescriptor.java
  core/src/main/java/com/netease/arctic/io/reader/ParallelIcebergGenerics.java
  core/src/main/java/com/netease/arctic/io/reader/ParallelTableScanIterable.java
  core/src/main/java/org/apache/iceberg/MixedChangeTableScan.java
  core/src/main/java/org/apache/iceberg/data/PublicGenericReader.java
  docs/user-guides/configurations.md
Labels: type:docs, module:core, module:dashboard

#2173 [Imporvement] Apply spotless plugin to module amoro-flink-1.15-iceberg-bridge and rename folder
  flink/pom.xml
  flink/v1.15/flink-1.15-iceberg-bridge/pom.xml
  flink/v1.15/flink-1.15-iceberg-bridge/src/main/java/org/apache/iceberg/flink/data/AdaptHiveFlinkParquetReaders.java
  flink/v1.15/flink-1.15-iceberg-bridge/src/main/java/org/apache/iceberg/flink/data/AdaptHiveFlinkParquetWriters.java
  flink/v1.15/flink-1.15-iceberg-bridge/src/main/java/org/apache/iceberg/flink/data/AdaptHiveParquetWithFlinkSchemaVisitor.java
  flink/v1.15/flink-1.15-iceberg-bridge/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.15/flink-1.15-iceberg-bridge/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
Labels: module:flink, type:build

#2174 Rename update.sql file to update-0.5.1-to-0.6.0.sql
  ams/server/src/main/resources/mysql/update.sql
  ams/server/src/main/resources/mysql/upgrade-0.5.1-to-0.6.0.sql
  ams/server/src/main/resources/postgres/update.sql
  ams/server/src/main/resources/postgres/upgrade-0.5.1-to-0.6.0.sql
Labels: module:dashboard

#2158 [AMORO-1918] Documents about intergration with kubernetes
  docs/admin-guides/deployment-on-kubernetes.md
Labels: type:docs

#2177 [AMORO-2084] Fix checking validity for Paimon with hadoop and hive metastore
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
Labels: module:dashboard

#2182 [AMORO-2180]: Remove existed database/table check when delete external catalog
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
Labels: module:dashboard

#2186 [Fix] Fix using the wrong summary map
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
Labels: module:dashboard

#2185 Fix build.sh wrong args in README.md
  docker/README.md
Labels: type:build

#2210 [Hotfix]Drop database after table test finished
  core/src/test/java/com/netease/arctic/catalog/TableTestBase.java
  core/src/test/java/com/netease/arctic/io/TestBasicTableTrashManager.java
  core/src/test/java/com/netease/arctic/io/TestRecoverableArcticFileIO.java
Labels: module:core

#2187 [Fix] Add hive-conf-dir option to paimon catalog
  ams/server/src/main/java/com/netease/arctic/server/catalog/PaimonServerCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
Labels: module:dashboard

#2193 [AMORO-2192] Fix S3 related configurations not working
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogType.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalManager.java
  core/src/main/java/com/netease/arctic/catalog/IcebergCatalogWrapper.java
  core/src/main/java/com/netease/arctic/utils/CatalogUtil.java
Labels: module:core, module:dashboard

#2211 [AMORO-2196] Fix scale out error
  ams/server/src/main/java/com/netease/arctic/server/manager/FlinkOptimizerContainer.java
Labels: module:dashboard

#2183 [AMORO-2168] Support hive commit protocol in mixed-hive format.
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestServerTableDescriptor.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/ExecutorTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestDataExpireHive.java
  core/src/main/java/com/netease/arctic/op/ArcticRewriteFiles.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/BasicTableTestHelper.java
  docs/user-guides/configurations.md
  flink/flink-common/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/FlinkTaskWriterBuilder.java
  hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveGenericTaskWriterBuilder.java
  hive/src/main/java/com/netease/arctic/hive/io/writer/AdaptHiveOutputFileFactory.java
  hive/src/main/java/com/netease/arctic/hive/op/OverwriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/op/RewriteHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveCommitUtil.java
  hive/src/test/java/com/netease/arctic/hive/MixedHiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/catalog/HiveTableTestHelper.java
  hive/src/test/java/com/netease/arctic/hive/io/HiveDataTestHelpers.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
  hive/src/test/java/com/netease/arctic/hive/op/TestSyncHiveMeta.java
  hive/src/test/java/com/netease/arctic/hive/op/UpdateHiveFilesTestHelpers.java
  hive/src/test/java/com/netease/arctic/hive/utils/TestHiveMetaSynchronizer.java
  spark/common/src/test/java/com/netease/arctic/spark/test/utils/TestTableUtil.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/writer/TestSparkWriter.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/writer/TestSparkWriter.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/io/TaskWriters.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/writer/TestSparkWriter.java
Labels: type:docs, module:flink, module:spark, module:core, module:hive, module:dashboard

#2214 [AMORO-2213] Expose table operations REST API
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
Labels: module:dashboard

#2189 [AMORO-2188] Fix NPE when only using external optimizers
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
Labels: module:dashboard

#2209 [AMORO-2208] Validate NULL data expiration configuration
  ams/server/src/main/java/com/netease/arctic/server/table/TableConfiguration.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/DataExpiringExecutor.java
Labels: module:dashboard
