Repository apache/amoro, pull requests merged in 2023-01, with the labels that each got.

#940 [ARCTIC-918][SPARK]Feature support drop partition in Spark
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/table/ArcticSparkTable.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/ArcticSparkExtensions.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/plans/AlterArcticTableDropPartition.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/AlterArcticTableDropPartitionExec.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticStrategy.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestDropPartitions.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestDropPartitions.java
Labels: module:spark, module:core

#973 [ARCTIC-945] Fix wrong data accuracy when use 'where' statement in upsert type table
  core/src/main/java/com/netease/arctic/scan/BaseKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/expressions/BasePartitionEvaluator.java
  core/src/main/java/com/netease/arctic/scan/expressions/RewriteNot.java
  core/src/test/java/com/netease/arctic/TableTestBase.java
  core/src/test/java/com/netease/arctic/data/UpsertPushDownTest.java
Labels: type:bug, module:core

#982 [ARCTIC-981] Fix the Kerberos problem in the SortedPosDeleteWriter for the minor optimizing
  core/src/main/java/com/netease/arctic/io/writer/BaseTaskWriter.java
  core/src/main/java/com/netease/arctic/io/writer/SortedPosDeleteWriter.java
Labels: module:core

#968 [ARCTIC-967] Fix change files exceeding TTL deleted by mistake
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/FileInfoCacheMapper.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestFileInfoCacheService.java
Labels: module:ams, module:dashboard

#962 [ARCTIC-955] Improve performance of Table entries scan
  core/src/main/java/com/netease/arctic/op/ArcticTableOperations.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
Labels: module:core

#991 [ARCTIC-966][Core]Check the written row number before closing the file writer
  core/src/main/java/com/netease/arctic/io/writer/BaseTaskWriter.java
  core/src/main/java/com/netease/arctic/io/writer/ChangeTaskWriter.java
Labels: module:core

#983 [ARCTIC-540][SPARK]Support truncate table
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/plans/TruncateArcticTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/ExtendedArcticStrategy.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/TruncateArcticTableExec.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/ArcticExpressionUtils.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestTruncate.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestDropPartitions.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestTruncate.java
Labels: module:spark

#980 [ARCTIC-979][Core]Use alter to modify partition location rather than delete and add the partitions in UpdateHiveFiles commit
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
Labels: module:hive

#976 [ARCTIC-849] Filestore reader emits keyed table data without shuffle and keeps data ordering
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/main/java/com/netease/arctic/utils/SchemaUtil.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/PartitionAndNodeGroup.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/ChangeLogDataIterator.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/DataIterator.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssignerTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TemporalJoinSplitsThreadSafeTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunctionTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/PartitionAndNodeGroup.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/ChangeLogDataIterator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/DataIterator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssignerTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TemporalJoinSplitsThreadSafeTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunctionTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/PartitionAndNodeGroup.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/ChangeLogDataIterator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/DataIterator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssignerTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TemporalJoinSplitsThreadSafeTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunctionTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
Labels: module:flink, module:core

#992 [ARCTIC-925][Optimizer] The optimize group adds config to support spill map and improve spill map with the custom directory
  core/src/main/java/com/netease/arctic/utils/StructLikeSet.java
  core/src/main/java/com/netease/arctic/utils/map/RocksDBBackend.java
  core/src/main/java/com/netease/arctic/utils/map/SimpleSpillableMap.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeCollections.java
  core/src/main/java/com/netease/arctic/utils/map/StructLikeSpillableMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestSimpleSpillableMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestSimpleSpilledMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestStructLikeMap.java
  dist/src/main/arctic-bin/bin/localOptimize.sh
  dist/src/main/arctic-bin/conf/config.yaml
  optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerConfig.java
  optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizer.java
  optimizer/src/main/java/com/netease/arctic/optimizer/local/LocalOptimizer.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/BaseExecutor.java
Labels: module:core, type:build

#993 [ARCTIC-946][AMS] Add balanced schedule policy for optimizer
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/config/ConfigFileProperties.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/OptimizeHistoryMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/mapper/OptimizeQueueMapper.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/OptimizeQueueMeta.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/resources/sql/derby/ams-init.sql
  ams/ams-server/src/main/resources/sql/mysql/0.4.1-init.sql
  ams/ams-server/src/main/resources/sql/mysql/upgrade-0.4.0-to-0.4.1.sql
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
  site/docs/ch/benchmark/benchmark.md
  site/docs/ch/concepts/self-optimizing.md
  site/docs/ch/guides/managing-optimizers.md
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_0-30_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_30-60_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_60-90_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_on_TPCC_90-120_minutes.png
  site/docs/ch/images/chbenchmark/Arctic-Iceberg-Hudi_100_warehouse_performence_with_TPCC_time.png
  site/docs/ch/images/concepts/quota-occupation.png
Labels: type:docs, module:ams, module:dashboard

#1014 [Improvement][Core]: ams tracer should report snapshot information even if no new file is submitted
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/service/TestFileInfoCacheService.java
  core/src/main/java/com/netease/arctic/table/BaseUnkeyedTable.java
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
  core/src/main/java/com/netease/arctic/trace/ArcticAppendFiles.java
  core/src/main/java/com/netease/arctic/trace/ArcticOverwriteFiles.java
  core/src/main/java/com/netease/arctic/trace/ArcticReplacePartitions.java
  core/src/main/java/com/netease/arctic/trace/ArcticRowDelta.java
  core/src/test/java/com/netease/arctic/trace/TableTracerTest.java
Labels: module:core, module:ams, module:dashboard

#997 [ARCTIC-996][Hive]Fix data inaccuracy when query data using where statement contain without time zone column
  hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetConversions.java
  hive/src/test/java/com/netease/arctic/hive/ArcticHiveTestMain.java
Labels: module:hive

#1011 [ARCTIC-957] Arctic Flink adds type validation for the timestamp field defining watermark
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/FlinkSchemaUtil.java
Labels: module:flink

#1024 [ARCTIC-1023][Flink] Move kafka class to a new package
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaPartitionSplitReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/LogSourceHelper.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplitReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplitState.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaRecordEmitter.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogRecordWithRetractInfo.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/LogKafkaPartitionSplitReaderTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/LogSourceHelper.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplitReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplitState.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaRecordEmitter.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogRecordWithRetractInfo.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/LogKafkaPartitionSplitReaderTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/LogSourceHelper.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplitReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaPartitionSplitState.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaRecordEmitter.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogRecordWithRetractInfo.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/LogKafkaPartitionSplitReaderTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/HiddenLogOperatorsTest.java
Labels: module:flink

#1022 [ARCTIC-1018][AMS] Avoiding concurrent operations by `tasksLock`
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
Labels: module:ams, module:dashboard

#1021 [ARCTIC-1019] Introduce the correspondence between the arctic table and flink data types
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaTestBase.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/catalog/ArcticCatalog.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  hive/src/test/java/com/netease/arctic/hive/ArcticHiveTestMain.java
  site/docs/ch/flink/flink-ddl.md
Labels: type:docs, module:flink, module:hive

#1030 Fixbug unit test failed for hive format
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/SparkSQLProperties.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/OptimizeWriteRule.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkCatalogTestGroup.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableDml.java
Labels: module:spark
