Repository apache/amoro, pull requests merged in 2023-03, with the labels that each got.

#1172 [ARCTIC-1171][FLINK] When reading partial fields from Logstore, the number of fields does not match
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
Labels: module:flink

#1176 [ARCTIC-1175][AMS] Improve the return of the UnKeyedTableUtil#getAllContentFilePath method
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtil.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtilTest.java
Labels: module:ams, module:dashboard

#1139 [ARCTIC-1138]Calculate unite tests coverage
  .github/workflows/ams-ci.yml
  .github/workflows/core-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/spark-ci.yml
  .github/workflows/trino-ci.yml
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/AmsUtils.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/LoginControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/SettingControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/TableControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/TerminalControllerTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/VersionControllerTest.java
  core/pom.xml
  optimizer/src/main/resources/log4j2.xml
  optimizer/src/test/java/resources/log4j.properties
  pom.xml
Labels: module:core, module:ams, type:infra, type:build, module:dashboard

#1182 [ARCTIC-873][CORE]Fix bug:insert overwrite will throw exception
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
Labels: module:hive

#1193 [ARCTIC-1190][AMS] Table expire service should not expire snapshot which optimizing planned with
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestExpiredFileClean.java
Labels: module:ams, module:dashboard

#1195 [ARCTIC-1138]Unify Github unit test workflow
  .github/workflows/ams-ci.yml
  .github/workflows/core-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/labeler.yml
  .github/workflows/spark-ci.yml
  .github/workflows/trino-ci.yml
Labels: type:infra

#1181 [ARCTIC-915][AMS] Orphan files clean service should not delete flink temporary metadata files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileClean.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileCleanSupportHive.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileCleanSupportIceberg.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/IcebergExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MajorExecutor.java
  optimizer/src/main/java/com/netease/arctic/optimizer/operator/executor/MinorExecutor.java
Labels: module:ams, module:dashboard

#1244 [ARCTIC-1243][Spark]ArcticSparkCatalog supports the configuration of catalog properties
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
Labels: module:spark

#1184 [ARCTIC-1174][Core][Bug]Fix bug: The orphan files cleanup of insert overwrite doesn't take effect for un-partitioned table
  hive/src/main/java/com/netease/arctic/hive/op/ReplaceHivePartitions.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/test/java/com/netease/arctic/hive/catalog/HiveTableTestBase.java
  hive/src/test/java/com/netease/arctic/hive/op/TestCleanOrphanFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestOverwriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewriteFiles.java
  hive/src/test/java/com/netease/arctic/hive/op/TestRewritePartitions.java
Labels: module:hive

#1274 [ARCTIC-1273] When using derby to execute quickstart, the table was erroneously accessed before it was created
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/DerbyService.java
Labels: module:ams, module:dashboard

#1270 [ARCTIC-1254] Determine the execution time of JUnit Tests in the flink modules
  core/src/test/java/com/netease/arctic/listener/ArcticRunListener.java
Labels: module:core

#1271 [ARCTIC-1263] hive data sync to arctic error
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/test/java/com/netease/arctic/hive/utils/HiveMetaSynchronizerTest.java
Labels: module:hive

#1275 [ARCTIC-1233] Arctic filestore write task can't been restored from checkpoint after modifying the sink parallelism
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/ArcticFileWriter.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterTest.java
Labels: module:flink

#1145 [ARCTIC-1057][AMS] Only load self-optimizing enabled tables into cache
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeCheckTask.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
Labels: module:ams, module:dashboard

#1284 [ARCTIC-1242][ams] Optimizing plan thread should only plan tables in pending status
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsEnvironment.java
Labels: module:ams, module:dashboard

#1278 [Arctic-1265][BugFix][Spark]: Disable optimize write for upsert
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/util/ArcticSparkUtils.java
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/OptimizeWriteRule.scala
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/optimize/RewriteAppendArcticTable.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/ArcticSparkCatalogTestGroup.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/SparkTestContext.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/TestUpsert.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/util/RecordGenerator.java
Labels: module:spark, priority:critical

#1292 [ARCTIC-1057][AMS] Avoid memory leak in OptimizeService
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
Labels: module:ams, priority:critical, module:dashboard

#1296 [ARCTIC-1295] fix writing into an empty KeyedTable with flink/spark 0.3.x/0.4.0 and AMS 0.4.1
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/ArcticTransactionService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UpdateTool.java
Labels: module:ams, priority:critical, module:dashboard

#1251 [ARCTIC-1241] Change the Arctic source splits discovery and assigning thread model
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/Split.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/SplitAssigner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/AbstractArcticEnumerator.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssignerTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/SplitAssignerAwaitingTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumStateSerializerTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/Split.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/SplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/AbstractArcticEnumerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssignerTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/SplitAssignerAwaitingTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumStateSerializerTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/Split.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/SplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/AbstractArcticEnumerator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssignerTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/SplitAssignerAwaitingTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumStateSerializerTest.java
Labels: module:flink

#1291 [ARCTIC-1279][Spark]Fix bug: Merge into does not work when source table is in another catalog
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/ResolveMergeIntoTableReferences.scala
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestKeyedTableMergeInto.java
Labels: module:spark, type:build

#1302 [ARCTIC-1280][Spark]Fix bug: When the AMS deployment of high availability, use ArcticsparkSessionCatalog loadTable will throw exception
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
Labels: module:spark
