Repository apache/amoro, pull requests merged in 2023-04, with the labels that each got.

#1309 [ARCTIC-1308] The front-end ams Settings page should not display quotes
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/SettingController.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/AmsTestBase.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/controller/SettingControllerTest.java
Labels: module:ams, module:dashboard

#1264 [Arctic-1266][AMS]: Use ArcticSparkSessionCatalog for terminal
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/SparkContextUtil.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalManager.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiSession.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalSessionFactory.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/local/LocalTerminalSession.java
  site/docs/ch/guides/deployment.md
Labels: type:docs, module:ams, module:dashboard

#1314 [ARCTIC-1313] [doc] fix default value of self-optimizing.major.trigger.duplicate-ratio
  site/docs/ch/configurations.md
Labels: type:docs

#1315 [ARCTIC-1283][FLINK]when source is a kafka with canal-json format, the task can't run with a exception thrown
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/FlinkSink.java
Labels: module:flink

#1312 [ARCTIC-1306][FLINK] Arctic Define watermark on unkeyed table encounters FieldNotFound Exception
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
Labels: module:flink

#1320 [ARCTIC-1319] [ams] Major Self-Optimizing should not delete pos-delete files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BasicOptimizeCommit.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizingIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/AbstractOptimizingTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/MixedIcebergOptimizingTest.java
Labels: module:ams, module:dashboard

#1324 [ARCTIC-1319] [ams] fix 0.3.x Major Self-Optimizing should not delete pos-delete files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/BaseOptimizeCommit.java
Labels: type:docs, module:flink, module:spark, module:core, module:ams, module:hive, module:trino, type:infra, type:build, module:dashboard

#1294 [ARCTIC-1288][ams] limit the total files size bytes for Optimizing
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergMinorOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MinorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/OptimizingIntegrationTest.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/MixedIcebergOptimizingTest.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  site/docs/ch/configurations.md
Labels: type:docs, module:core, module:ams, module:dashboard

#1328 [ARCTIC-1327]Codecov Report shows coverage is 0.00%
  pom.xml
Labels: type:build

#1355 [Arctic-1364]: Disable jacoco in github CI
  .github/workflows/core-ci.yml
  .github/workflows/trino-ci.yml
  pom.xml
Labels: type:infra, type:build

#1334 [ARCTIC-1340][Spark][Doc]Optimize the description of Spark CreateTableLike
  site/docs/ch/spark/spark-ddl.md
Labels: type:docs

#984 [ARCTIC-965][AMS] Fix `temp` method use `ArcticTableOperations` for Kerberos auth
  core/src/main/java/com/netease/arctic/op/ArcticTableOperations.java
Labels: module:core

#1345 [ARCTIC-1346][Core]: Clear kerberos ticket to access zk
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ArcticThriftUrl.java
Labels: module:dashboard

#1348 [Arctic-1347][Core]The position-delete written by iceberg directly through the base table cannot take effect when read by Arctic
  core/src/main/java/com/netease/arctic/scan/BasicArcticFileScanTask.java
Labels: module:core

#1370 [ARCTIC-1369][Hive]Fix bug: AlterTableAddColumn not support field with uppercase letters in Spark
  ams/ams-api/src/main/java/com/netease/arctic/ams/api/client/ArcticThriftUrl.java
  hive/src/main/java/com/netease/arctic/hive/op/BaseSchemaUpdate.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/hive/TestCreateTableDDL.java
Labels: module:spark, module:hive, module:dashboard

#1379 [Arctic-1120]we return bytes array when we response file load request
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/CatalogController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/controller/PlatformFileInfoController.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/PlatformFileInfoService.java
Labels: module:ams, module:dashboard

#1376 [Arctic-1318][Improvement]: we should throw a exception when we have no privilege to access the files of table
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
Labels: module:hive

#1351 [Arctic-1349][Core]Reuse Spark SparkStructLike and Container and SparkInternalRowWrapper
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkKeyedDataReader.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkUnkeyedDataReader.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkKeyedDataReader.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/reader/ArcticSparkUnkeyedDataReader.java
Labels: module:spark

#1390 [ARCTIC-1386][ams] fix Iceberg Format table's orphan files clean mistakenly delete the `equality-delete` files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtil.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtilTest.java
Labels: module:ams, priority:critical, module:dashboard

#1391 [ARCTIC-1388][Spark]Fix bug: The runtime jar of Spark 3.3 throws a NoClassDefFoundError when executing SQL.
  spark/v3.3/spark-runtime/pom.xml
Labels: module:spark, type:build

#1398 [Arctic-1397]: Fix bug: Hive function can't be used when using ArcticSparkSessionCat…
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/delegate/TestArcticSessionCatalog.java
Labels: module:spark

#1395 [ARCTIC-1394] Optimize the execution time of drop table
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
Labels: module:core

#1396 [ARCTIC-1380] [core] fix NPE when scan entries of Iceberg table < 1.0.0
  core/src/main/java/com/netease/arctic/IcebergFileEntry.java
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
  core/src/main/java/com/netease/arctic/utils/ManifestEntryFields.java
  core/src/test/java/com/netease/arctic/scan/TableEntriesScanTest.java
Labels: module:core
