Repository apache/amoro, pull requests merged in 2023-12, with the labels that each got.

#2388 [hot-fix] Fix the `NullPointerException` when modifying the `self-optimizing.enabled`
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:dashboard

#2399 [HOTFIX] limit ams server dist dependencies to runtime scope
  ams/server/pom.xml
Labels: type:build, module:dashboard

#2379 [AMORO-2378] The optimizer based on Flink on YARN should prioritize loading the optimizer-job.jar
  ams/server/src/main/java/com/netease/arctic/server/manager/FlinkOptimizerContainer.java
Labels: module:dashboard

#2361 [AMORO-2222] [Improvement]: Skip cleaning up dangling delete files for Iceberg V1 table
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
Labels: module:dashboard

#2405 [AMORO-2404] fix Mixed Hive table mistakenly deletes hive files during expiring snapshots
  ams/server/src/main/java/com/netease/arctic/server/utils/HiveLocationUtil.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestSnapshotExpireHive.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/ExecutorTestBase.java
Labels: module:dashboard

#2384 [AMORO-2383] Add serialVersionUID to RewriteFilesInput
  core/src/main/java/com/netease/arctic/optimizing/RewriteFilesInput.java
Labels: module:core

#2394 [AMORO-1720] Fix Mixed Format KeyedTable expiring all the snapshots with optimized sequence
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestSnapshotExpire.java
Labels: module:dashboard

#2310 [HotFix] Re-add table filter
  ams/server/src/main/java/com/netease/arctic/server/catalog/ExternalCatalog.java
  ams/server/src/test/java/com/netease/arctic/server/catalog/ExternalCatalogTest.java
  ams/server/src/test/java/com/netease/arctic/server/catalog/TestServerCatalog.java
Labels: module:dashboard

#2416 [AMORO-2415] Print GC date stamps
  ams/dist/src/main/arctic-bin/bin/ams.sh
Labels: module:dashboard

#2422 Update wrong comments in SnapshotsExpiringExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
Labels: module:dashboard

#2403 [AMORO-2261] Extract the deleting dangling files from the cleaning orphan files
  ams/dist/src/main/arctic-bin/conf/config.yaml
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/TableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/AsyncTableExecutors.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/DanglingDeleteFilesCleaningExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestOrphanFileCleanIceberg.java
Labels: module:dashboard

#2430 [HotFix] Fix loading the optimizing snapshot id of change store for Mixed Format KeyedTable
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
Labels: module:dashboard

#2425 [AMORO-2260] Show the format version of iceberg table
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
Labels: module:dashboard

#2387 [AMORO-2385] Make the maximum input file size for per optimize thread configurable
  ams/api/src/main/java/com/netease/arctic/ams/api/OptimizerProperties.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/Optimizer.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/OptimizerConfig.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/manager/AbstractResourceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/manager/FlinkOptimizerContainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/test/java/com/netease/arctic/server/manager/TestFlinkOptimizerContainer.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/CompleteOptimizingFlow.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestOptimizingPlanner.java
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:ams, module:dashboard

#2414 [Hotfix] Add database filter to Server ExternalCatalog
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/ExternalCatalog.java
  core/src/main/java/com/netease/arctic/mixed/BasicMixedIcebergCatalog.java
  docs/admin-guides/managing-catalogs.md
Labels: type:docs, module:core, module:ams, module:dashboard

#2434 [AMORO-1892] Improve the SQL Shortcuts in Terminal Web UI
  ams/dashboard/src/main/resources/static/css/app.d88750cc.css
  ams/dashboard/src/main/resources/static/css/app.e88a00e5.css
  ams/dashboard/src/main/resources/static/css/chunk-06f4a222.1a818694.css
  ams/dashboard/src/main/resources/static/css/chunk-0e36844c.2b1d01cf.css
  ams/dashboard/src/main/resources/static/css/chunk-1909d840.1a34fd26.css
  ams/dashboard/src/main/resources/static/css/chunk-572c8fb5.f7fa6324.css
  ams/dashboard/src/main/resources/static/css/chunk-7a087ab9.d250cc66.css
  ams/dashboard/src/main/resources/static/css/chunk-c4d29046.b7ea1baa.css
  ams/dashboard/src/main/resources/static/css/chunk-c92af2b4.e5a3e4ae.css
  ams/dashboard/src/main/resources/static/css/chunk-ca733964.413b8385.css
  ams/dashboard/src/main/resources/static/css/chunk-vendors.51f0f435.css
  ams/dashboard/src/main/resources/static/css/chunk-vendors.d101f0ee.css
  ams/dashboard/src/main/resources/static/index.html
  ams/dashboard/src/main/resources/static/js/app.617b494a.js
  ams/dashboard/src/main/resources/static/js/app.711e798d.js
  ams/dashboard/src/main/resources/static/js/chunk-06f4a222.b41b4c13.js
  ams/dashboard/src/main/resources/static/js/chunk-083d7ab6.76b0e466.js
  ams/dashboard/src/main/resources/static/js/chunk-083d7ab6.f1948fd3.js
  ams/dashboard/src/main/resources/static/js/chunk-0e36844c.741391d2.js
  ams/dashboard/src/main/resources/static/js/chunk-1909d840.2a125b98.js
  ams/dashboard/src/main/resources/static/js/chunk-225a1827.6e4a0bcf.js
  ams/dashboard/src/main/resources/static/js/chunk-225a1827.7e0a4cd9.js
  ams/dashboard/src/main/resources/static/js/chunk-28b9a9cc.d64bd03e.js
  ams/dashboard/src/main/resources/static/js/chunk-572c8fb5.8eef2d74.js
  ams/dashboard/src/main/resources/static/js/chunk-6a44215d.3b4d2d9a.js
  ams/dashboard/src/main/resources/static/js/chunk-6a44215d.7bf9a929.js
  ams/dashboard/src/main/resources/static/js/chunk-6e8ffc4f.81c5cef6.js
  ams/dashboard/src/main/resources/static/js/chunk-76776ef2.9810c5f7.js
  ams/dashboard/src/main/resources/static/js/chunk-7a087ab9.04838007.js
  ams/dashboard/src/main/resources/static/js/chunk-9fc4147c.a5b71e12.js
  ams/dashboard/src/main/resources/static/js/chunk-a830a942.a6d120d3.js
  ams/dashboard/src/main/resources/static/js/chunk-c4d29046.1fde858d.js
  ams/dashboard/src/main/resources/static/js/chunk-c92af2b4.2678050a.js
  ams/dashboard/src/main/resources/static/js/chunk-ca733964.5a607145.js
  ams/dashboard/src/main/resources/static/js/chunk-e27313ec.2d3c24aa.js
  ams/dashboard/src/main/resources/static/js/chunk-e27313ec.5896d0f4.js
  ams/dashboard/src/main/resources/static/js/chunk-eb399e28.aba60b35.js
  ams/dashboard/src/main/resources/static/js/chunk-eb399e28.af7b1ec4.js
  ams/dashboard/src/main/resources/static/js/chunk-f696de4a.fb13aba0.js
  ams/dashboard/src/main/resources/static/js/chunk-vendors.33a9bca0.js
  ams/dashboard/src/main/resources/static/js/chunk-vendors.b30107ea.js
  ams/dashboard/src/views/terminal/index.vue
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/SqlExample.java
Labels: module:dashboard

#2439 [AMORO-2440] Fix the batch deletion of Change Store files for Mixed Format Table
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
Labels: module:dashboard

#2437 [AMORO-2418] Exclude kryo dependency from flink-optimizer
  ams/optimizer/flink-optimizer/pom.xml
Labels: type:build, module:dashboard

#2442 [AMORO-2441] Fix `TableEntriesScan` when no file format is specified in the file name
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
Labels: module:core

#2396 [Hotfix] Fix fetchLatestNonOptimizedSnapshotTime
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/table/DataExpirationConfig.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestDataExpire.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
  docs/user-guides/using-tables.md
Labels: type:docs, module:core, module:dashboard

#2427 [AMORO-2344] [Flink]: Support UnifiedCatalog to contain Iceberg format table in Flink Engine
  mixed/flink/flink-common/pom.xml
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/FlinkUnifiedCatalog.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/MixedCatalog.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/CatalogFactoryOptions.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/FlinkUnifiedCatalogFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/iceberg/IcebergFlinkCatalogFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/mixed/MixedCatalogFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/mixed/MixedHiveCatalogFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/mixed/MixedIcebergCatalogFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/table/AmoroDynamicTableFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/table/ArcticTableLoader.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  mixed/flink/flink-common/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/FlinkCatalogContext.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/FlinkUnifiedCatalogITCase.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestFlinkUnifiedCatalogs.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestLegacyMixedCatalog.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestMixedCatalogTablePartitions.java
  mixed/flink/flink-common/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: type:build

#2332 [AMORO-2330] Improve major plan
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingConfig.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/IcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedHivePartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/view/KeyedTableDataView.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestHiveUnkeyedPartitionPlan.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
Labels: type:docs, module:core, module:dashboard

#2432 [AMORO-1810] Check the validity of the heatbeat interval when an opti…
  ams/api/src/main/java/com/netease/arctic/ams/api/ErrorCodes.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/OptimizerToucher.java
  ams/optimizer/common/src/test/java/com/netease/arctic/optimizer/common/TestOptimizerToucher.java
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/exception/ArcticRuntimeException.java
  ams/server/src/main/java/com/netease/arctic/server/exception/ForbiddenException.java
  ams/server/src/test/java/com/netease/arctic/server/TestDefaultOptimizingService.java
Labels: module:ams, module:dashboard

#2456 [AMORO-1720] 0.6.x Fix Mixed Format KeyedTable expiring all the snapshots with optimized sequence
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/MixedTableMaintainer.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestSnapshotExpire.java
Labels: module:dashboard

#2395 [AMORO-2373] resolve the catalog problem when querying base on kyuubi+flink
  ams/server/src/main/java/com/netease/arctic/server/terminal/kyuubi/KyuubiSession.java
Labels: module:dashboard

#2465 [AMORO-2464] Fix bug AMS will repeat trigger the same minor optimize when the bucket > self-optimizing.minor.trigger.file-count
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
Labels: module:dashboard

#2462 [HOTFIX] Remove Trino module's Checkstyle
  mixed/trino/pom.xml
Labels: type:build

#2459 [Infra]Fix github labeler for module changes
  .github/labeler.yml
Labels: type:infra

#2467 [AMORO-2466] Fix bug #2466 spark query the mix_hive table will throw out exception
  ams/server/src/main/java/com/netease/arctic/server/TableManagementService.java
Labels: module:dashboard

#2460 [AMORO-2454] Self-Optimizing commit for the Iceberg Format table will not separately remove Delete files
  ams/server/src/main/java/com/netease/arctic/server/optimizing/UnKeyedTableCommit.java
  mixed/hive/src/main/java/com/netease/arctic/hive/op/RewriteHiveFiles.java
  mixed/hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
Labels: module:mixed-hive

#2458 [AMORO-2453] Fix multiple schedule tasks
  ams/server/src/main/java/com/netease/arctic/server/table/executor/BaseTableExecutor.java
Labels: module:ams-dashboard

#2451 [AMORO-2450] [Flink]: Get table failed in the unified catalog
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/FlinkUnifiedCatalog.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/FlinkUnifiedCatalogITCase.java
Labels: module:mixed-flink

#2470 Bump zookeeper from 3.7.1 to 3.8.3
  pom.xml
Labels: type:build

#2471 [Hotfix] Fix artifactId of shade plugin
  mixed/flink/v1.15/flink/pom.xml
  mixed/flink/v1.16/flink/pom.xml
  mixed/flink/v1.17/flink/pom.xml
Labels: module:mixed-flink, type:build

#2429 [AMORO-2428] Document on using Kyuubi as a terminal backend in a Kerberos environment
  ams/server/src/main/java/com/netease/arctic/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  docs/admin-guides/using-kyuubi.md
Labels: type:docs, module:ams-dashboard

#2436 [AMORO-2417] Support partition filter on optimizing plan
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/IcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedHivePartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/PartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/IcebergTableFileScanHelper.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/KeyedTableFileScanHelper.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/TableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestOptimizingEvaluator.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestKeyedTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestUnkeyedTableFileScanHelper.java
  core/src/main/java/com/netease/arctic/utils/ArcticTableUtil.java
  core/src/main/java/com/netease/arctic/utils/ExpressionUtil.java
  core/src/main/java/com/netease/arctic/utils/TablePropertyUtil.java
  core/src/test/java/com/netease/arctic/BasicTableTestHelper.java
  core/src/test/java/com/netease/arctic/data/TestUpsertPushDown.java
  core/src/test/java/com/netease/arctic/io/MixedDataTestHelpers.java
  core/src/test/java/com/netease/arctic/utils/TestKeyedExpressionUtil.java
  core/src/test/java/com/netease/arctic/utils/TestUnkeyedExpressionUtil.java
Labels: module:core

#2480 [AMORO-2478] Package involve standalone-optimizer
  ams/server/pom.xml
Labels: type:build
