Repository apache/amoro, pull requests merged in 2023-06, with the labels that each got.

#1496 [AMS-Refactor] persistence optimizing process failedReason
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
Labels: module:dashboard

#1497 [AMS-Refactor] fix optimizing integration test
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/test/java/com/netease/arctic/server/optimizing/BaseOptimizingChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestIcebergHadoopOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedIcebergOptimizing.java
Labels: module:dashboard

#1470 [ARCTIC-1440][Improvement]: Improve the unit tests for module Flink
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/FlinkTestBase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/catalog/TestCatalog.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/TestArcticSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/TestFlinkSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hidden/pulsar/TestLogPulsarSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/TestRowDataReaderFunction.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/shuffle/TestRoundRobinShuffleRulePolicy.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestTableRefresh.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyed.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/ArcticFileWriterITCase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAdaptHiveWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestArcticFileCommitter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestArcticFileWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestFlinkSink.java
Labels: module:flink

#1501 [ARCTIC-1500][Bug]: failed to delete orphaned files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
Labels: module:ams, module:dashboard

#1502 [AMS-Refactor] Remove optimizer table and controller switch to use global exception handle
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/LoginController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/PlatformFileInfoController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/SqlSessionFactoryProvider.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizerMapper.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:dashboard

#1508 [ARCTIC-1506] Correct the word spelling mistake
  site/docs/ch/concepts/self-optimizing.md
Labels: type:docs

#1511 fix compile error
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceFetcherManager.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/internals/KafkaSourceFetcherManager.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaSourceReader.java
Labels: module:flink

#1513 [AMS] Upgrade POM dependencies to resolve security issues.
  ams/ams-server/pom.xml
  optimizer/pom.xml
  pom.xml
Labels: module:ams, type:build, module:dashboard

#1517 [ARCTIC-1500][Bug]: failed to delete orphaned files
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
Labels: module:ams, module:dashboard

#1515 [ARCTIC-1514] Optimizing should retry with exponentially increasing interval
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/model/TableOptimizeRuntime.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/TableOptimizeItem.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#1520 [Refactor-AMS] Fix quota calculation logic
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingProcess.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:dashboard

#1519 [Refactor-AMS] Recover task through persistent optimizer information
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/SqlSessionFactoryProvider.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizerMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestOptimizingQueue.java
Labels: module:dashboard

#1525 [ARCTIC-1524][AMS] Add `optimizer_token`,`thread_id` field in table `task_runtime`
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
Labels: module:dashboard

#1479 [ARCTIC-1478][AMS] Adapting IcebergCatalogImpl: GlueCatalog
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogBuilder.java
  core/pom.xml
  pom.xml
Labels: module:core, type:build, module:dashboard

#1527 [ARCTIC-1526][AMS] Use `MetricsSummary` from `TableOptimizingProcess` instead `getAs`
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
Labels: module:dashboard

#1368 [ARCTIC-1363][hive] Fix Optimizer retry report result costing too much time when task is deleted
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
Labels: module:ams, module:dashboard

#1490 [ARCTIC-1385][Bug]: fix transaction and action fields value error
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/KeyedTableFileScanHelper.java
  core/src/main/java/com/netease/arctic/scan/BasicArcticFileScanTask.java
  core/src/main/java/com/netease/arctic/scan/BasicKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/ChangeTableBasicIncrementalScan.java
  core/src/main/java/com/netease/arctic/table/BasicKeyedTable.java
  core/src/main/java/com/netease/arctic/table/ChangeTable.java
  core/src/main/java/org/apache/iceberg/ArcticChangeManifestGroup.java
  core/src/main/java/org/apache/iceberg/ArcticChangeTableScan.java
  core/src/test/java/com/netease/arctic/io/DataTestHelpers.java
  core/src/test/java/com/netease/arctic/scan/TestChangeTableBasicIncrementalScan.java
  hive/src/main/java/com/netease/arctic/hive/table/KeyedHiveTable.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/helper/TestTableHelper.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestSelectSQL.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/helper/TestTableHelper.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestSelectSQL.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/reader/UnkeyedSparkBatchScan.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/helper/TestTableHelper.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestSelectSQL.java
  trino/src/main/java/com/netease/arctic/trino/ArcticCatalogSupportTableSuffix.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergSplitManager.java
Labels: module:spark, module:core, module:hive, module:trino, module:dashboard

#1415 [ARCTIC-5] Support MOR with Flink Engine in runtime batch mode.
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
  core/src/test/java/com/netease/arctic/scan/TestTableEntriesScan.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/FlinkSplitPlanner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/MixedIncrementalLoader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlanner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/MergeOnReadIncrementalPlanner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/DataIteratorReaderFunction.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/FlinkArcticMORDataReader.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/FlinkTableTestBase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/MixedIncrementalLoaderTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/FlinkTaskWriterBaseTest.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/MixedIncrementalLoader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlanner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/MergeOnReadIncrementalPlanner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/DataIteratorReaderFunction.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/FlinkArcticMORDataReader.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/FlinkTableTestBase.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/MixedIncrementalLoaderTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/FlinkTaskWriterBaseTest.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/FlinkSplitPlanner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/MixedIncrementalLoader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ArcticSourceEnumerator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlanner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/MergeOnReadIncrementalPlanner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/DataIteratorReaderFunction.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/FlinkArcticMORDataReader.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/FlinkTableTestBase.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/MixedIncrementalLoaderTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/FlinkTaskWriterBaseTest.java
Labels: module:flink, module:core

#1531 [Bug]: Unexpected data in Operations section of table details
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
Labels: module:core

#1540 [ARCTIC-1539][AMS] Make the `updateConfigInternal` method always execute
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:dashboard

#1530 [AMS] Move aws sdk dependency profile
  core/pom.xml
  pom.xml
Labels: module:core, type:build

#1541 [ARCTIC-1453]: Unexpected data in Operations section of table details
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
Labels: module:core

#1543 [ARCTIC-1542] Fix NPE when load optimizer config with null propoerty
  ams/server/src/main/java/com/netease/arctic/server/optimizing/SchedulingPolicy.java
  ams/server/src/main/java/com/netease/arctic/server/resource/ContainerMetadata.java
Labels: module:dashboard

#1507 [ARCTIC-1474]: Self-Optimizing cached table list not fetched correctly
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/RuntimeDataExpireService.java
Labels: module:ams, module:dashboard

#1481 [Arctic-1476]: Support load and optimizing iceberg table on s3
  core/src/main/java/com/netease/arctic/catalog/IcebergCatalogWrapper.java
  core/src/main/java/com/netease/arctic/io/ArcticFileIOAdapter.java
  core/src/main/java/com/netease/arctic/io/PathInfo.java
  core/src/main/java/com/netease/arctic/io/SupportFileRecycleOperations.java
  core/src/main/java/com/netease/arctic/io/SupportsFileSystemOperations.java
  core/src/main/java/com/netease/arctic/table/BasicTableBuilder.java
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  hive/src/main/java/com/netease/arctic/hive/table/KeyedHiveTable.java
Labels: module:core, module:hive

#1547 [ARCTIC-1494][AMS] table optimize history abnormal display
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
Labels: module:dashboard

#1546 [ARCTIC-1545][Bug][Spark]: Adapt legacy hive properties in spark session catalog.
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestArcticSessionCatalog.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestArcticSessionCatalog.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestArcticSessionCatalog.java
Labels: module:spark

#1550 [ARCTIC-1496] Additional exception handling should be added to the getTable method in Thrift
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/exception/ArcticRuntimeException.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/ThriftServiceProxy.java
Labels: module:ams, module:dashboard

#1556 [ARCTIC-1545][PICK-1546][Bug][Spark]: Adapt legacy hive properties in spark session catalog.
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
Labels: module:spark

#1555 [ARCTIC-1551]: Global Catalog configuration not valid for table build check
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/test/java/com/netease/arctic/catalog/TestMixedCatalog.java
Labels: module:core

#1561 Revert "[ARCTIC-1551]: Global Catalog configuration not valid for table build check"
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/test/java/com/netease/arctic/catalog/TestMixedCatalog.java
Labels: module:core

#1559 [Doc] Fix errors in doc
  site/docs/ch/guides/deployment.md
  site/docs/ch/guides/managing-tables.md
Labels: type:docs

#1564 [ARCTIC-1563] Check if file-io supports file system operations before deleting empty snapshot dir
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
Labels: module:dashboard

#1566 Doc improvement in Flink module with the first three chapters
  site/config/en/mkdocs.yml
  site/docs/ch/flink/flink-ddl.md
  site/docs/ch/flink/flink-dml.md
  site/docs/ch/flink/flink-get-started.md
  site/docs/en/engines/flink/flink-ddl.md
  site/docs/en/engines/flink/flink-dml.md
  site/docs/en/engines/flink/flink-get-started.md
Labels: type:docs

#1569 [ARCTIC-1562][FLINK]: When Flink task parallelism is more than the number of table partitions, the data in the Filestore is not read.
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/Split.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/AbstractArcticEnumerator.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestArcticSourceEnumerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/Split.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/AbstractArcticEnumerator.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestArcticSourceEnumerator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/Split.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/AbstractArcticEnumerator.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestArcticSourceEnumerator.java
Labels: module:flink

#1568 [ARCTIC-1521] [Improvement]: Add hive location to table properties of Mixed hive format
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  hive/src/test/java/com/netease/arctic/hive/op/TestHiveSchemaUpdate.java
Labels: module:hive

#1580 Doc modification in Flink module with using-logstore chapter
  site/docs/ch/configurations.md
  site/docs/ch/flink/flink-dml.md
  site/docs/ch/flink/using-logstore.md
  site/docs/en/configurations.md
  site/docs/en/engines/flink/flink-dml.md
  site/docs/en/engines/flink/using-logstore.md
Labels: type:docs

#1384 [Arctic-1311] Add new task splitting rules
  core/src/main/java/com/netease/arctic/scan/BasicKeyedTableScan.java
  core/src/main/java/com/netease/arctic/scan/KeyedTableScan.java
  core/src/main/java/com/netease/arctic/utils/ManifestEntryFields.java
  core/src/test/java/com/netease/arctic/scan/TestScanSplitTask.java
  site/docs/ch/configurations.md
  trino/src/main/java/com/netease/arctic/trino/ArcticConfig.java
  trino/src/main/java/com/netease/arctic/trino/ArcticSessionProperties.java
  trino/src/main/java/com/netease/arctic/trino/keyed/KeyedConnectorSplitManager.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestBaseArcticPrimaryTable.java
Labels: type:docs, module:core, module:trino

#1529 [ARCTIC-1332] Fix a `ScheduledExecutorService` with coolPoolSize = 0 consumes 100% CPU
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/AsyncTableExecutors.java
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  dist/src/main/arctic-bin/conf/config.yaml
  site/docs/ch/guides/deployment.md
Labels: type:docs, type:build, module:dashboard

#1585 [ARCTIC-1584] Fix Mysql init sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:dashboard

#1574 [ARCTIC-1552] fix 0.4.x close all services in AMS when failover
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/ArcticMetaStore.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/handler/impl/ArcticTableMetastoreHandler.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/handler/impl/OptimizeManagerHandler.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IOptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/OptimizeService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/IMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/IOrphanFilesCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/IQuotaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/ISupportHiveSyncService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/ITableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/ITableInfoService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/ITableTaskHistoryService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/ServiceContainer.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/AdaptHiveService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/ArcticTransactionService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/CatalogMetadataService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/ContainerMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/DDLTracerService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/FileInfoCacheService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/JDBCMetaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeExecuteService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizerService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/PlatformFileInfoService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/QuotaService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/RuntimeDataExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/SupportHiveSyncService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableBaseInfoService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableBlockerService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableTaskHistoryService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TrashCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/terminal/TerminalManager.java
Labels: module:ams, module:dashboard

#1410 [ARCTIC-1400] reduce read metadata files times
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/test/java/com/netease/arctic/server/dashboard/TestServerTableDescriptor.java
Labels: module:dashboard

#1590 [ARCTIC-1575]: Update maven-scala-plugin version to 4.8.1
  pom.xml
Labels: type:build

#1576 [ARCTIC-1552] Shutdown the thread pools in AMS immediately after failover
  ams/server/src/main/java/com/netease/arctic/server/table/executor/BaseTableExecutor.java
Labels: module:dashboard

#1573 [ARCTIC-1323] Extract the toString() logic of ArcticSplit to the core module
  core/src/main/java/com/netease/arctic/scan/BaseCombinedScanTask.java
  core/src/main/java/com/netease/arctic/scan/NodeFileScanTask.java
  core/src/main/java/com/netease/arctic/utils/FileScanTaskUtil.java
  core/src/test/java/com/netease/arctic/scan/TestBaseCombinedScanTask.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ChangelogSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/SnapshotSplit.java
Labels: module:flink, module:core

#1577 [ARCTIC-1551]: Global Catalog configuration not valid for table build check
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/test/java/com/netease/arctic/catalog/TestMixedCatalog.java
Labels: module:core

#1610 [ARCTIC-1609] Check if is a hive table in execute in HiveCommitSyncExecutor
  ams/server/src/main/java/com/netease/arctic/server/table/executor/HiveCommitSyncExecutor.java
Labels: module:dashboard

#1614 [0.4.x] Fix compile error
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestArcticSourceEnumerator.java
Labels: module:flink

#1586 [ARCTIC-1579][FLINK] Using Lookup Join will encounter 'Field op_time not found in source schema'
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestWatermark.java
  flink/v1.14/arctic-flink-1.14-iceberg-bridge/pom.xml
  flink/v1.14/flink-format/pom.xml
  flink/v1.14/flink-runtime/pom.xml
  flink/v1.14/flink/pom.xml
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
  flink/v1.15/arctic-flink-1.15-iceberg-bridge/pom.xml
  flink/v1.15/flink-format/pom.xml
  flink/v1.15/flink-runtime/pom.xml
  flink/v1.15/flink/pom.xml
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/util/FlinkClassReflectionUtil.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestJoin.java
Labels: module:flink, type:build

#1618 [ARCTIC-1617][Improvement]: Change the Optimize Type FULL_MAJOR to FULL
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingType.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedHiveOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedIcebergOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/checker/FullOptimizingMove2HiveChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/checker/FullOptimizingWrite2HiveChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestOptimizingPlanner.java
Labels: module:dashboard

#1599 [ARCTIC-1378] Incorrect data synchronization caused the data of the arctic base table to be overwritten
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/main/java/com/netease/arctic/hive/utils/HivePartitionUtil.java
  hive/src/main/java/com/netease/arctic/hive/utils/UpgradeHiveTableUtil.java
  hive/src/test/java/com/netease/arctic/hive/utils/TestUpgradeHiveTableUtil.java
Labels: module:hive

#1583 [ARCTIC-1535] add new http interface for showing Optimizing processes
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizedRecord.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizingHistory.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizingProcessInfo.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/response/PageResult.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/MetricsSummary.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingProcess.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingProcessMeta.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingTaskMeta.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
  ams/server/src/test/java/com/netease/arctic/server/optimizing/BaseOptimizingChecker.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestIcebergHadoopOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedHiveOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedIcebergOptimizing.java
Labels: module:dashboard

#1625 [ARCTIC-1624] Modify column rewrite_input and rewrite_output type to longblob
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
Labels: module:dashboard

#1627 [ARCTIC-1626] Fix the touch time of Optimizer when restarting AMS
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
Labels: module:dashboard

#1621 [ARCTIC-1620] Check there are no orphan files in the directory when Mixed Hive Full Optimizing committing
  ams/server/src/main/java/com/netease/arctic/server/optimizing/KeyedTableCommit.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/UnKeyedTableCommit.java
Labels: module:dashboard

#1587 [ARCTIC-1537] support to manage optimizer groups in dashboard
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/CatalogRegisterInfo.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/CatalogSettingInfo.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizerResourceInfo.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/response/OkResponse.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/SchedulingPolicy.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizerMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/ResourceMapper.java
  ams/server/src/main/java/com/netease/arctic/server/resource/DefaultResourceManager.java
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
  dist/src/main/arctic-bin/conf/config.yaml
Labels: type:build, module:dashboard

#1633 [ARCTIC-1535] Fix displaying empty optimizing process
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
Labels: module:dashboard
