Repository apache/amoro, pull requests merged in 2023-07, with the labels that each got.

#1641 [ARCTIC-1600][Core]Fix Self-Optimizing error when partition value is null in Mixed-format
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/view/KeyedTableDataView.java
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
  core/src/test/java/com/netease/arctic/utils/TestArcticDataFiles.java
Labels: module:core, module:dashboard

#1635 [ARCTIC-1634] avoid using timestamp without default value for MySQL
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
Labels: module:dashboard

#1639 [ARCTIC-1596][Flink]: turn on all unit tests annotated with @Ignore
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/TestArcticSource.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaConsumerBaseLog.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/TestHiddenKafkaProducer.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/TestArcticSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaConsumer.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/TestHiddenKafkaProducer.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/TestArcticSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hidden/kafka/TestKafkaConsumer.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/hidden/kafka/TestHiddenKafkaProducer.java
Labels: module:flink

#1631 [ARCTIC-1630][Flink] Kafka producer encounters NPE when calling the close function
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/hidden/kafka/HiddenKafkaProducer.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/hidden/kafka/HiddenKafkaProducer.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/hidden/kafka/HiddenKafkaProducer.java
Labels: module:flink

#1608 [ARCTIC-1339][AMS]: AMS provider Iceberg rest catalog service
  ams/api/src/main/gen-java/com/netease/arctic/ams/api/TableMeta.java
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/CatalogMetaProperties.java
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/MetaTableProperties.java
  ams/api/src/main/thrift/arctic_table_metastore.thrift
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/IcebergRestCatalogService.java
  ams/server/src/main/java/com/netease/arctic/server/TableManagementService.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogBuilder.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/InternalCatalog.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/InternalIcebergCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/MixedCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/iceberg/InternalTableOperations.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/UnKeyedTableCommit.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/TableMetaMapper.java
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableMetadata.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableService.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/SparkContextUtil.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalManager.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalSessionFactory.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtils.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/log4j2.xml
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  ams/server/src/test/java/com/netease/arctic/server/TestIcebergRestCatalogService.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/AbstractOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/OptimizingTestHelpers.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestIcebergHadoopOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestOptimizingIntegration.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/CompleteOptimizingFlow.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestIcebergPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/TestUnkeyedPartitionPlan.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestIcebergTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestKeyedTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestUnkeyedTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/table/AMSTableTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableService.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestSnapshotExpire.java
  ams/server/src/test/resources/log4j2.xml
  core/src/main/java/com/netease/arctic/AmsClient.java
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/main/java/com/netease/arctic/catalog/CatalogLoader.java
  core/src/main/java/com/netease/arctic/utils/ConvertStructUtil.java
  core/src/test/java/com/netease/arctic/io/DataTestHelpers.java
  core/src/test/java/com/netease/arctic/io/IcebergTaskWriters.java
  dist/src/main/arctic-bin/conf/log4j2.xml
  dist/src/main/assemblies/bin.xml
  hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
Labels: module:core, module:ams, module:hive, type:build, module:dashboard

#1647 [ARCTIC-1339][AMS]: Fix sql problems in upgrade-0.4.1-to-0.5.0.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
Labels: module:dashboard

#1645 Remove deprecated classes and variables that should be removed from v0.5.0
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableProperties.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  core/src/test/java/com/netease/arctic/IcebergTableBase.java
  core/src/test/java/com/netease/arctic/TableTestBase.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestUnkeyedOverwrite.java
  hive/src/test/java/com/netease/arctic/hive/HiveTableTestBase.java
Labels: module:flink, module:core, module:hive, module:dashboard

#1623 [ARCTIC-1622] [Subtask] [Improvement]: Add hive location to table properties of Mixed hive format
  core/src/test/java/com/netease/arctic/catalog/TestMixedCatalog.java
  hive/src/main/java/com/netease/arctic/hive/HiveTableProperties.java
  hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
  hive/src/test/java/com/netease/arctic/hive/catalog/TestMixedHiveCatalog.java
Labels: module:core, module:hive

#1655 [ARCTIC-1648] Commit IDs in Files page are not accurate
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/PartitionFileBaseInfo.java
Labels: module:dashboard

#1629 [ARCTIC-1571][Improvement][AMS]Iceberg Format Table's full optimizing should be triggered by interval
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/IcebergFullOptimizePlan.java
Labels: module:ams, module:dashboard

#1651 [ARCTIC-1649] Add detailed fail reason for optimizing commit failure
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  core/src/main/java/com/netease/arctic/utils/ExceptionUtil.java
Labels: module:core, module:dashboard

#1657 [ARCTIC-1656][AMS] Make plan return when offered a task and do not evaluate when the table is optimizing
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:ams, module:dashboard

#1660 [ARCTIC-1653] Support special characters in partition values
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
  core/src/test/java/com/netease/arctic/utils/TestArcticDataFiles.java
Labels: module:core

#1644 [ARCTIC-1640] Splitting different thrift processors into different thread pools
  ams/api/src/main/java/com/netease/arctic/ams/api/client/AmsClientPools.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ArcticThriftUrl.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/OptimizingClientPools.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftClientPool.java
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/AmsHAProperties.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/HighAvailabilityContainer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/AmsUtil.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalManager.java
  ams/server/src/test/java/com/netease/arctic/server/AmsEnvironment.java
  core/src/main/java/com/netease/arctic/catalog/CatalogLoader.java
  dist/src/main/arctic-bin/conf/config.yaml
Labels: module:core, module:ams, type:build, module:dashboard

#1663 [ARCTIC-1600][ARCTIC-1653] cherry-pick to 0.4.x fix null and special charactors for partition value
  core/src/main/java/com/netease/arctic/utils/ArcticDataFiles.java
  core/src/test/java/com/netease/arctic/utils/ArcticDataFilesTest.java
Labels: module:core

#1659 [ARCTIC-1628][Feature][AMS]: Remove the Independent DeleteFiles for the Iceberg Format Table
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/utils/UnKeyedTableUtil.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestOrphanFileClean.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  site/docs/ch/configurations.md
Labels: type:docs, module:core, module:ams, module:dashboard

#1664 [ARCTIC-1628][Feature][AMS]: Remove the Independent DeleteFiles for the Iceberg Format Table
  ams/api/src/test/java/com/netease/arctic/ams/api/MockArcticMetastoreServer.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/utils/IcebergTableUtil.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestOrphanFileCleanIceberg.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  site/docs/ch/configurations.md
Labels: type:docs, module:core, module:ams, module:dashboard

#1667 [ARCTIC-1666] Support creating a catalog with an empty configuration file.
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
Labels: module:dashboard

#1665 [ARCTIC-1650][AMS]: Optimize the serialization of table_optimizing_process.rewrite_input using gzip
  ams/server/src/main/java/com/netease/arctic/server/persistence/TaskFilesPersistence.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/Object2ByteArrayConvert.java
  ams/server/src/main/java/com/netease/arctic/server/utils/CompressUtil.java
  ams/server/src/test/java/com/netease/arctic/server/util/CompressUtilTest.java
Labels: module:dashboard

#1681 [ARCTIC-1679] Clean pending input when begin optimizing process
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:ams, module:dashboard

#1680 [ARCTIC-1399][Improvement]: Use spark3.3 as default backend for terminal sql
  ams/server/pom.xml
Labels: type:build, module:dashboard

#1689 [ARCTIC-1686] Update status start time after optimizing status changed to pending
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
Labels: module:dashboard

#1688 [ARCTIC-1687] Exclude kryo dependency which in ams-core from ams-optimizer module
  ams/optimizer/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/persistence/TaskFilesPersistence.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/Object2ByteArrayConvert.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
Labels: type:build, module:dashboard

#1692 Revert "[ARCTIC-1687] Exclude kryo dependency which in ams-core from ams-optimizer module"
  ams/optimizer/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/persistence/TaskFilesPersistence.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/Object2ByteArrayConvert.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
Labels: type:build, module:dashboard

#1678 [ARCTIC-1673]: Add maven profile to set flink version for flink optimizer
  ams/optimizer/pom.xml
Labels: type:build, module:dashboard

#1701 [ARCTIC-1696] Fix the different schema for delete filter and the PK projection
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
Labels: module:core, module:optimize

#1703 Replace com.clearspring.analytics.util.Lists with org.apache.iceberg.relocated.com.google.common.collect.Lists
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/StatedPersistentBase.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/JDBCResultSet.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/StatementResult.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalSessionContext.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/local/LocalTerminalSession.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableRuntimeHandler.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/util/DistributionAndOrderingUtil.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/helper/TestTable.java
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/util/DistributionAndOrderingUtil.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/helper/TestTable.java
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/util/DistributionAndOrderingUtil.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/helper/TestTable.java
Labels: module:spark, module:dashboard

#1595 [ARCTIC-1570] Remove `LOG.isDebugEnabled()` and use `{}` instead `+`
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/FlinkOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/LocalOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerToucher.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
  flink/v1.12/arctic-flink-1.12-pulsar-bridge/src/main/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarOrderedSourceReader.java
  flink/v1.12/arctic-flink-1.12-pulsar-bridge/src/main/java/org/apache/flink/connector/pulsar/source/reader/source/PulsarUnorderedSourceReader.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/metric/MetricsGenerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/metric/MetricsGenerator.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/kafka/testutils/KafkaTestBase.java
  hive/src/main/java/com/netease/arctic/hive/utils/UpgradeHiveTableUtil.java
  hive/src/test/java/com/netease/arctic/hive/HMSMockServer.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/IcebergMetadata.java
  trino/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
Labels: module:flink, module:hive, module:trino, module:dashboard

#1705 [ARCTIC-1704][BUG] exclude hadoop-client-api
  ams/server/pom.xml
Labels: type:build, module:dashboard

#1706 [ARCTIC-1183] Use StruckLikeMap<T> instead of Map<StruckLike, T>
  core/src/main/java/com/netease/arctic/scan/BasicKeyedTableScan.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
Labels: module:core, module:hive

#1693 [ARCTIC-1691] Fix file count/size and quota occupation is `0` when in pending optimizing status
  ams/server/src/main/java/com/netease/arctic/server/dashboard/utils/OptimizingUtil.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingEvaluator.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/JsonObjectConverter.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/OptimizingMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/ResourceMapper.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/TableMetaMapper.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntimeMeta.java
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
Labels: module:dashboard

#1699 [ARCTIC-1694] AMS logs need to be compressed and rolled up
  dist/src/main/arctic-bin/conf/log4j2.xml
Labels: type:build

#1567 [ARCTIC-1522][AMS][Bug]: The error log for starting the local optimizer process was not…
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/LocalOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/util/ExecUtil.java
  dist/src/main/arctic-bin/bin/localOptimize.sh
Labels: type:build, module:dashboard

#1712 [ARCTIC-1707] Make Thrift client pool max size to unlimited
  ams/api/src/main/java/com/netease/arctic/ams/api/client/OptimizingClientPools.java
Labels: module:ams, module:dashboard

#1709 [ARCTIC-1708] [Bug]: When using a partition name with uppercase letters in the mixed hive format, it leads to an exceptio
  hive/src/main/java/org/apache/iceberg/IcebergSchemaUtil.java
Labels: module:hive

#1612 [optimizer]For flinkcontainer optimizer, When making a connection via ams in high availability mode, NoSuchMethodError is encountered
  ams/api/pom.xml
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/ResourceGroup.java
Labels: module:ams, type:build, module:dashboard

#1727 [ARCTIC-1611]For flinkcontainer optimizer, When making a connection v…
  ams/ams-api/pom.xml
Labels: type:build, module:dashboard

#1731 [ARCTIC-1730] Add a ceche when building IcebergDeleteFile in IcebergTableFileScanHelper.scan to prevent too many generated IcebergDeleteFiles
  ams/server/src/main/java/com/netease/arctic/server/optimizing/scan/IcebergTableFileScanHelper.java
Labels: module:dashboard

#1732 [Bug] Fix log4j2.xml appender typo
  ams/server/src/main/resources/log4j2.xml
Labels: module:dashboard

#1702 [ARCTIC-1698] Fix delete change ttl files will commit empty snapshot
  .github/PULL_REQUEST_TEMPLATE
  ams/server/src/main/java/com/netease/arctic/server/table/TableConfiguration.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestSnapshotExpire.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
Labels: module:core, type:infra, module:dashboard

#1739 [ARCTIC-1737] Fix the tasks of `ScheduledExecutorService` that halts when an exception or error is thrown
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeExecuteService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OrphanFilesCleanService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/SupportHiveSyncService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TableExpireService.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/TrashCleanService.java
Labels: module:ams, module:dashboard

#1740 [ARCTIC-1729] IcebergPartitionPlan impl buildTaskSplitter by Bin-Packing
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/IcebergPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/MixedIcebergPartitionPlan.java
Labels: module:dashboard

#1738 [ARCTIC-1736] Fix SnapshotsExpiringExecutor will expire the snapshot which table used to plan
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestSnapshotExpire.java
Labels: module:dashboard

#1735 [ARCTIC_1726]flink1.12 When double write into fliestore and logstore, AutomaticLogWriter skip doing snapshotState, Leading to NoSuchElementException during initializeState after failover and restart
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/AutomaticDoubleWriteStatus.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/write/hidden/AbstractHiddenLogWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/MixedIncrementalLoaderTest.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/write/AutomaticDoubleWriteStatus.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/MixedIncrementalLoaderTest.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/write/AutomaticDoubleWriteStatus.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/MixedIncrementalLoaderTest.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticDoubleWriteStatus.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  site/docs/ch/flink/flink-dml.md
Labels: type:docs, module:flink

#1742 [ARCTIC-1611] Fix Preconditions import
  ams/api/src/main/java/com/netease/arctic/ams/api/properties/AmsHAProperties.java
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/Resource.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableConfiguration.java
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/writer/WriteTaskCommit.java
Labels: module:spark, module:ams, module:dashboard

#1746 [ARCTIC-1745] fix the calculation of `actualInputSize` when skip some partitions for optimizing
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/OptimizingPlanner.java
Labels: module:dashboard

#1752 [ARCTIC-1751] Update the memory map in spillable map when new value was existed for the key
  core/pom.xml
  core/src/main/java/com/netease/arctic/utils/map/SimpleSpillableMap.java
  core/src/test/java/com/netease/arctic/utils/map/TestSimpleSpillableMap.java
Labels: module:core, type:build

#1757 [ARCTIC-1750] add `CONTRIBUTING.md` to guild contributing
  .gitignore
  CONTRIBUTING.md
Labels: type:docs, type:infra
