Repository apache/amoro, pull requests merged in 2023-09, with the labels that each got.

#1904 [Improvement]: Remove AmsClient in UnkeyedTable and KeyedTable
  ams/server/src/main/java/com/netease/arctic/server/dashboard/ServerTableDescriptor.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/KeyedTableCommit.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/UnKeyedTableCommit.java
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/main/java/com/netease/arctic/catalog/IcebergCatalogWrapper.java
  core/src/main/java/com/netease/arctic/catalog/MixedTables.java
  core/src/main/java/com/netease/arctic/mixed/BasicMixedIcebergCatalog.java
  core/src/main/java/com/netease/arctic/mixed/MixedTables.java
  core/src/main/java/com/netease/arctic/op/ArcticAppendFiles.java
  core/src/main/java/com/netease/arctic/op/ArcticDeleteFiles.java
  core/src/main/java/com/netease/arctic/op/ArcticOverwriteFiles.java
  core/src/main/java/com/netease/arctic/op/ArcticReplacePartitions.java
  core/src/main/java/com/netease/arctic/op/ArcticRewriteFiles.java
  core/src/main/java/com/netease/arctic/op/ArcticRowDelta.java
  core/src/main/java/com/netease/arctic/op/ArcticTransaction.java
  core/src/main/java/com/netease/arctic/op/ArcticUpdate.java
  core/src/main/java/com/netease/arctic/op/CreateTableTransaction.java
  core/src/main/java/com/netease/arctic/op/SnapshotSummary.java
  core/src/main/java/com/netease/arctic/table/BasicKeyedTable.java
  core/src/main/java/com/netease/arctic/table/BasicTableBuilder.java
  core/src/main/java/com/netease/arctic/table/BasicUnkeyedTable.java
  core/src/main/java/com/netease/arctic/table/TableBuilder.java
  core/src/main/java/com/netease/arctic/trace/AmsTableTracer.java
  core/src/main/java/com/netease/arctic/trace/ArcticTransaction.java
  core/src/main/java/com/netease/arctic/trace/TableTracer.java
  core/src/main/java/com/netease/arctic/trace/TraceOperations.java
  core/src/main/java/com/netease/arctic/trace/TracedSchemaUpdate.java
  core/src/main/java/com/netease/arctic/trace/TracedUpdateProperties.java
  core/src/test/java/com/netease/arctic/trace/TestTableTracer.java
  hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
  hive/src/main/java/com/netease/arctic/hive/table/KeyedHiveTable.java
  hive/src/main/java/com/netease/arctic/hive/table/UnkeyedHiveTable.java
  trino/src/main/java/com/netease/arctic/trino/unkeyed/ArcticTrinoCatalog.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticTable.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestBasicArcticCatalog.java
Labels: module:core, module:hive, module:trino, module:dashboard

#1900 [AMORO-1899] add init schema in mysql
  ams/server/src/main/java/com/netease/arctic/server/persistence/SqlSessionFactoryProvider.java
Labels: module:dashboard

#1923 [AMORO-1914] Override `org.apache.iceberg.Table#name` for some classes and `toString` for `TaskRuntime`
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  core/src/main/java/com/netease/arctic/table/BasicUnkeyedTable.java
  trino/src/main/java/com/netease/arctic/trino/ArcticCatalogSupportTableSuffix.java
Labels: module:core, module:trino, module:dashboard

#1921 [AMORO-1765]: Add metric collection API
  ams/api/src/main/java/com/netease/arctic/ams/api/metrics/IcebergCommitReport.java
Labels: module:ams, module:dashboard

#1915 [AMORO-1882] fix NullPointerException when calling InMemoryLockManager#release of Iceberg
  core/src/main/java/com/netease/arctic/op/ArcticHadoopTableOperations.java
  core/src/main/java/com/netease/arctic/utils/IcebergInMemoryLockManager.java
Labels: module:core

#1920 [Improvement] Add bounds of timestamp type for mixed-hive table
  LICENSE
  hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetConversions.java
  hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetUtil.java
  hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetWriter.java
  hive/src/test/java/com/netease/arctic/hive/io/TestHiveTaskReader.java
  trino/src/test/java/com/netease/arctic/trino/arctic/TestHiveTable.java
Labels: module:hive, module:trino, type:infra

#1919 [AMORO-1912] Roll back the refresh when constructing UGI
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
  docs/engines/trino.md
Labels: type:docs, module:core

#1926 [Improvement]: Add basic configration of spotless
  .scalafmt.conf
  ams/api/pom.xml
  pom.xml
  spark/v3.1/spark/pom.xml
  spark/v3.1/spark/src/main/scala/com/netease/arctic/spark/sql/execution/TruncateArcticTableExec.scala
  spark/v3.2/spark/pom.xml
  spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/sql/ArcticExtensionUtils.scala
  spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticMergeIntoTable.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/arctic/parser/QueryParsingErrors.scala
  spark/v3.3/spark/pom.xml
  spark/v3.3/spark/src/main/scala/com/netease/arctic/spark/sql/ArcticExtensionUtils.scala
  spark/v3.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticCommand.scala
  spark/v3.3/spark/src/main/scala/com/netease/arctic/spark/sql/catalyst/analysis/RewriteArcticMergeIntoTable.scala
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/arctic/parser/QueryParsingErrors.scala
  style/arctic-checkstyle.xml
Labels: module:spark, module:ams, type:infra, type:build, module:dashboard

#1928 [AMORO-1242] Fix refreshing a large number of tables during optimizing plan
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/service/impl/OptimizeQueueService.java
Labels: module:ams, module:dashboard

#1932 [AMORO-1931][Flink] Logstore supports 'group-offsets' and 'specific-offsets' Startup mode
  docs/engines/flink/flink-dml.md
  docs/engines/flink/using-logstore.md
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
Labels: type:docs, module:flink

#1938 [AMORO-1899] improve init schema in mysql
  ams/server/src/main/java/com/netease/arctic/server/persistence/SqlSessionFactoryProvider.java
  docs/admin-guides/deployment.md
Labels: type:docs, module:dashboard

#1949 [AMORO-1931][Flink] Logstore supports 'group-offsets' and 'specific-o…
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/log/kafka/LogKafkaSourceBuilder.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
Labels: module:flink

#1944 [AMORO-1943] using `TableConfiguration` instead of `TableProperties` for AMS
  ams/server/src/main/java/com/netease/arctic/server/table/TableConfiguration.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/SnapshotsExpiringExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestSnapshotExpire.java
Labels: module:dashboard

#1954 [AMORO-1953][AMS] Improve the triggering conditions for segment file rewriting
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/TestKeyedContinuousOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/flow/TestUnKeyedContinuousOptimizing.java
Labels: module:dashboard

#1965 [AMORO-1963][Spark]: Do not relocate the `org.apache.thrift.TException`
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.3/spark-runtime/pom.xml
Labels: module:spark, type:build

#1911 [AMORO-1898] fix Mixed Hive Table's self-optimizing moving files to the stale hive table/partition location
  ams/server/src/main/java/com/netease/arctic/server/optimizing/KeyedTableCommit.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/UnKeyedTableCommit.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/HiveCommitSyncExecutor.java
  hive/src/main/java/com/netease/arctic/hive/op/UpdateHiveFiles.java
  hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
  hive/src/test/java/com/netease/arctic/hive/utils/TestHiveMetaSynchronizer.java
Labels: module:hive, module:dashboard

#1972 [AMORO-1120] we return bytes array when we response file load request
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PlatformFileManager.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/CatalogController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/PlatformFileInfoController.java
Labels: module:dashboard

#1976 [AMORO-1924]Fix Iceberg tables undergoing major optimizing repeatedly
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
Labels: module:dashboard

#1952 [AMORO-1422][Flink] Support MoR with Flink in SQL/Table API for Mix-format table
  docs/engines/flink/flink-dml.md
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/ArcticSource.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.12/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/ArcticSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/StaticSplitAssigner.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/MergeOnReadPlannerImpl.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/StaticArcticSourceEnumerator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/DataIteratorReaderFunction.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/HybridSplitReader.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplitSerializer.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplitState.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/DataIterator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/read/source/MergeOnReadDataIterator.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/TestArcticSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/TestShuffleSplitAssigner.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/TestStaticSplitAssigner.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestArcticSourceEnumStateSerializer.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/TestRowDataReaderFunction.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/read/hybrid/split/TestArcticSplitSerializer.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/ArcticSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/ShuffleSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/assigner/StaticSplitAssigner.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/MergeOnReadPlannerImpl.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/enumerator/StaticArcticSourceEnumerator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/DataIteratorReaderFunction.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/HybridSplitReader.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplitSerializer.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/ArcticSplitState.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/hybrid/split/MergeOnReadSplit.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/ArcticScanContext.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/DataIterator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/read/source/MergeOnReadDataIterator.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticFileSource.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/DynamicTableFactory.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/TestArcticSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/TestShuffleSplitAssigner.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/assigner/TestStaticSplitAssigner.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/enumerator/TestArcticSourceEnumStateSerializer.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/reader/TestRowDataReaderFunction.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/read/hybrid/split/TestArcticSplitSerializer.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
Labels: type:docs, module:flink

#1967 [AMORO-1966] Add PostgreSQL as system database
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/SqlSessionFactoryProvider.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/converter/Object2ByteArrayConvert.java
  ams/server/src/main/resources/postgres/ams-postgres-init.sql
  dist/src/main/arctic-bin/conf/config.yaml
  dist/src/main/assemblies/bin.xml
  docs/admin-guides/deployment.md
Labels: type:docs, type:build, module:dashboard

#1982 [AMORO-1981] orphan files could not be deleted
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
Labels: module:dashboard

#1987 [AMORO-1908] Fix Spark doc error
  docs/engines/spark/spark-conf.md
  docs/engines/spark/spark-get-started.md
Labels: type:docs

#1986 [AMORO-1985]Avoid NPE during disposing ArcticServiceContainer
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
Labels: module:dashboard

#1961 [AMORO-1959] fix orphan files clean mistakenly delete the statistics files
  ams/server/src/main/java/com/netease/arctic/server/table/executor/OrphanFilesCleaningExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/table/executor/TestOrphanFileClean.java
  core/src/main/java/com/netease/arctic/table/BasicUnkeyedTable.java
Labels: module:core, module:dashboard

#1936 [AMORO-1935] 0.4.x introduce a table property for task spliting size of self-optimizing
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractIcebergOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/AbstractOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/FullOptimizePlan.java
  ams/ams-server/src/main/java/com/netease/arctic/ams/server/optimize/MajorOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestIcebergFullOptimizePlan.java
  ams/ams-server/src/test/java/com/netease/arctic/ams/server/optimize/TestMajorOptimizePlan.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  site/docs/ch/configurations.md
Labels: type:docs, module:core, module:ams, module:dashboard

#1988 [AMORO-1935] Introduce a table property for task spliting size of self-optimizing
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingConfig.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/AbstractPartitionPlan.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
Labels: type:docs, module:core, module:dashboard

#1984 doc: update dashboard readme
  ams/dashboard/README.md
  ams/dashboard/vue.config.js
Labels: module:dashboard

#1990 [AMORO-1857]: Check short name for principal before call constructUgi()
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
Labels: module:core

#1992 [AMORO-1980]Cache UGI in TableMetaStore
  core/src/main/java/com/netease/arctic/table/TableMetaStore.java
  trino/src/test/java/com/netease/arctic/trino/iceberg/TestArcticCatalogFactory.java
Labels: module:core, module:trino

#1997 [AMORO-1869] Avoid evaluating pending input during the optimization process
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:dashboard

#2000 [AMORO-1293][Improvement][CI]: Run maven checkstyle first in ci
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/trino-ci.yml
  pom.xml
  style/scalastyle-config.xml
Labels: type:infra, type:build

#1993 [AMORO-1979] When a date type is used as the primary key, the data will be duplicated after optimization.
  ams/server/src/test/java/com/netease/arctic/server/TestIcebergRestCatalogService.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/AbstractOptimizingTest.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestMixedHiveOptimizing.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestOptimizingQueue.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/plan/MixedTablePlanTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestKeyedTableFileScanHelper.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/scan/TestUnkeyedTableFileScanHelper.java
  core/src/main/java/com/netease/arctic/iceberg/CombinedDeleteFilter.java
  core/src/test/java/com/netease/arctic/BasicTableTestHelper.java
  core/src/test/java/com/netease/arctic/catalog/TableTestBase.java
  core/src/test/java/com/netease/arctic/data/TestDefaultKeyedFile.java
  core/src/test/java/com/netease/arctic/data/TestUpsertPushDown.java
  core/src/test/java/com/netease/arctic/io/IcebergDataTestHelpers.java
  core/src/test/java/com/netease/arctic/io/IcebergTaskWriters.java
  core/src/test/java/com/netease/arctic/io/MixedDataTestHelpers.java
  core/src/test/java/com/netease/arctic/io/TableDataTestBase.java
  core/src/test/java/com/netease/arctic/io/TestIcebergCombinedReader.java
  core/src/test/java/com/netease/arctic/io/TestIcebergCombinedReaderVariousTypes.java
  core/src/test/java/com/netease/arctic/io/TestIcebergFanoutPosDeleteWriter.java
  core/src/test/java/com/netease/arctic/io/TestTaskReader.java
  core/src/test/java/com/netease/arctic/io/TestTaskWriter.java
  core/src/test/java/com/netease/arctic/op/TestOverwriteBaseFile.java
  core/src/test/java/com/netease/arctic/op/TestRewritePartitions.java
  core/src/test/java/com/netease/arctic/optimizing/IcebergRewriteExecutorTest.java
  core/src/test/java/com/netease/arctic/scan/TestKeyedTableScan.java
  core/src/test/java/com/netease/arctic/scan/TestScanSplitTask.java
  core/src/test/java/com/netease/arctic/utils/map/TestStructLikeWrapperSizeEstimator.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.12/flink/src/test/java/com/netease/arctic/flink/write/TestFlinkSink.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/write/TestFlinkSink.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestAutomaticLogWriter.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/write/TestFlinkSink.java
  hive/src/test/java/com/netease/arctic/hive/catalog/HiveTableTestHelper.java
  hive/src/test/java/com/netease/arctic/hive/io/HiveDataTestHelpers.java
  spark/common/src/test/java/com/netease/arctic/spark/test/utils/TestTableUtil.java
Labels: module:flink, module:spark, module:core, module:hive, module:dashboard

#1991 [AMORO-1891] Incomplete Lookup Table Source schema needs automatic primary key addition
  flink/v1.14/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.14/flink/src/test/java/com/netease/arctic/flink/table/TestLookupSecondary.java
  flink/v1.15/flink/src/main/java/com/netease/arctic/flink/table/ArcticDynamicSource.java
  flink/v1.15/flink/src/test/java/com/netease/arctic/flink/table/TestLookupSecondary.java
Labels: module:flink

#1989 [AMORO-1964][Spark]: Fix session catalog can't load mixed-iceberg
  hive/src/test/java/com/netease/arctic/hive/catalog/HiveCatalogTestHelper.java
  spark/common/src/main/java/com/netease/arctic/spark/utils/MixedFormatSparkUtil.java
  spark/common/src/test/java/com/netease/arctic/spark/test/SparkTableTestBase.java
  spark/common/src/test/java/com/netease/arctic/spark/test/SparkTestContext.java
  spark/v3.1/spark-runtime/pom.xml
  spark/v3.1/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/suites/catalog/TestSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestArcticSessionCatalog.java
  spark/v3.1/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestMultiDelegateSessionCatalog.java
  spark/v3.2/spark-runtime/pom.xml
  spark/v3.2/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/suites/catalog/TestSessionCatalog.java
  spark/v3.2/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestMultiDelegateSessionCatalog.java
  spark/v3.3/spark-runtime/pom.xml
  spark/v3.3/spark/src/main/java/com/netease/arctic/spark/ArcticSparkSessionCatalog.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/suites/catalog/TestSessionCatalog.java
  spark/v3.3/spark/src/test/java/com/netease/arctic/spark/test/suites/sql/TestMultiDelegateSessionCatalog.java
Labels: module:spark, module:hive, type:build

#2016 [AMORO-2006] Fix value logic in startup shell
  dist/src/main/arctic-bin/bin/ams.sh
Labels: type:build

#2015 [AMORO-2010] Modify Docker Image version to 'latest' in the startup script
  docker/demo-cluster.sh
Labels: type:build

#2005 [AMORO-1977] Fix retry logic in ThriftClientPool
  ams/api/src/main/java/com/netease/arctic/ams/api/client/AmsClientPools.java
  ams/api/src/main/java/com/netease/arctic/ams/api/client/ThriftClientPool.java
Labels: module:ams, module:dashboard

#2035 [AMORO-2032]: Spark3.2 version does not require the class ResolveProcedures
  spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/ArcticSparkExtensions.scala
Labels: module:spark

#2028 [AMORO-2029]: Using ArcticTableOperation in mixed-iceberg
  core/src/main/java/com/netease/arctic/mixed/MixedTables.java
Labels: module:core

#1999 [AMORO-508]: FlinkOptimizerContainer support flink native kubernetes applicatoin
  ams/api/src/main/java/com/netease/arctic/ams/api/Environments.java
  ams/api/src/main/java/com/netease/arctic/ams/api/PropertyNames.java
  ams/api/src/main/java/com/netease/arctic/ams/api/resource/Resource.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/AbstractResourceContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/FlinkOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/LocalOptimizerContainer.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/OptimizerConfig.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/util/FlinkConf.java
  ams/optimizer/src/main/java/com/netease/arctic/optimizer/util/PropertyUtil.java
  ams/optimizer/src/test/java/com/netease/arctic/optimizer/TestFlinkOptimizerContainer.java
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  dist/src/main/arctic-bin/conf/config.yaml
  docker/build.sh
  docker/optimizer-flink/.gitignore
  docker/optimizer-flink/Dockerfile
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:ams, type:build, module:dashboard

#1978 [AMORO-1945]AMS Support Database Secret On K8S
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/utils/ConfigurationUtil.java
  ams/server/src/test/java/com/netease/arctic/server/util/ConfigurationUtilTest.java
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/templates/amoro-database-secert.yaml
  charts/amoro/templates/amoro-deployment.yaml
  charts/amoro/values.yaml
Labels: module:dashboard

#2045 [AMORO-2044]Fix the issue of not being able to write time fields with large time value in mixed-hive format
  hive/src/main/java/com/netease/arctic/hive/utils/TimeUtil.java
  hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetConversions.java
  hive/src/test/java/com/netease/arctic/hive/utils/TestTimeUtil.java
Labels: module:hive

#2043 [Amoro-2042] Add PluginManager interface and SpiPluginManager implementation
  ams/api/src/main/java/com/netease/arctic/ams/api/AmoroPlugin.java
  ams/api/src/main/java/com/netease/arctic/ams/api/PluginManager.java
  ams/server/src/main/java/com/netease/arctic/server/manager/SpiPluginManager.java
  ams/server/src/test/java/com/netease/arctic/server/manager/TestPlugin.java
  ams/server/src/test/java/com/netease/arctic/server/manager/TestSpiPluginMananger.java
  ams/server/src/test/resources/META-INF/services/com.netease.arctic.server.manager.TestPlugin
Labels: module:ams, module:dashboard

#2020 [Improvement]: Ingress configration for ams when deploying with Helm.
  .gitignore
  charts/amoro/.helmignore
  charts/amoro/Chart.lock
  charts/amoro/Chart.yaml
  charts/amoro/README.md
  charts/amoro/templates/NOTES.txt
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/templates/amoro-deployment.yaml
  charts/amoro/templates/amoro-ingress.yaml
  charts/amoro/templates/amoro-role.yaml
  charts/amoro/templates/amoro-rolebinding.yaml
  charts/amoro/templates/amoro-service.yaml
  charts/amoro/templates/amoro-serviceaccount.yaml
  charts/amoro/values.yaml
Labels: type:infra
