Repository apache/amoro, pull requests merged in 2024-12, with the labels that each got.

#3350 fix: login router fail
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-web/package.json
  amoro-web/pnpm-lock.yaml
  amoro-web/src/main.ts
  amoro-web/src/views/login/index.vue
Labels: module:ams-server, module:ams-dashboard

#3353 [AMORO-3333] Include file copied from bitnami/charts into license
  LICENSE-binary
Labels: type:infra

#3362 [hotfix] Fixed incorrect use of the paimon catalog
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/SparkContextUtil.java
Labels: module:ams-server

#3360 [AMORO-3359] only set parallelism on parallelismSourceFunciton
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/FlinkSource.java
Labels: module:mixed-flink

#3373 [Hotfix] Fix unit test issues
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestIcebergServerTableDescriptor.java
Labels: module:ams-server

#3372 [AMORO-3371] Slow Display of Table List in Amoro Interface (#3371)
  amoro-web/src/components/Sidebar.vue
Labels: module:ams-dashboard

#3368 [AMORO-3367] Avoid throwing StringIndexOutOfBoundsException in flink optimizer executors
  amoro-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkOptimizerExecutor.java
Labels: module:ams-optimizer

#3376 [AMORO-3287][amoro-web]format cost time keeping a maximum of 2 time units
  amoro-web/src/utils/index.ts
Labels: module:ams-dashboard

#3343 [hotfix]Fix the incorrent paramater transmission of PageNum and PageSize
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/OptimizingMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/BaseOptimizingChecker.java
Labels: module:ams-server

#3363 [hotfix] Fix drop database not working in terminal
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/test/java/org/apache/amoro/spark/test/unified/UnifiedCatalogTestSuites.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalog.java
Labels: module:mixed-spark
