Repository apache/amoro, pull requests merged in 2024-04, with the labels that each got.

#2682 [AMORO-2681] Upgrade Optimizer Flink Docker File
  docker/optimizer-flink/Dockerfile
Labels: type:build

#1795 [AMORO-1794] Add cache catalog config for iceberg catalog
  core/src/main/java/com/netease/arctic/formats/iceberg/IcebergCatalog.java
  core/src/main/java/com/netease/arctic/mixed/BasicMixedIcebergCatalog.java
  core/src/main/java/com/netease/arctic/utils/ArcticCatalogUtil.java
Labels: module:core

#2712 [Hotfix] Unable to display png in using-logstore.md
  docs/engines/flink/using-logstore.md
  docs/images/flink/double-write.png
Labels: type:docs

#2721 chore: Add NOTICE
  NOTICE
Labels: type:infra

#2716 [Hotfix] Change file seperator in suppressions file to adapt to the Windows system
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/trino-ci.yml
  tools/maven/suppressions.xml
Labels: type:infra

#2697 [AMORO-2696] Upgrade Optimizer Spark Docker File
  docker/optimizer-spark/Dockerfile
Labels: type:build

#2689 [AMORO-2688] Fix flink runtime info NullPointException
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkExecutor.java
Labels: module:ams-optimizer

#2645 [AMORO-2637] Enable return back to origin uri when relogin
  ams/dashboard/src/components/Topbar.vue
  ams/dashboard/src/main.ts
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
Labels: module:ams-server, module:ams-dashboard

#2704 [AMORO-2669]: use the faker plugin replace mock plugin
  ams/dashboard/package.json
  ams/dashboard/pnpm-lock.yaml
  ams/dashboard/vite.config.ts
Labels: module:ams-dashboard

#2725 [Hotfix] update start history link
  README.md
Labels: type:docs

#2717 Change group id from `com.netease.amoro` to `org.apache.amoro`
  ams/api/pom.xml
  ams/dashboard/pom.xml
  ams/dist/pom.xml
  ams/metric-reporter/pom.xml
  ams/metric-reporter/prometheus-reporter/pom.xml
  ams/optimizer/common/pom.xml
  ams/optimizer/flink-optimizer/pom.xml
  ams/optimizer/pom.xml
  ams/optimizer/spark-optimizer/pom.xml
  ams/optimizer/standalone-optimizer/pom.xml
  ams/pom.xml
  ams/server/pom.xml
  core/pom.xml
  docs/admin-guides/deployment.md
  docs/engines/spark/spark-get-started.md
  mixed-format/flink/flink-common-format/pom.xml
  mixed-format/flink/flink-common-iceberg-bridge/pom.xml
  mixed-format/flink/flink-common/pom.xml
  mixed-format/flink/pom.xml
  mixed-format/flink/v1.15/flink-runtime/pom.xml
  mixed-format/flink/v1.15/flink/pom.xml
  mixed-format/flink/v1.16/flink-runtime/pom.xml
  mixed-format/flink/v1.16/flink/pom.xml
  mixed-format/flink/v1.17/flink-runtime/pom.xml
  mixed-format/flink/v1.17/flink/pom.xml
  mixed-format/hive/pom.xml
  mixed-format/pom.xml
  mixed-format/spark/common/pom.xml
  mixed-format/spark/pom.xml
  mixed-format/spark/v3.2/spark-runtime/pom.xml
  mixed-format/spark/v3.2/spark/pom.xml
  mixed-format/spark/v3.3/spark-runtime/pom.xml
  mixed-format/spark/v3.3/spark/pom.xml
  mixed-format/trino/pom.xml
  pom.xml
Labels: type:docs, module:mixed-flink, module:mixed-spark, module:core, module:ams-server, module:mixed-hive, module:ams-optimizer, module:mixed-trino, type:build, module:ams-dashboard

#2726 [Hotfix] Fix typo in deployment-on-kubernetes.md
  docs/admin-guides/deployment-on-kubernetes.md
Labels: type:docs

#2724 [Improvement] Remove "arctic.enable" for production files
  mixed-format/hive/src/main/java/com/netease/arctic/hive/utils/HiveMetaSynchronizer.java
Labels: module:mixed-hive

#2711 [AMORO-2710] Support bulk operations for arctic file io
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  core/src/main/java/com/netease/arctic/io/ArcticFileIO.java
  core/src/main/java/com/netease/arctic/io/ArcticFileIOAdapter.java
  core/src/main/java/com/netease/arctic/io/ArcticHadoopFileIO.java
  core/src/main/java/com/netease/arctic/utils/TableFileUtil.java
Labels: module:core, module:ams-server

#2676 [AMORO-2652] Support Flink Optimizer run in session cluster
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/manager/FlinkOptimizerContainer.java
  ams/server/src/main/java/com/netease/arctic/server/utils/FlinkClientUtil.java
  docs/admin-guides/managing-optimizers.md
  pom.xml
Labels: type:docs, module:ams-server, type:build

#2736 [Bug] fix wrong column name in CatalogMetaMapper
  ams/server/src/main/java/com/netease/arctic/server/persistence/mapper/CatalogMetaMapper.java
Labels: module:ams-server

#2727 [Hotfix] Update related official website and github urls
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/improvement.yml
  .github/ISSUE_TEMPLATE/subtask.yml
  .github/PULL_REQUEST_TEMPLATE
  CONTRIBUTING.md
  README.md
  ams/api/pom.xml
  ams/dashboard/pom.xml
  ams/dashboard/src/components/Topbar.vue
  ams/dist/pom.xml
  ams/metric-reporter/pom.xml
  ams/metric-reporter/prometheus-reporter/pom.xml
  ams/optimizer/common/pom.xml
  ams/optimizer/flink-optimizer/pom.xml
  ams/optimizer/pom.xml
  ams/optimizer/spark-optimizer/pom.xml
  ams/optimizer/standalone-optimizer/pom.xml
  ams/pom.xml
  ams/server/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  charts/amoro/Chart.yaml
  charts/amoro/README.md
  charts/amoro/templates/NOTES.txt
  charts/amoro/values.yaml
  core/pom.xml
  docker/build.sh
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/deployment.md
  mixed-format/flink/flink-common-format/pom.xml
  mixed-format/flink/flink-common-iceberg-bridge/pom.xml
  mixed-format/flink/flink-common/pom.xml
  mixed-format/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestFlinkUnifiedCatalogs.java
  mixed-format/flink/pom.xml
  mixed-format/flink/v1.15/flink-runtime/pom.xml
  mixed-format/flink/v1.15/flink/pom.xml
  mixed-format/flink/v1.16/flink-runtime/pom.xml
  mixed-format/flink/v1.16/flink/pom.xml
  mixed-format/flink/v1.17/flink-runtime/pom.xml
  mixed-format/flink/v1.17/flink/pom.xml
  mixed-format/hive/pom.xml
  mixed-format/pom.xml
  mixed-format/spark/common/pom.xml
  mixed-format/spark/pom.xml
  mixed-format/spark/v3.2/spark-runtime/pom.xml
  mixed-format/spark/v3.2/spark/pom.xml
  mixed-format/spark/v3.3/spark-runtime/pom.xml
  mixed-format/spark/v3.3/spark/pom.xml
  mixed-format/trino/pom.xml
  pom.xml
Labels: type:docs, module:mixed-flink, module:mixed-spark, module:core, module:ams-server, module:mixed-hive, module:ams-optimizer, module:mixed-trino, type:infra, type:build, module:ams-dashboard

#2734 [AMORO-2733] Added db_type configuration check. database.type is mand…
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
Labels: module:ams-server

#2691 [AMORO-2629]Mixed hive refractor
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogBuilder.java
  ams/server/src/main/java/com/netease/arctic/server/catalog/MixedHiveCatalogImpl.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/test/java/com/netease/arctic/server/table/AMSTableTestBase.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableRuntimeHandler.java
  ams/server/src/test/java/com/netease/arctic/server/table/TestTableService.java
  core/src/main/java/com/netease/arctic/catalog/BasicArcticCatalog.java
  core/src/main/java/com/netease/arctic/catalog/MixedTables.java
  mixed-format/hive/src/main/java/com/netease/arctic/hive/HMSClient.java
  mixed-format/hive/src/main/java/com/netease/arctic/hive/HMSClientImpl.java
  mixed-format/hive/src/main/java/com/netease/arctic/hive/catalog/ArcticHiveCatalog.java
  mixed-format/hive/src/main/java/com/netease/arctic/hive/catalog/MixedHiveTables.java
  mixed-format/hive/src/test/java/com/netease/arctic/hive/catalog/HiveCatalogTestHelper.java
  mixed-format/spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/ArcticSparkExtensions.scala
  mixed-format/spark/v3.3/spark/src/main/scala/com/netease/arctic/spark/ArcticSparkExtensions.scala
Labels: module:mixed-spark, module:core, module:ams-server, module:mixed-hive

#2720 [Hotfix] Throw exception and ignore result when optimizing commit conflict
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/TestOptimizingQueue.java
Labels: module:ams-server

#2744 [AMORO-2743]add doAs before call catalog method in IcebergCatalog class
  core/src/main/java/com/netease/arctic/formats/iceberg/IcebergCatalog.java
Labels: module:core

#2740 [AMORO-2630] Support choose multi formats when add a new catalog
  ams/dashboard/src/views/catalogs/Detail.vue
Labels: module:ams-dashboard

#2732 [AMORO-2729]: Introduce v4.x version and keep old version
  ams/dashboard/package.json
  ams/dashboard/pnpm-lock.yaml
  ams/dashboard/src/App.vue
  ams/dashboard/src/components/Topbar.vue
  ams/dashboard/src/components/VirtualRecycleScroller.vue
  ams/dashboard/src/components/ant-design/index.ts
  ams/dashboard/src/components/tables-sub-menu/TablesMenu.vue
  ams/dashboard/src/main.ts
  ams/dashboard/src/utils/request.ts
  ams/dashboard/src/views/catalogs/Detail.vue
  ams/dashboard/src/views/catalogs/index.vue
  ams/dashboard/src/views/login/index.vue
  ams/dashboard/src/views/optimize/components/List.vue
  ams/dashboard/src/views/optimize/components/ScaleOut.vue
  ams/dashboard/src/views/resource/components/GroupModal.vue
  ams/dashboard/src/views/resource/components/List.vue
  ams/dashboard/src/views/resource/components/ScaleOut.vue
  ams/dashboard/src/views/tables/components/Operations.vue
  ams/dashboard/src/views/tables/components/Optimizing.vue
  ams/dashboard/src/views/tables/create.vue
  ams/dashboard/src/views/terminal/index.vue
  ams/dashboard/vite.config.ts
Labels: module:ams-dashboard

#2747 [AMORO-2746] The artifactId of the sub modules of ams should use the same prefix
  ams/metric-reporter/pom.xml
  ams/metric-reporter/prometheus-reporter/pom.xml
  ams/optimizer/common/pom.xml
  ams/optimizer/flink-optimizer/pom.xml
  ams/optimizer/pom.xml
  ams/optimizer/spark-optimizer/pom.xml
  ams/optimizer/standalone-optimizer/pom.xml
Labels: module:ams-optimizer, type:build

#2753 [AMORO-2752] Remove tephra dependencies introduced by hive
  pom.xml
Labels: type:build

#2758 [AMORO-2755] Add judgment and reduce duplicate 'put'
  core/src/main/java/org/apache/amoro/table/TableProperties.java
  mixed-format/spark/v3.2/spark/src/main/java/org/apache/amoro/spark/table/ArcticSparkTable.java
  mixed-format/spark/v3.3/spark/src/main/java/org/apache/amoro/spark/table/ArcticSparkTable.java
Labels: module:mixed-spark, module:core

#2699 [AMORO-2698] Display more details in the page of Optimizing->Optimizers
  ams/dashboard/src/language/en.ts
  ams/dashboard/src/views/resource/components/List.vue
Labels: module:ams-dashboard

#2766 [AMORO-2765] Filter out jersey in hadoop client
  pom.xml
Labels: type:build

#2762 [AMORO-2761] Use junit-bom to simplify junit dependencies
  pom.xml
Labels: type:build

#2781 [Hotfix][Docs] Fix README.md adapt to new module name
  CONTRIBUTING.md
  README.md
Labels: type:docs

#2780 [Hotfix][Infra] Fix labeler.yml adapt to new folder
  .github/labeler.yml
Labels: type:infra

#2779 [hotfix] Aligning project version to the semantic versioning standard
  amoro-ams/amoro-ams-api/pom.xml
  amoro-ams/amoro-ams-dashboard/pom.xml
  amoro-ams/amoro-ams-metric-reporter/pom.xml
  amoro-ams/amoro-ams-metric-reporter/prometheus-reporter/pom.xml
  amoro-ams/amoro-ams-optimizer/common/pom.xml
  amoro-ams/amoro-ams-optimizer/flink-optimizer/pom.xml
  amoro-ams/amoro-ams-optimizer/pom.xml
  amoro-ams/amoro-ams-optimizer/spark-optimizer/pom.xml
  amoro-ams/amoro-ams-optimizer/standalone-optimizer/pom.xml
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/dist/pom.xml
  amoro-ams/pom.xml
  amoro-core/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common-format/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common-iceberg-bridge/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-runtime-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-1.16/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-runtime-1.16/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-runtime-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-hive/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2-runtime/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3-runtime/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/pom.xml
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
  amoro-mixed-format/pom.xml
  pom.xml
  tools/change-version.sh
Labels: type:build

#2783 [Hotfix][Docs] Fix the dashboard README.md adapt to new module name
  amoro-ams/amoro-ams-dashboard/README.md
Labels: module:ams-dashboard

#2784 [Hotfix] Fix the Chinese characters in the code
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/main/java/org/apache/amoro/flink/util/DateTimeUtils.java
Labels: module:mixed-flink

#2785 [AMORO-2754]: Improve Chinese characters
  amoro-ams/amoro-ams-api/src/test/java/org/apache/amoro/api/metrics/TestMetricDefine.java
  amoro-ams/amoro-ams-dashboard/mock/modules/overview.js
  amoro-ams/amoro-ams-dashboard/src/assets/icons/svg/branch.svg
  amoro-ams/amoro-ams-dashboard/src/assets/icons/svg/paimon.svg
  amoro-ams/amoro-ams-dashboard/src/assets/icons/svg/slide.svg
  amoro-ams/amoro-ams-dashboard/src/assets/icons/svg/tag.svg
  amoro-ams/amoro-ams-dashboard/src/styles/global.less
  amoro-ams/amoro-ams-dashboard/src/utils/request.ts
  amoro-ams/amoro-ams-dashboard/vite.config.ts
  amoro-core/src/main/java/org/apache/amoro/log/LogDataToJsonConverters.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/ArcticTrinoCatalog.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/iceberg/BaseConnectorTest.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/iceberg/TestBasicArcticCatalog.java
  docs/engines/flink/flink-dml.md
Labels: type:docs, module:core, module:mixed-trino, module:ams-dashboard

#2764 [AMORO-2763] Fix conflicting jackson versions
  pom.xml
Labels: type:build

#2791 [Hotfix] Fix docker file and GitHub workflows
  .github/workflows/docker-images.yml
  docker/amoro/Dockerfile
Labels: type:infra, type:build

#2792 [Hotfix] Fix docker images workflow due to folder change
  .github/workflows/docker-images.yml
Labels: type:infra

#2803 [Hotfix] Fix building error for docker images of optimizers
  .github/workflows/docker-images.yml
Labels: type:infra

#2695 [AMORO-1958] Implement KubernetesOptimizerContainer to support running Optimizer natively on K8S
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/KubernetesOptimizerContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/LocalOptimizerContainer.java
  amoro-ams/amoro-ams-server/src/main/resources/META-INF/services/org.apache.amoro.api.resource.ResourceContainer
  amoro-ams/dist/src/main/arctic-bin/bin/optimizer.sh
  amoro-ams/dist/src/main/arctic-bin/conf/config.yaml
  charts/amoro/templates/_optimizer.tpl
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/values.yaml
  docker/amoro/entrypoint.sh
  docs/admin-guides/managing-optimizers.md
  pom.xml
Labels: type:docs, type:build

#2793 [Hotfix] Apply the volatile modifier to stopped variable.
  amoro-ams/amoro-ams-optimizer/common/src/main/java/org/apache/amoro/optimizer/common/AbstractOptimizerOperator.java
Labels: module:ams-optimizer
