Repository apache/amoro, pull requests merged in 2024-05, with the labels that each got.

#2794 [AMORO-2778][Helm Chart] Add Tests for Helm Chart
  .github/workflows/helm-charts-ci.yml
  charts/amoro/.helmignore
  charts/amoro/README.md
  charts/amoro/templates/amoro-database-secret.yaml
  charts/amoro/tests/amoro-configmap_test.yaml
  charts/amoro/tests/amoro-database-secret_test.yaml
  charts/amoro/tests/amoro-deployment_test.yaml
  charts/amoro/tests/amoro-ingress_test.yaml
  charts/amoro/tests/amoro-rbac_test.yaml
  charts/amoro/tests/amoro-service_test.yaml
  charts/amoro/tests/amoro-serviceaccount_test.yaml
Labels: type:infra

#2804 [AMORO-2802] Change the folder name of optimizer module
  .github/workflows/docker-images.yml
  .gitignore
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/AbstractOptimizerOperator.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/Optimizer.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerConfig.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerToucher.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/OptimizerTestBase.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/OptimizerTestHelpers.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizer.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizerConfig.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizerToucher.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkOptimizer.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkOptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkToucher.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizer.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizingTaskFunction.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-standalone/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-standalone/src/main/java/org/apache/amoro/optimizer/standalone/StandaloneOptimizer.java
  amoro-ams/amoro-ams-optimizer/pom.xml
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/dist/pom.xml
  amoro-ams/dist/src/main/assemblies/bin.xml
  docker/README.md
  docker/build.sh
  docker/quickdemo/Dockerfile
  docs/admin-guides/deployment.md
Labels: type:docs, module:ams-optimizer, type:infra, type:build

#2773 [AMORO-2730]: replace component to antd-vue 4.x
  amoro-ams/amoro-ams-dashboard/src/App.vue
  amoro-ams/amoro-ams-dashboard/src/components/Sidebar.vue
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
  amoro-ams/amoro-ams-dashboard/src/components/VirtualRecycleScroller.vue
  amoro-ams/amoro-ams-dashboard/src/components/ant-design/index.ts
  amoro-ams/amoro-ams-dashboard/src/components/echarts/Chart.vue
  amoro-ams/amoro-ams-dashboard/src/components/loading/loading.vue
  amoro-ams/amoro-ams-dashboard/src/components/register.ts
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/CreateDB.vue
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/TablesMenu.vue
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/views/404.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Properties.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Details.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/ErrorMsg.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Field.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Partition.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Properties.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/upgrade.vue
  amoro-ams/amoro-ams-dashboard/src/views/login/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/GroupModal.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/settings/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Details.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Files.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Operations.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Selector.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Snapshots.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/create.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: module:ams-dashboard

#2820 [AMORO-6789]Memory leaks when using mix -hive format to write parquet files.
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetWriter.java
Labels: module:mixed-hive

#2786 [AMORO-2782]: Improve the error message for OptimizerGroup scale-out
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/LocalOptimizerContainer.java
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#2687 [AMORO-2667] Implement basic authentication for REST APIs
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/ArcticManagementConf.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  docs/admin-guides/deployment.md
Labels: type:docs

#2821 [AMORO-2813] Improve the version info about the project
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/VersionController.java
Labels: type:build

#2826 [AMORO-2730]: fix the login Component import
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
  amoro-ams/amoro-ams-dashboard/src/components/VirtualRecycleScroller.vue
  amoro-ams/amoro-ams-dashboard/src/components/echarts/Chart.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/login/index.vue
Labels: module:ams-dashboard

#2818 [AMORO-2815] Adjust docker images of apache amoro project
  .github/workflows/docker-images.yml
  amoro-ams/dist/src/main/arctic-bin/conf/config.yaml
  charts/amoro/values.yaml
  docker/README.md
  docker/amoro/Dockerfile
  docker/build.sh
  docker/datanode/Dockerfile
  docker/datanode/run_dn.sh
  docker/demo-cluster.sh
  docker/namenode/Dockerfile
  docker/namenode/entrypoint.sh
  docker/namenode/export_container_ip.sh
  docker/namenode/run_nn.sh
  docker/quickdemo/Dockerfile
  docker/quickdemo/flink-conf.yaml
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, type:infra, type:build

#2831 [Amoro-2830] Use G1 GC by default
  amoro-ams/dist/src/main/arctic-bin/bin/ams.sh
Labels: type:build

#2801 Change Arctic to Amoro for thrift name in module core
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/AbstractOptimizerOperator.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerToucher.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/ArcticServiceContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/TableManagementService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/exception/ArcticRuntimeException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/AlreadyExistsException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/AmoroException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/AmoroTableMetastore.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/BlockableOperation.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/Blocker.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/CatalogMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/ColumnInfo.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/CommitMetaProducer.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/DataFile.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/InvalidObjectException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/MetaException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/NoSuchObjectException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/NotSupportedException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OperationConflictException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OptimizerRegisterInfo.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OptimizingService.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OptimizingTask.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OptimizingTaskId.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OptimizingTaskResult.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/PartitionFieldData.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/PrimaryKeySpec.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/Schema.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/SchemaUpdateMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableChange.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableCommitMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableIdentifier.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/UpdateColumn.java
  amoro-core/src/main/java/org/apache/amoro/AmsClient.java
  amoro-core/src/main/java/org/apache/amoro/PooledAmsClient.java
  amoro-core/src/main/java/org/apache/amoro/client/AmsClientPools.java
  amoro-core/src/main/java/org/apache/amoro/mixed/CatalogLoader.java
  amoro-core/src/main/thrift/amoro_commons.thrift
  amoro-core/src/main/thrift/amoro_optimizing_service.thrift
  amoro-core/src/main/thrift/amoro_table_metastore.thrift
  amoro-core/src/test/java/org/apache/amoro/MockAmoroManagementServer.java
Labels: module:core, module:ams-optimizer

#2828 [AMORO-2827] Keep the same naming style as amoro-mixed-format-flink-runtime module
  amoro-mixed-format/amoro-mixed-format-spark/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-runtime-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-runtime-3.3/pom.xml
  docs/admin-guides/deployment.md
Labels: type:docs, module:mixed-spark, type:build

#2835 [AMORO-1744] Rename the name of classes with the arctic identifier in the mixed-format-hive module
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/executor/HiveCommitSyncExecutor.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/AMSTableTestBase.java
  amoro-core/src/main/java/org/apache/amoro/mixed/CatalogLoader.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/AuthenticatedHiveClientPool.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/CachedHiveClientPool.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/catalog/MixedHiveCatalog.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/catalog/MixedHiveTables.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/io/reader/AdaptHiveMixedDeleteFilter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/op/UpdateHiveFiles.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/optimizing/MixFormatOptimizingDataReader.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/table/KeyedHiveTable.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/table/SupportHive.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/table/UnkeyedHiveTable.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/utils/CatalogUtil.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/utils/HiveMetaSynchronizer.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/utils/HivePartitionUtil.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/utils/HiveTableUtil.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/utils/UpgradeHiveTableUtil.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/data/AdaptHiveGenericAppenderFactory.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/data/parquet/AdaptHiveBaseParquetReaders.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/data/parquet/AdaptHiveBaseParquetWriter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveColumnWriter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquet.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetConversions.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetDictionaryRowGroupFilter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetMetricsRowGroupFilter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetReader.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetSchemaUtil.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetUtil.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveParquetWriter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHivePrimitiveWriter.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveReadConf.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/iceberg/parquet/AdaptHiveTypeToMessageType.java
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/amoro/hive/catalog/TestHiveCatalogLoader.java
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/amoro/hive/catalog/TestMixedHiveCatalog.java
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/amoro/hive/io/TestImpalaParquet.java
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/amoro/hive/utils/TestHiveMetaSynchronizer.java
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/amoro/hive/utils/TestUpgradeHiveTableUtil.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/java/org/apache/amoro/spark/ArcticSparkCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/java/org/apache/amoro/spark/ArcticSparkCatalog.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TestHiveTableBaseForTrino.java
Labels: module:mixed-spark, module:core, module:mixed-hive, module:mixed-trino

#2798 [AMORO-2797] Improve ams metrics module naming
  amoro-ams/amoro-ams-metrics/amoro-metrics-prometheus/pom.xml
  amoro-ams/amoro-ams-metrics/amoro-metrics-prometheus/src/main/java/org/apache/amoro/metrics/promethues/MetricsCollector.java
  amoro-ams/amoro-ams-metrics/amoro-metrics-prometheus/src/main/java/org/apache/amoro/metrics/promethues/PrometheusMetricsReporter.java
  amoro-ams/amoro-ams-metrics/pom.xml
  amoro-ams/dist/pom.xml
  amoro-ams/dist/src/main/assemblies/bin.xml
  amoro-ams/pom.xml
Labels: type:build

#2838 [AMORO-1744] Rename name with arctic identifier in amoro-mixed-format-trino module
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/io/trino/parquet/reader/TimestampColumnReader.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/AmoroErrorCode.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/ArcticPlugin.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/DefaultMixedFormatCatalogFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatCatalogFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatCatalogSupportTableSuffix.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConfig.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConnector.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConnectorFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConnectorMetadata.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConnectorSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatHdfsAuthentication.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatHdfsConfiguration.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatMetadataFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatModule.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatPageSourceProvider.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatPlugin.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatSessionProperties.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatTransactionManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatTrinoCatalog.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatTrinoCatalogFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/delete/DummyFileScanTask.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/delete/TrinoDeleteFile.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/delete/TrinoRow.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorMetadata.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorPageSource.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedPageSourceProvider.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergMetadata.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergPageSource.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergPageSourceProvider.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergSplit.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergSplitSource.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/TrinoDeleteFilter.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/resources/META-INF/services/io.trino.spi.Plugin
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/MixedFormatQueryRunner.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TestHiveTable.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TestKeyedTable.java
  docs/engines/trino.md
Labels: type:docs, module:mixed-trino

#2839 Shortcut display disorder in terminal page
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: module:ams-dashboard

#2841 [Improvement]: Supplement mock and merge code
  amoro-ams/amoro-ams-dashboard/mock/modules/optimize.js
  amoro-ams/amoro-ams-dashboard/mock/modules/table.js
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/types/common.type.ts
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
Labels: module:ams-dashboard

#2847 [Spark]: Remove useless spark grammar MIGRATE commands
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/antlr4/org/apache/amoro/spark/sql/parser/ArcticSqlCommand.g4
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandBaseListener.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandBaseVisitor.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandLexer.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandListener.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandParser.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandVisitor.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/java/org/apache/amoro/spark/sql/catalyst/parser/ArcticCommandAstParser.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/amoro/spark/sql/catalyst/parser/ArcticSqlExtensionsParser.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/test/java/org/apache/amoro/spark/test/suites/sql/TestArcticCommandSQL.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandBaseListener.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandBaseVisitor.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandLexer.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandListener.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandParser.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/gen-antlr/org/apache/amoro/spark/sql/parser/ArcticSqlCommandVisitor.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/java/org/apache/amoro/spark/sql/catalyst/parser/ArcticCommandAstParser.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/amoro/spark/sql/catalyst/parser/ArcticSqlExtensionsParser.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/test/java/org/apache/amoro/spark/test/suites/sql/TestArcticCommandSQL.java
Labels: module:mixed-spark

#2850 [MINOR] Simplify the packaging and testing ci process for trino module
  .github/workflows/trino-ci.yml
Labels: type:infra

#2846 [AMORO-2845] Fix incorrect mock data about optimize group
  amoro-ams/amoro-ams-dashboard/mock/modules/settings.js
  pom.xml
Labels: type:build, module:ams-dashboard

#2843 [AMORO-2731]: auto import antd-vue component & icons
  amoro-ams/amoro-ams-dashboard/package.json
  amoro-ams/amoro-ams-dashboard/pnpm-lock.yaml
  amoro-ams/amoro-ams-dashboard/src/App.vue
  amoro-ams/amoro-ams-dashboard/src/components/Sidebar.vue
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
  amoro-ams/amoro-ams-dashboard/src/components/VirtualRecycleScroller.vue
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/TablesMenu.vue
  amoro-ams/amoro-ams-dashboard/src/main.ts
  amoro-ams/amoro-ams-dashboard/src/styles/ant-design.less
  amoro-ams/amoro-ams-dashboard/src/utils/request.ts
  amoro-ams/amoro-ams-dashboard/src/views/404.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Properties.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Properties.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/upgrade.vue
  amoro-ams/amoro-ams-dashboard/src/views/login/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Files.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Selector.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/create.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/components/sql-result.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
  amoro-ams/amoro-ams-dashboard/vite.config.ts
Labels: module:ams-dashboard

#2856 [AMORO-2855] Paimon version bump to 0.8.0
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/PaimonTableDescriptor.java
  pom.xml
Labels: type:build

#2854 [AMORO-2853] Improve the packaging and compilation process for amoro project
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/trino-ci.yml
  CONTRIBUTING.md
  README.md
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
  docs/admin-guides/deployment.md
Labels: type:docs, module:mixed-trino, type:infra, type:build

#2859 [AMORO-1528] Add metrics document
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableOptimizingMetrics.java
  docs/user-guides/configurations.md
  docs/user-guides/metrics.md
  docs/user-guides/using-tables.md
Labels: type:docs

#2860 [Improvement] Improve project build guide
  CONTRIBUTING.md
  README.md
  docs/admin-guides/deployment.md
Labels: type:docs

#2865 [AMORO-2864] Filter the null field when estimate size of records
  amoro-core/src/main/java/org/apache/amoro/utils/map/StructLikeWrapperSizeEstimator.java
  amoro-core/src/test/java/org/apache/amoro/utils/map/TestStructLikeWrapperSizeEstimator.java
Labels: module:core

#2858 [AMORO-2731]: remove unuse import
  amoro-ams/amoro-ams-dashboard/src/components/VirtualRecycleScroller.vue
  amoro-ams/amoro-ams-dashboard/src/components/echarts/Chart.vue
  amoro-ams/amoro-ams-dashboard/src/components/loading/loading.vue
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/CreateDB.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Details.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Field.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Partition.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/GroupModal.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/settings/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Details.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Operations.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Snapshots.vue
Labels: module:ams-dashboard

#2868 [AMORO-2852]: fix eslint error & ts
  amoro-ams/amoro-ams-dashboard/package.json
  amoro-ams/amoro-ams-dashboard/src/components/VirtualRecycleScroller.vue
  amoro-ams/amoro-ams-dashboard/src/components/loading/loading.vue
  amoro-ams/amoro-ams-dashboard/src/components/sql-editor/index.vue
  amoro-ams/amoro-ams-dashboard/src/main.ts
  amoro-ams/amoro-ams-dashboard/src/utils/editor.ts
Labels: module:ams-dashboard

#2866 [AMORO-2857] Fix http client class not found error in mixed-format spark runtime jars
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-runtime-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-runtime-3.3/pom.xml
Labels: module:mixed-spark, type:build

#2814 [AMORO-2811][Bug][FLINK]: flink unified catalog doesn't support mixed_hive
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/main/java/org/apache/amoro/flink/FlinkSchemaUtil.java
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/main/java/org/apache/amoro/flink/catalog/FlinkUnifiedCatalog.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/catalog/MixedHiveCatalog.java
Labels: module:mixed-flink, module:mixed-hive

#2873 [hotfix] Fix some minor issues about docker
  docker/README.md
  docker/build.sh
Labels: type:build

#2874 [AMORO-2871] Fix promethues reporter bugs
  amoro-ams/amoro-ams-metrics/amoro-metrics-prometheus/src/main/resources/META-INF/services/org.apache.amoro.api.metrics.MetricReporter
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/AbstractPluginManager.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableOptimizingMetrics.java
  amoro-ams/dist/src/main/assemblies/bin.xml
Labels: type:build

#2881 [Hotfix] Bump up spark32 version to 3.2.4
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/pom.xml
  pom.xml
Labels: module:mixed-spark, module:ams-optimizer, type:build

#2884 [Hotfix] Bump up commons-collections for amoro-mixed-format-trino module
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
Labels: module:mixed-trino, type:build

#2883 [Hotfix] Bump up jackson-databind version for amoro-mixed-format-trino module
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
Labels: module:mixed-trino, type:build

#2882 [Hotfix] Remove unused profiles in Spark optimizer module
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/pom.xml
Labels: module:ams-optimizer, type:build

#2887 [AMORO-2886] Optimize the naming of database/table methods in catalog
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/RestCatalogService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/ExternalCatalog.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/InternalCatalog.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/InternalIcebergCatalogImpl.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/MixedHiveCatalogImpl.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/ServerCatalog.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/TestInternalIcebergCatalogService.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/catalog/TestServerCatalog.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/TestIcebergHadoopOptimizing.java
  amoro-core/src/main/java/org/apache/amoro/AmoroCatalog.java
  amoro-core/src/main/java/org/apache/amoro/CommonUnifiedCatalog.java
  amoro-core/src/main/java/org/apache/amoro/formats/iceberg/IcebergCatalog.java
  amoro-core/src/main/java/org/apache/amoro/formats/mixed/MixedCatalog.java
  amoro-core/src/main/java/org/apache/amoro/formats/paimon/PaimonCatalog.java
  amoro-core/src/test/java/org/apache/amoro/formats/TestAmoroCatalogBase.java
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/main/java/org/apache/amoro/flink/catalog/FlinkUnifiedCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/test/java/org/apache/amoro/spark/test/SparkTestBase.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/test/java/org/apache/amoro/spark/test/unified/UnifiedCatalogTestSuites.java
Labels: module:mixed-flink, module:mixed-spark, module:core
