Repository apache/amoro, pull requests merged in 2024-07, with the labels that each got.

#2984 [Improvement] Add maven-mirror to speed up building image doc
  docker/README.md
  docker/amoro/Dockerfile
  docker/build.sh
Labels: type:build

#2975 [Improvement] Fix maven jar plugin configuration for apache release
  pom.xml
Labels: type:build

#2976 [Improvement] Add more checking rules for importing guava clesses
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-1.15/src/main/java/org/apache/amoro/flink/table/MixedFormatDynamicSource.java
  tools/maven/checkstyle.xml
Labels: module:mixed-flink, type:infra

#2987 [Hotfix] Fix amoro docker image build ci
  .github/workflows/docker-images.yml
Labels: type:infra

#2991 [Improvement] Improve maven profile configurations for hadoop version
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/docker-images.yml
  .github/workflows/trino-ci.yml
  README.md
  pom.xml
  tools/releasing/create_binary_release.sh
Labels: type:docs, type:infra, type:build

#2973 [Improvement]: Eliminate AMS Full GC impact deriving from local terminal clean spark context #2969
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/terminal/local/LocalSessionFactory.java
Labels: module:ams-server

#2983 [AMORO-2982] UI optimization when no available optimizer groups
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
Labels: module:ams-dashboard

#2995 [Improvement] Support changing language for dashboard
  amoro-ams/amoro-ams-dashboard/src/components/Sidebar.vue
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
Labels: module:ams-dashboard

#3000 [AMORO-2992] Use router.push provided by vue router to replace windo…
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
Labels: module:ams-dashboard

#2999 [Hotfix] Meet NPE when loading task runtimes
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
Labels: module:ams-server

#2981 [AMORO-2980] Support fuzzy filtering db or table in the Optimizing->Tables page
  amoro-ams/amoro-ams-dashboard/src/services/optimize.service.ts
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerController.java
Labels: module:ams-server, module:ams-dashboard

#2978 [AMORO-2977]Mixed-Format Unkeyed Table will read the full amount of data even if configured with 'scan.startup.mode'='latest'
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/main/java/org/apache/amoro/flink/table/FlinkSource.java
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/test/java/org/apache/amoro/flink/table/TestUnkeyed.java
Labels: module:mixed-flink

#3001 [Improvement]: Remove useless method in TableService interface
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/TableManagementService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/CatalogService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/InternalCatalog.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableService.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/RestCatalogServiceTestBase.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/TestInternalMixedCatalogService.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/AMSTableTestBase.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/TestCatalogService.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/TestDatabaseService.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/TestTableService.java
Labels: module:ams-server

#2998 [AMORO-2996] Reload catalogs page after removing the existing catalog
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/ErrorMsg.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Operations.vue
Labels: module:ams-dashboard

#3006 WIP [AMORO-3002] Complete internationalization for some remaining pages
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/CreateDB.vue
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/ErrorMsg.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/GroupModal.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Operations.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/components/sql-result.vue
Labels: module:ams-dashboard

#3008 Revert "WIP [AMORO-3002] Complete internationalization for some remaining pages"
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/CreateDB.vue
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/ErrorMsg.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/GroupModal.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Operations.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/components/sql-result.vue
Labels: module:ams-dashboard

#3007 [Hotfix] Meet NPE when loading tables which use s3 storage
  amoro-core/src/main/java/org/apache/amoro/table/TableMetaStore.java
Labels: module:core

#3010 [AMORO-3009] Treat read and write cost as the same when evaluating optimizing
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/plan/CommonPartitionEvaluator.java
Labels: module:ams-server

#2989 [AMORO-2988] Add more base info for the table detail page
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Details.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/PaimonTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
Labels: module:ams-server, module:ams-dashboard

#2974 [AMORO-2971] Remove the redundant status bar for the Terminal
  amoro-ams/amoro-ams-dashboard/src/views/terminal/components/sql-result.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: module:ams-dashboard

#3011 [Improvement] Complete internationalization for some remaining pages
  amoro-ams/amoro-ams-dashboard/src/App.vue
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/ErrorMsg.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/upgrade.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/GroupModal.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Operations.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Selector.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/components/sql-result.vue
Labels: module:ams-dashboard

#3016 [AMORO-3015]terminal can't create iceberg table when using unified catalog
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/terminal/local/LocalSessionFactory.java
Labels: module:ams-server

#3013 [AMORO-3012] Exclude unnecessary artifacts for spark optimizer
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizerExecutor.java
  amoro-core/src/main/java/org/apache/amoro/io/AuthenticatedHadoopFileIO.java
  amoro-core/src/main/java/org/apache/amoro/io/reader/StructLikeFunnel.java
  amoro-core/src/main/java/org/apache/amoro/table/TableMetaStore.java
  amoro-core/src/main/java/org/apache/amoro/utils/SerializationUtil.java
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:core, module:ams-optimizer, type:build

#3018 [Improvement] Make RocksDB dependency optional
  .github/workflows/trino-ci.yml
  README.md
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/dist/pom.xml
  amoro-core/pom.xml
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
  pom.xml
  tools/releasing/create_binary_release.sh
Labels: type:docs, module:core, module:ams-server, module:mixed-trino, type:infra, type:build

#3017 [Improvement] set engines to prompt the lowest version of node and format code
  amoro-ams/amoro-ams-dashboard/README.md
  amoro-ams/amoro-ams-dashboard/package.json
  amoro-ams/amoro-ams-dashboard/pom.xml
  amoro-ams/amoro-ams-dashboard/src/App.vue
  amoro-ams/amoro-ams-dashboard/src/components/Topbar.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/ScaleOut.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/GroupModal.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: type:build, module:ams-dashboard

#3022 [AMORO-3021]: AMS First Time Async Load External Catalog Select OptimizingStatus Have NPE (#3021)
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
Labels: module:ams-server

#3024 [AMORO-3023]: fix the search input
  amoro-ams/amoro-ams-dashboard/mock/modules/catalogs.js
  amoro-ams/amoro-ams-dashboard/src/components/tables-sub-menu/TablesMenu.vue
Labels: module:ams-dashboard

#3014 [Improvement] Unify the common parts of the dashboard API and the open API
  amoro-ams/amoro-ams-dashboard/mock/modules/catalogs.js
  amoro-ams/amoro-ams-dashboard/src/services/setting.services.ts
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/utils/ParamSignatureCalculator.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/exception/SignatureCheckException.java
Labels: module:ams-server, module:ams-dashboard

#3026 [AMORO-2444] Fix the problem that the y-axis content is too long
  amoro-ams/amoro-ams-dashboard/src/components/Layout.vue
  amoro-ams/amoro-ams-dashboard/src/utils/chart.ts
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Snapshots.vue
Labels: module:ams-dashboard

#3030 [AMORO-3029] Fix table record calculating with empty table
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
Labels: module:ams-server

#3034 [AMORO-3033]IndexOutOfBoundsException when start up AMS during selectProcessInputFiles because of no optimizing process_id
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/persistence/TaskFilesPersistence.java
Labels: module:ams-server

#3037 [Hotfix] Fix build guide in README.md
  README.md
Labels: type:docs

#3040 [AMORO-2787]: Remove `memorySize` option
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerConfig.java
Labels: module:ams-optimizer

#2961 Optimize database configuration for mysql5.6.
  amoro-ams/amoro-ams-server/src/main/resources/mysql/ams-mysql-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade-0.4.0-to-0.4.1.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade-0.4.1-to-0.5.0.sql
  amoro-ams/dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3042 [AMORO-3041] Config failOnNoGitDirectory and failOnUnableToExtractRepoInfo to false for git-commit-id-plugin
  amoro-ams/amoro-ams-server/pom.xml
Labels: module:ams-server, type:build

#3044 [AMORO-3043] Change source release file suffix to `tar.gz`
  tools/releasing/create_source_release.sh
Labels: type:infra

#3046 [Improvement] Add test-jar goal for maven-jar-plugin
  pom.xml
Labels: type:build

#3051 [Hotfix] Fix wrong javadoc for TableRuntimeRefreshExecutor
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:ams-server

#3028 [AMORO-3027]: Support Paimon Consumer Info in Ams
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/FormatTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/PaimonTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/ServerTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/ConsumerInfo.java
Labels: module:ams-server, module:ams

#3047 [AMORO-3039] Update optimized snapshot id when optimizing evaluation result is unnecessary
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:ams-server

#3052 [AMORO-3050] Fix AMS crashes if javalin stop timeouts
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
Labels: module:ams-server

#3036 [AMORO-3035] Support setting thrift client pool configs from url
  amoro-core/src/main/java/org/apache/amoro/client/AmsClientPools.java
  amoro-core/src/main/java/org/apache/amoro/client/OptimizingClientPools.java
  amoro-core/src/main/java/org/apache/amoro/client/PoolConfig.java
  amoro-core/src/main/java/org/apache/amoro/client/ThriftClientPool.java
  amoro-core/src/test/java/org/apache/amoro/client/TestPoolConfig.java
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:core

#3059 [Doc]Fix typo in managing-optimizers.md
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#3057 [AMORO-3056] Support graceful shutdown for AMS
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/terminal/TerminalManager.java
Labels: module:ams-server

#3068 Bump up pnpm to 9.6.0
  amoro-ams/amoro-ams-dashboard/pom.xml
Labels: type:build, module:ams-dashboard

#3055 [AMORO_3053]Add system metric for ams service
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmsServiceMetrics.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/TestAmsServiceMetrics.java
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server
