Repository apache/amoro, pull requests merged in 2024-03, with the labels that each got.

#2577 [AMORO-2576] Fix the configuring JVM options error in `entrypoint.sh`
  docker/amoro/entrypoint.sh
Labels: type:build

#2513 [AMORO-2510] [Improvement]: add some flink runtime info for optimizer
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkExecutor.java
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizer.java
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizerExecutor.java
Labels: module:ams-optimizer

#2583 [AMORO-2012]Bump up some dependencies' versions
  ams/api/pom.xml
  ams/server/pom.xml
  ams/server/src/test/java/com/netease/arctic/server/persistence/TestNestedSqlSession.java
  core/pom.xml
  mixed/hive/pom.xml
  mixed/trino/pom.xml
  pom.xml
Labels: module:core, module:ams-server, module:mixed-hive, module:mixed-trino, type:build

#2593 [AMORO-2592] Optimizing location about building steps so that contributors fo find it easier
  CONTRIBUTING.md
Labels: type:docs

#2594 [AMORO-2587] Add httpcomponents classes into Flink runtime jars
  mixed/flink/v1.15/flink-runtime/pom.xml
  mixed/flink/v1.16/flink-runtime/pom.xml
  mixed/flink/v1.17/flink-runtime/pom.xml
Labels: module:mixed-flink, type:build

#2605 [AMORO-2603] Add default values in annotation for data expiration config
  ams/server/src/main/java/com/netease/arctic/server/table/DataExpirationConfig.java
Labels: module:ams-server

#2602 [AMORO-2601] Paimon tableformat for 'Commit Time' in File pages and 'Start Time' in Optimizing pages
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
Labels: module:ams-server

#2402 [AMORO-2401] Support reading encrypted iceberg data files
  core/src/main/java/com/netease/arctic/io/reader/BaseIcebergPosDeleteReader.java
  core/src/main/java/com/netease/arctic/io/reader/CombinedDeleteFilter.java
  core/src/main/java/com/netease/arctic/io/reader/GenericCombinedIcebergDataReader.java
  core/src/main/java/com/netease/arctic/optimizing/IcebergRewriteExecutor.java
  core/src/test/java/com/netease/arctic/io/TestIcebergCombinedReader.java
  core/src/test/java/com/netease/arctic/io/TestIcebergCombinedReaderVariousTypes.java
  core/src/test/java/com/netease/arctic/io/TestTaskReader.java
Labels: module:core

#2618 [AMORO-2617]Failed to remove orphan files after dropping a partition field
  core/src/main/java/com/netease/arctic/scan/TableEntriesScan.java
Labels: module:core

#2609 [Amoro-2606] Paimon snapshot display on the page should be arranged in reverse order according to the snapshot time of the table
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
Labels: module:ams-server

#2608 [AMORO-2607]'Last Commit Time' for Paimon partition table in File pages has wrong zone
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
Labels: module:ams-server

#2611 [AMORO-2565] fix task loss problem
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
Labels: module:ams-server

#2639 [AMORO-2638] fix `refresh-external-catalogs` cannot be completed when exist database listTable fails
  ams/server/src/main/java/com/netease/arctic/server/table/DefaultTableService.java
Labels: module:ams-server

#2634 [Bug]: spark failed to call 'create table t1 like t2'
  mixed-format/spark/v3.2/spark/src/main/scala/com/netease/arctic/spark/sql/ArcticExtensionUtils.scala
  mixed-format/spark/v3.3/spark/src/main/scala/com/netease/arctic/spark/sql/ArcticExtensionUtils.scala
Labels: module:mixed-spark

#2615 [AMORO-2614]Get `PartitionSpec` based on the specId carried by the file
  ams/server/src/main/java/com/netease/arctic/server/dashboard/MixedAndIcebergTableDescriptor.java
Labels: module:ams-server

#2643 [AMORO-2640]Adjust the test case for different catalog factory under mixed/flink module
  mixed-format/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestMixedCatalog.java
Labels: module:mixed-flink

#2650 [AMORO-2649] Increase table name max length to 256
  ams/server/src/main/resources/derby/ams-derby-init.sql
  ams/server/src/main/resources/mysql/ams-mysql-init.sql
  ams/server/src/main/resources/mysql/update.sql
  ams/server/src/main/resources/postgres/ams-postgres-init.sql
  ams/server/src/main/resources/postgres/update.sql
Labels: module:ams-server

#2585 [AMORO-1123] Replace fastjson with jackson
  ams/server/src/main/java/com/netease/arctic/server/ArcticServiceContainer.java
  ams/server/src/main/java/com/netease/arctic/server/HighAvailabilityContainer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/DashboardServer.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/LoginController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/manager/AbstractPluginManager.java
  ams/server/src/main/java/com/netease/arctic/server/manager/PluginConfiguration.java
  core/pom.xml
  core/src/main/java/com/netease/arctic/client/ArcticThriftUrl.java
  core/src/main/java/com/netease/arctic/utils/JacksonUtil.java
  core/src/test/java/com/netease/arctic/utils/JacksonUtilTest.java
  mixed-format/spark/v3.2/spark-runtime/pom.xml
  mixed-format/spark/v3.3/spark-runtime/pom.xml
  pom.xml
Labels: module:mixed-spark, module:core, module:ams-server, type:build

#2620 [AMORO-2619]Skip the deleted direcotories when cleaning orphan files
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
Labels: module:ams-server

#2632 [AMORO-2631]When the optimizer expires, filter out the tasks that are in a successful state
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
Labels: module:ams-server

#2658 [Hotfix] Optimize codes of task status transition map
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
Labels: module:ams-server

#2659 [Hotfix] Cannot construct instance of Jsonnode when doing login
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/LoginController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/OptimizerController.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/model/OptimizerInstanceInfo.java
Labels: module:ams-server

#2646 [AMORO-2636] Auto build official docker image of spark optimizer
  .github/workflows/docker-images.yml
Labels: type:infra

#2613 [AMORO-2612]Avoid task always being in scheduled state
  ams/server/src/main/java/com/netease/arctic/server/DefaultOptimizingService.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/test/java/com/netease/arctic/server/TestDefaultOptimizingService.java
Labels: module:ams-server

#2588 [AMORO-2568] Add the spark container as another native option
  ams/dist/src/main/arctic-bin/conf/config.yaml
  ams/dist/src/main/assemblies/bin.xml
  ams/optimizer/spark-optimizer/pom.xml
  ams/server/src/main/java/com/netease/arctic/server/manager/FlinkOptimizerContainer.java
  ams/server/src/main/java/com/netease/arctic/server/manager/SparkOptimizerContainer.java
  ams/server/src/main/resources/META-INF/services/com.netease.arctic.api.resource.ResourceContainer
  ams/server/src/test/java/com/netease/arctic/server/manager/TestSparkOptimizerContainer.java
  docker/amoro/Dockerfile
  docker/build.sh
  docker/optimizer-flink/.gitignore
  docker/optimizer-spark/Dockerfile
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:ams-server, module:ams-optimizer, type:build

#2663 [AMORO-2662]After the token expires,the optimizer repeatedly commits tasks that have been reset to ams
  ams/server/src/main/java/com/netease/arctic/server/exception/ArcticRuntimeException.java
  ams/server/src/main/java/com/netease/arctic/server/exception/TaskRuntimeException.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  core/src/main/java/com/netease/arctic/ErrorCodes.java
  core/src/test/java/com/netease/arctic/MockArcticMetastoreServer.java
Labels: module:core, module:ams-server

#2600 [AMORO-2599] ams terminal support unified catalog
  ams/server/src/main/java/com/netease/arctic/server/catalog/CatalogBuilder.java
  ams/server/src/main/java/com/netease/arctic/server/dashboard/controller/TableController.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/SparkContextUtil.java
  ams/server/src/main/java/com/netease/arctic/server/terminal/TerminalManager.java
  mixed-format/spark/v3.2/spark-runtime/pom.xml
  mixed-format/spark/v3.3/spark-runtime/pom.xml
Labels: module:mixed-spark, module:ams-server, type:build

#2673 [AMORO-2672][Bug]: The spark-runtime shade configuration specifies incorrect dependencies for common and spark
  mixed-format/spark/v3.2/spark-runtime/pom.xml
  mixed-format/spark/v3.3/spark-runtime/pom.xml
Labels: module:mixed-spark, type:build

#2581 [AMORO-2002][DOC]: Introduce the Lookup Join with mixed-format table via Flink
  docs/engines/flink/flink-dml.md
Labels: type:docs

#2678 [AMORO-2677] Fix github ci error for the spark-optimizer image
  .github/workflows/docker-images.yml
  ams/optimizer/spark-optimizer/pom.xml
Labels: module:ams-optimizer, type:infra, type:build

#2685 [Hotfix] Fix typo in StatedPersistentBase
  ams/server/src/main/java/com/netease/arctic/server/optimizing/TaskRuntime.java
  ams/server/src/main/java/com/netease/arctic/server/persistence/StatedPersistentBase.java
  ams/server/src/main/java/com/netease/arctic/server/table/TableRuntime.java
  ams/server/src/test/java/com/netease/arctic/server/persistence/TestStatedPersistentBase.java
Labels: module:ams-server

#2684 [AMORO-2623] Avoid deadlock in task cancellation
  ams/server/src/main/java/com/netease/arctic/server/optimizing/OptimizingQueue.java
Labels: module:ams-server

#2604 [AMORO-2496][DOC]: Add configuration docs for AMS terminal
  ams/server/src/main/java/com/netease/arctic/server/ArcticManagementConf.java
  docs/admin-guides/deployment.md
Labels: type:docs, module:ams-server

#2690 [AMORO-2683] Modify the job name of SparkOptimizer and FlinkOptimizer
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizer.java
  ams/optimizer/spark-optimizer/src/main/java/com/netease/arctic/optimizer/spark/SparkOptimizer.java
Labels: module:ams-optimizer
