Repository apache/amoro, pull requests merged in 2024-06, with the labels that each got.

#2891 [MINOR] Put mvn config files together
  pom.xml
  tools/maven/copyright.txt
  tools/maven/rat-excludes
  tools/maven/scalafmt.conf
Labels: type:build

#2901 Add DISCLAIMER for release
  DISCLAIMER
Labels: type:infra

#2906 [AMORO-2900] Web terminal supports SQL snippets
  amoro-ams/amoro-ams-dashboard/index.html
  amoro-ams/amoro-ams-dashboard/src/components/sql-editor/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: module:ams-dashboard

#2346 [AMORO-2273]: Fix highly memory usage when orphan file clean is enabled with too many manifest list file
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/MixedTableMaintainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/utils/IcebergTableUtil.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestOrphanFileClean.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestSnapshotExpire.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/util/TestIcebergTableUtil.java
  amoro-core/src/test/java/org/apache/amoro/io/IcebergDataTestHelpers.java
Labels: module:core

#2902 Improve LICENSE and NOTICE files
  LICENSE
  NOTICE
Labels: type:infra

#2876 [AMORO-2852]: fix eslint error & style fix
  amoro-ams/amoro-ams-dashboard/src/services/table.service.ts
  amoro-ams/amoro-ams-dashboard/src/types/common.type.ts
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Properties.vue
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Field.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/components/Properties.vue
  amoro-ams/amoro-ams-dashboard/src/views/hive-details/upgrade.vue
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/settings/index.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Details.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Files.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Selector.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/components/sql-result.vue
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: module:ams-dashboard

#2911 [AMORO-2910] Add profile to skip WebUI build process
  README.md
  amoro-ams/amoro-ams-dashboard/pom.xml
Labels: type:docs, type:build, module:ams-dashboard

#2913 [AMORO-2912] log file paths for which have different file ids when compaction
  amoro-core/src/main/java/org/apache/amoro/io/reader/CombinedDeleteFilter.java
Labels: module:core

#2880 [AMORO-2872] "Merge into when not matched" may result in incorrect writing of floating-point field data.
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/amoro/spark/MixedFormatSparkExtensions.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/amoro/spark/sql/catalyst/analysis/MixedFormatAlignRowLevelCommandAssignments.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/amoro/spark/sql/catalyst/plans/MergeIntoMixedFormatTable.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/amoro/spark/sql/catalyst/plans/UnresolvedMergeIntoMixedFormatTable.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/spark/sql/amoro/catalyst/AssignmentHelper.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/spark/sql/catalyst/analysis/MixedFormatAssignmentAlignmentSupport.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/test/java/org/apache/amoro/spark/test/suites/sql/TestMergeIntoSQL.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/amoro/spark/MixedFormatSparkExtensions.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/amoro/spark/sql/catalyst/analysis/MixedFormatAlignRowLevelCommandAssignments.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/amoro/spark/sql/catalyst/plans/UnresolvedMergeIntoMixedFormatTable.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/spark/sql/catalyst/analysis/MixedFormatAssignmentAlignmentSupport.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/test/java/org/apache/amoro/spark/test/suites/sql/TestMergeIntoSQL.java
Labels: module:mixed-spark, type:build

#2896 [AMORO-2895] Add more image related properties for the amoro optimizers
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/KubernetesOptimizerContainer.java
  charts/amoro/Chart.yaml
  charts/amoro/templates/_optimizer.tpl
  charts/amoro/values.yaml
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#2889 [AMORO-2888] Can't establish connections when rebooting ams
  amoro-ams/dist/src/main/amoro-bin/conf/config.yaml
  charts/amoro/values.yaml
  docs/admin-guides/deployment.md
Labels: type:docs, type:build

#2922 [Improvement] Add a table format selector to the bug report issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: type:infra

#2919 [AMORO-2918] Support multiple simple authrization username for different catalogs
  amoro-core/src/main/java/org/apache/amoro/table/TableMetaStore.java
Labels: module:core

#2920 [Improvement] Improve shade plugin configurations
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-runtime-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-runtime-1.16/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-runtime-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-runtime-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-runtime-3.3/pom.xml
  pom.xml
Labels: module:mixed-flink, module:mixed-spark, module:ams-optimizer, type:build

#2924 [AMORO-2925] Fix the issue of clean-orphan-file mistakenly deleting data files.
  amoro-core/src/main/java/org/apache/amoro/io/AuthenticatedHadoopFileIO.java
Labels: module:core

#2928 [Hotfix] LOG output uses `{}` to replace the `+` operation
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/utils/ParamSignatureCalculator.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/utils/TableStatCollector.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/AbstractPluginManager.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/FlinkOptimizerContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/LocalOptimizerContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/SparkOptimizerContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/MixedTableMaintainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/terminal/TerminalManager.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestOrphanFileCleanIceberg.java
  amoro-core/src/main/java/org/apache/amoro/mixed/MixedTables.java
  amoro-core/src/main/java/org/apache/amoro/utils/map/RocksDBBackend.java
  amoro-core/src/test/java/org/apache/amoro/MockAmoroManagementServer.java
  amoro-core/src/test/java/org/apache/amoro/catalog/MixedTables.java
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/main/java/org/apache/amoro/flink/metric/MetricsGenerator.java
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/test/java/org/apache/amoro/flink/lookup/ByteArraySetSerializerTest.java
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/src/test/java/org/apache/amoro/flink/read/TestMixedFormatSource.java
  amoro-mixed-format/amoro-mixed-format-hive/src/main/java/org/apache/amoro/hive/catalog/MixedHiveTables.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/test/java/org/apache/amoro/spark/test/SparkTestBase.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/hadoop/util/VersionInfo.java
Labels: module:mixed-flink, module:mixed-spark, module:core, module:mixed-hive, module:mixed-trino

#2929 Add releasing tools
  amoro-ams/dist/pom.xml
  amoro-ams/dist/src/main/assemblies/bin.xml
  docs/admin-guides/deployment.md
  pom.xml
  tools/releasing/create_binary_release.sh
  tools/releasing/create_source_release.sh
  tools/releasing/deploy_staging_jars.sh
Labels: type:docs, type:build

#2923 [AMORO-2921] Adapt LookupSource interface in Flink 1.15
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-1.15/src/main/java/org/apache/amoro/flink/lookup/MixedFormatRowDataLookupFunction.java
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-1.15/src/main/java/org/apache/amoro/flink/table/MixedFormatDynamicSource.java
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-1.16/pom.xml
Labels: module:mixed-flink, type:build

#2940 [Hotfix] Fix docker build ci
  docker/amoro/Dockerfile
  docker/build.sh
Labels: type:build

#2931 [Improvement] Improve docs for relasing 0.7.0
  amoro-core/src/main/java/org/apache/amoro/table/TableProperties.java
  docs/admin-guides/deployment.md
  docs/admin-guides/managing-catalogs.md
  docs/concepts/catalogs.md
  docs/engines/flink/flink-ds.md
  docs/engines/flink/flink-get-started.md
  docs/user-guides/cdc-ingestion.md
  docs/user-guides/configurations.md
  docs/user-guides/metrics.md
  docs/user-guides/using-tables.md
Labels: type:docs, module:core

#2945 [hotfix] Fix unknown args when exec build script
  docker/build.sh
Labels: type:build

#2946 [Hotfix] Bump Hadoop version to 3.4.0 and fix related critical vulnerabilities
  pom.xml
Labels: type:build

#2944 [Improvement] Improve some maven profile configurations
  .github/workflows/docker-images.yml
  README.md
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-runtime-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-runtime-1.16/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-runtime-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-runtime-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-runtime-3.3/pom.xml
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/io/trino/parquet/reader/TimestampColumnReader.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/DefaultMixedFormatCatalogFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatCatalogSupportTableSuffix.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConnectorMetadata.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatConnectorSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatHdfsAuthentication.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatMetadataFactory.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatModule.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatPageSourceProvider.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatSessionProperties.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatTransactionManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/MixedFormatTrinoCatalog.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/delete/DummyFileScanTask.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/delete/TrinoDeleteFile.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/delete/TrinoRow.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorMetadata.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorPageSource.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorSplit.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedConnectorSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedDeleteFilter.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedPageSourceProvider.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/keyed/KeyedTableHandle.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergMetadata.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergPageSource.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergPageSourceProvider.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergSplit.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergSplitManager.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/IcebergSplitSource.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/amoro/trino/unkeyed/TrinoDeleteFilter.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/hadoop/util/VersionInfo.java
  amoro-mixed-format/amoro-mixed-format-trino/src/main/java/org/apache/parquet/io/ColumnIOUtil.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/HiveTestRecords.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/MixedFormatQueryRunner.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TableTestBaseForTrino.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TableTestBaseWithInitDataForTrino.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TestHiveTable.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TestHiveTableBaseForTrino.java
  amoro-mixed-format/amoro-mixed-format-trino/src/test/java/org/apache/amoro/trino/mixed/TestKeyedTable.java
  pom.xml
Labels: type:docs, module:mixed-flink, module:mixed-spark, module:ams-optimizer, module:mixed-trino, type:infra, type:build

#2949 [Hotfix] Fix NoSuchFileException when deploy on k8s
  amoro-ams/dist/src/main/amoro-bin/conf/config.yaml
  charts/amoro/values.yaml
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, type:build

#2950 [Hotfix] Unlock some configs of the spark optimizer
  .github/ISSUE_TEMPLATE/bug_report.yml
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/SparkOptimizerContainer.java
  charts/amoro/values.yaml
Labels: type:infra

#2951 [Hotfix] Fix GitHub labeler configurations
  .github/labeler.yml
Labels: type:infra

#2953 [Improvement] Add apache license header for docs
  docs/_index.md
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/deployment.md
  docs/admin-guides/managing-catalogs.md
  docs/admin-guides/managing-optimizers.md
  docs/admin-guides/using-kyuubi.md
  docs/concepts/catalogs.md
  docs/concepts/self-optimizing.md
  docs/concepts/table-watermark.md
  docs/engines/flink/flink-ddl.md
  docs/engines/flink/flink-dml.md
  docs/engines/flink/flink-ds.md
  docs/engines/flink/flink-get-started.md
  docs/engines/flink/using-logstore.md
  docs/engines/spark/spark-conf.md
  docs/engines/spark/spark-ddl.md
  docs/engines/spark/spark-get-started.md
  docs/engines/spark/spark-queries.md
  docs/engines/spark/spark-writes.md
  docs/engines/trino.md
  docs/formats/iceberg.md
  docs/formats/mixed-hive.md
  docs/formats/mixed-iceberg.md
  docs/formats/overview.md
  docs/formats/paimon.md
  docs/user-guides/cdc-ingestion.md
  docs/user-guides/configurations.md
  docs/user-guides/metrics.md
  docs/user-guides/using-tables.md
  pom.xml
Labels: type:docs, type:build

#2894 [AMORO-2819]Spark cannot execute the "alter table set identifier field" command on tables in Iceberg format in unified catalog
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalogBase.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalogBase.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/main/java/org/apache/amoro/spark/iceberg/IcebergSparkFormat.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/test/java/org/apache/amoro/spark/test/SparkTestContext.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/test/java/org/apache/amoro/spark/test/unified/UnifiedCatalogTestSuites.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/amoro/spark/MixedFormatSparkExtensions.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MixedFormatExtendedDataSourceV2Strategy.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-runtime-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalog.java
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/amoro/spark/MixedFormatSparkExtensions.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MixedFormatExtendedDataSourceV2Strategy.scala
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-runtime-3.3/pom.xml
Labels: module:mixed-spark, type:build

#2959 [ARMORO-2935]: optimized build & licenses
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-@ant-design-icons-vue
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-@antfu-eslint-config
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-@tsconfig-node18
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-@types-node
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-@vitejs-plugin-vue
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-ant-design-vue
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-axios
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-babel
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-dayjs
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-echarts
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-eslint
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-less
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-mockjs
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-monaco-editor
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-pinia
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-qs
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-sql-formatter
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-typescript
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-unplugin-auto-import
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-unplugin-vue-components
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vite
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vite-plugin-fake-server
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vite-plugin-svg-icons
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vue
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vue-clipboard3
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vue-draggable-plus
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vue-i18n
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vue-router
  amoro-ams/amoro-ams-dashboard/licenses/LICENSE-vue-tsc
  amoro-ams/amoro-ams-dashboard/package.json
  amoro-ams/amoro-ams-dashboard/pnpm-lock.yaml
  amoro-ams/amoro-ams-dashboard/vite.config.ts
  pom.xml
Labels: type:build, module:ams-dashboard

#2939 [AMORO-2938] Add common dependency chart
  .github/workflows/helm-charts-ci.yml
  charts/amoro/Chart.lock
  charts/amoro/Chart.yaml
  charts/amoro/README.md
  charts/amoro/templates/common/_capabilities.tpl
  charts/amoro/templates/common/_ingress.tpl
  charts/amoro/templates/common/_labels.tpl
  charts/amoro/templates/common/_names.tpl
  charts/amoro/templates/common/_tplvalues.tpl
Labels: type:infra

#2962 [Improvement] Remove aws bundle dependencies from ams bin
  pom.xml
Labels: type:build

#2963 [Improvement] Support skip javadoc plugin for `amoro-mixed-format-trino` module
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
  pom.xml
Labels: module:mixed-trino, type:build

#2972 [AMORO-2960] Support paimon s3 based catalog
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-core/src/main/java/org/apache/amoro/formats/paimon/PaimonCatalogFactory.java
  amoro-core/src/main/java/org/apache/amoro/table/TableMetaStore.java
  amoro-core/src/main/java/org/apache/amoro/utils/MixedCatalogUtil.java
  pom.xml
Labels: module:core, module:ams-server, type:build, module:ams-dashboard

#2958 [AMORO-2941] Complete translations for amoro dashboard
  amoro-ams/amoro-ams-dashboard/src/components/Sidebar.vue
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/views/terminal/index.vue
Labels: module:ams-dashboard
