Repository apache/amoro, pull requests merged in 2024-10, with the labels that each got.

#3216 [AMORO-3195]: OptimizerController decoupling to OptimizerGroupController
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
  amoro-web/src/language/en.ts
  amoro-web/src/language/zh.ts
  amoro-web/src/services/optimize.service.ts
  amoro-web/src/views/resource/components/CreateOptimizerModal.vue
  amoro-web/src/views/resource/components/List.vue
  amoro-web/src/views/resource/index.vue
Labels: module:ams-server, module:ams-dashboard

#3229 [AMORO-3228] Rewrite pos delete files not written by optimizing process
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/CommonPartitionEvaluator.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/io/writer/IcebergFanoutPosDeleteWriter.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/TableFileUtil.java
Labels: module:ams-server

#3173 [AMORO-3172] AMS ProcessStatus Miss Running Status
  amoro-common/src/main/java/org/apache/amoro/process/ProcessStatus.java
  amoro-common/src/main/java/org/apache/amoro/process/TableProcess.java
  amoro-common/src/main/java/org/apache/amoro/process/TableProcessState.java
  amoro-format-hudi/src/main/java/org/apache/amoro/formats/hudi/HudiTableDescriptor.java
Labels: module:common

#3231 [AMORO-3218] Fix logic for consturct the result of optimizer tables api
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableManager.java
Labels: module:ams-server

#3238 [Amoro-3237] Generalize TaskRuntime to support more task types
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/KeyedTableCommit.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/MetricsSummary.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/RewriteStageTask.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/StagedTaskDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/TaskRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/UnKeyedTableCommit.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/AbstractPartitionPlan.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingPlanner.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/TaskDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/TaskFilesPersistence.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/converter/TaskDescriptorTypeConverter.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/OptimizingMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/commit/TestMixIcebergCommit.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/commit/TestUnKeyedTableCommit.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/CompleteOptimizingFlow.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/AbstractHiveChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/AbstractSceneCountChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/DataConcurrencyChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/FullOptimizingMove2HiveChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/FullOptimizingWrite2HiveChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/MajorOptimizingChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/MinorOptimizingCheck.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/checker/OptimizingCountChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/MixedTablePlanTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestKeyedPartitionPlan.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestOptimizingPlanner.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/AMSTableTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TableServiceTestBase.java
Labels: module:ams-server

#3241 [hotfix] Paimon S3 File Reader Miss Pom dependency
  amoro-format-paimon/pom.xml
Labels: type:build

#3243 [AMORO-3242] Fix optimizer keeper unregister npe
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
Labels: module:ams-server

#3179 [Improvement][AMORO-3178]: Change the default configuration of values.yaml to improve user experience
  charts/amoro/templates/_pod.tpl
  charts/amoro/values.yaml
Labels: stale

#3201 [AMORO-3139] Improve list content of optimizing page
  amoro-web/mock/modules/optimize.js
  amoro-web/src/services/optimize.service.ts
  amoro-web/src/types/common.type.ts
  amoro-web/src/utils/table.ts
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3247 [AMORO-3246] Search and reset adaptation for the optimizer group and …
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3236 [AMORO-3235] Support action filter by ams backend
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
Labels: module:ams-server

#3248 [Improvement] Lint and format amoro web code before commit
  amoro-web/package.json
  amoro-web/pnpm-lock.yaml
  amoro-web/src/services/optimize.service.ts
  amoro-web/src/views/resource/components/CreateOptimizerModal.vue
  amoro-web/src/views/resource/components/List.vue
  amoro-web/src/views/resource/index.vue
  amoro-web/src/views/tables/components/Optimizing.vue
Labels: module:ams-dashboard

#3250 [hotfix] k8s helm support using the default Kubernetes client configuration
  amoro-ams/src/main/java/org/apache/amoro/server/manager/KubernetesOptimizerContainer.java
  charts/amoro/values.yaml
Labels: module:ams-server

#3244 [AMORO-3038] Unify the API set for dashboard and open API
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/PlatformFileInfoController.java
  amoro-web/mock/modules/catalogs.js
  amoro-web/mock/modules/common.js
  amoro-web/mock/modules/optimize.js
  amoro-web/mock/modules/overview.js
  amoro-web/mock/modules/settings.js
  amoro-web/mock/modules/table.js
  amoro-web/mock/modules/terminal.js
  amoro-web/src/services/global.service.ts
  amoro-web/src/services/login.service.ts
  amoro-web/src/services/optimize.service.ts
  amoro-web/src/services/overview.service.ts
  amoro-web/src/services/setting.services.ts
  amoro-web/src/services/table.service.ts
  amoro-web/src/services/terminal.service.ts
  amoro-web/src/utils/request.ts
  amoro-web/src/views/catalogs/Detail.vue
  charts/amoro/templates/amoro-deployment.yaml
Labels: module:ams-server, module:ams-dashboard

#3254 [AMORO-3253] Optijmizing getOPtimizingProcessTasks and getOptimizingTypes rest efficiency
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
Labels: module:ams-server

#3240 [AMORO-3239] Fix stack overflow caused by reading too many partitions in the filter
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingPlanner.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/AsyncTableExecutors.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestOverviewCache.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestOptimizingEvaluator.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableSummaryMetrics.java
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3270 [AMORO-3269] Use actualPartitionPlans to determine the optimizingType
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingPlanner.java
Labels: module:ams-server

#3268 [AMORO-3267] Fix postgres upgrade script bugs
  amoro-ams/src/main/resources/postgres/upgrade-0.7.0-to-0.7.1.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
Labels: module:ams-server

#3266 [AMORO-3265] Refactor SimpleFuture for process api
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/RestCatalogService.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/InternalCatalog.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/InternalCatalogImpl.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/ServerCatalog.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/utils/CommonUtil.java
  amoro-ams/src/main/java/org/apache/amoro/server/manager/AbstractPluginManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/KeyedTableCommit.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/TaskRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/UnKeyedTableCommit.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/PersistentBase.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/utils/PreconditionUtils.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-ams/src/test/java/org/apache/amoro/server/manager/TestAbstractPluginManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/commit/TestMixIcebergCommit.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/commit/TestUnKeyedTableCommit.java
  amoro-ams/src/test/java/org/apache/amoro/server/persistence/TestPersistentBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestCatalogService.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestDatabaseService.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableRuntimeManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableService.java
  amoro-common/src/main/java/org/apache/amoro/exception/AlreadyExistsException.java
  amoro-common/src/main/java/org/apache/amoro/exception/AmoroRuntimeException.java
  amoro-common/src/main/java/org/apache/amoro/exception/BlockerConflictException.java
  amoro-common/src/main/java/org/apache/amoro/exception/ForbiddenException.java
  amoro-common/src/main/java/org/apache/amoro/exception/IllegalMetadataException.java
  amoro-common/src/main/java/org/apache/amoro/exception/IllegalTaskStateException.java
  amoro-common/src/main/java/org/apache/amoro/exception/LoadingPluginException.java
  amoro-common/src/main/java/org/apache/amoro/exception/ObjectNotExistsException.java
  amoro-common/src/main/java/org/apache/amoro/exception/OptimizingClosedException.java
  amoro-common/src/main/java/org/apache/amoro/exception/OptimizingCommitException.java
  amoro-common/src/main/java/org/apache/amoro/exception/PersistenceException.java
  amoro-common/src/main/java/org/apache/amoro/exception/PluginAuthException.java
  amoro-common/src/main/java/org/apache/amoro/exception/PluginRetryAuthException.java
  amoro-common/src/main/java/org/apache/amoro/exception/SignatureCheckException.java
  amoro-common/src/main/java/org/apache/amoro/exception/TaskNotFoundException.java
  amoro-common/src/main/java/org/apache/amoro/exception/TaskRuntimeException.java
  amoro-common/src/main/java/org/apache/amoro/exception/UndefinedException.java
  amoro-common/src/main/java/org/apache/amoro/process/SimpleFuture.java
  amoro-common/src/main/java/org/apache/amoro/process/TableProcess.java
  amoro-common/src/test/java/org/apache/amoro/process/TestSimpleFuture.java
Labels: module:ams-server, module:common

#3271 [Hotfix] Fix incorrect license
  dist/src/main/amoro-bin/conf/plugins/metric-reporters.yaml
Labels: type:build

#3255 [Improvement] Improve language key name and fix typo
  amoro-web/src/hooks/usePlaceholder.ts
  amoro-web/src/language/en.ts
  amoro-web/src/language/zh.ts
  amoro-web/src/utils/request.ts
  amoro-web/src/views/catalogs/Detail.vue
  amoro-web/src/views/hive-details/upgrade.vue
  amoro-web/src/views/login/index.vue
  amoro-web/src/views/resource/components/GroupModal.vue
  amoro-web/src/views/resource/index.vue
Labels: module:ams-dashboard

#3257 [AMORO-3066] Optimizing the efficiency for optimizing-processes rest api
  amoro-ams/pom.xml
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingProcess.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/SqlSessionFactoryProvider.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/OptimizingMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestIcebergServerTableDescriptor.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/BaseOptimizingChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestOptimizingQueue.java
  pom.xml
Labels: module:ams-server, type:build

#3281 [AMORO-3280] Move the pg upgrade script to the right place
  amoro-ams/src/main/resources/postgres/upgrade-0.7.0-to-0.7.1.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
Labels: module:ams-server

#3284 [Hotfix] Use `propertyAsLong` instead of `propertyAsInt` for `total-records`
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
Labels: module:ams-server

#3282 [Improvement] Improve the table display on the optimizing tables page
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3213 [AMORO-3183] Add Ams On K8S TestContainer Unit Base Test (#3183)
  amoro-ams/pom.xml
  amoro-ams/src/test/java/org/apache/amoro/server/AmoroAMSTest.java
  amoro-ams/src/test/java/org/apache/amoro/server/manager/TestKubernetesOptimizerContainer.java
Labels: module:ams-server, type:build

#3293 [AMORO-3291] Remove simple git hooks and lint staged
  amoro-web/package.json
  amoro-web/pnpm-lock.yaml
Labels: module:ams-dashboard

#3292 [AMORO-3286] Fix ConcurrentModificationException in TableRuntime.getQuotaTime()
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableRuntime.java
Labels: module:ams-server

#3298 [AMORO-3288] Status color of running and submitted
  amoro-web/src/views/tables/components/Optimizing.vue
Labels: module:ams-dashboard

#3305 [AMORO-3302] Make plugin jar optional for packing
  dist/pom.xml
  dist/src/main/assemblies/release-bin.xml
Labels: type:build

#3304 [AMORO-3303] Optimize the final tarball to keep it within the specified size for 0.7
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/dist/src/main/assemblies/release-bin.xml
  amoro-core/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-hive/pom.xml
  pom.xml
Labels: module:mixed-flink, module:core, module:ams-server, module:mixed-hive, type:build

#3311 [AMORO-3308][Bugfix]: get signature check error when upload catalog config files
  amoro-web/src/views/catalogs/Detail.vue
Labels: module:ams-dashboard
