Repository apache/amoro, pull requests merged in 2024-02, with the labels that each got.

#2528 [AMORO-2389] Implement the toString() method for all the implementation class of org.apache.iceberg.Table in Amoro
  core/src/main/java/com/netease/arctic/table/BasicUnkeyedTable.java
Labels: module:core

#2529 [AMORO-2525] Fix bug #2525 - When using Flink api to write data into mix-iceberg table, it will update the table metadata to incorrect value
  mixed/flink/v1.15/flink-runtime/pom.xml
  mixed/flink/v1.16/flink-runtime/pom.xml
  mixed/flink/v1.17/flink-runtime/pom.xml
Labels: module:mixed-flink, type:build

#2543 [AMORO-2542] Fix Using `transform` partition and the partition value is `null`, the problem of `optimizing` cannot be triggered
  core/src/main/java/com/netease/arctic/utils/ExpressionUtil.java
  core/src/test/java/com/netease/arctic/BasicTableTestHelper.java
  core/src/test/java/com/netease/arctic/utils/TestKeyedExpressionUtil.java
  core/src/test/java/com/netease/arctic/utils/TestUnkeyedExpressionUtil.java
Labels: module:core

#2526 [AMORO-2412] Automatically delete expired iceberg Table tag
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/AutoCreateIcebergTagAction.java
  ams/server/src/main/java/com/netease/arctic/server/table/TagConfiguration.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestAutoCreateIcebergTagAction.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
Labels: type:docs, module:core

#2549 [docs] Fix typo for flink optimizer configuration
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#2551 [AMORO-1946]: javalin version bump to 4.6.8 #1946
  pom.xml
Labels: type:build

#2547 [AMORO-2345] Support UnifiedCatalog to contain Paimon format table in Flink Engine
  core/src/test/java/com/netease/arctic/formats/AmoroCatalogTestHelper.java
  core/src/test/java/com/netease/arctic/formats/IcebergHadoopCatalogTestHelper.java
  core/src/test/java/com/netease/arctic/formats/MixedIcebergHadoopCatalogTestHelper.java
  core/src/test/java/com/netease/arctic/formats/PaimonHadoopCatalogTestHelper.java
  mixed/flink/flink-common/pom.xml
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/FlinkUnifiedCatalog.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/FlinkUnifiedCatalogFactory.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/catalog/factories/paimon/PaimonFlinkCatalogFactory.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/FlinkAmoroCatalogITCase.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/FlinkCatalogContext.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/catalog/TestFlinkUnifiedCatalogs.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/table/AmoroCatalogITCaseBase.java
  mixed/flink/v1.15/flink/pom.xml
  mixed/flink/v1.16/flink/pom.xml
  mixed/flink/v1.17/flink/pom.xml
Labels: module:mixed-flink, module:core, type:build

#2548 [AMORO-2546] Upgrade paimon dependency to 0.7.0
  ams/server/src/main/java/com/netease/arctic/server/dashboard/PaimonTableDescriptor.java
  pom.xml
Labels: type:build

#2558 [AMORO-2555]When expiring historic data,the latest snapshot generated by amoro should not be used
  ams/api/src/main/gen-java/com/netease/arctic/ams/api/CommitMetaProducer.java
  ams/api/src/main/thrift/arctic_table_metastore.thrift
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
Labels: module:ams-server

#2421 [AMORO-1812] Support spark-based external optimizer
  ams/dist/pom.xml
  ams/dist/src/main/assemblies/bin.xml
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/AbstractOptimizerOperator.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/Optimizer.java
  ams/optimizer/common/src/main/java/com/netease/arctic/optimizer/common/OptimizerExecutor.java
  ams/optimizer/pom.xml
  ams/optimizer/spark-optimizer/pom.xml
  ams/optimizer/spark-optimizer/src/main/java/com/netease/arctic/optimizer/spark/SparkOptimizer.java
  ams/optimizer/spark-optimizer/src/main/java/com/netease/arctic/optimizer/spark/SparkOptimizerExecutor.java
  ams/optimizer/spark-optimizer/src/main/java/com/netease/arctic/optimizer/spark/SparkOptimizingTaskFunction.java
  core/src/main/java/com/netease/arctic/optimizing/RewriteFilesInput.java
Labels: module:core, module:ams-optimizer, type:build

#2561 [AMORO-2560]Filformat ORC support roll new file for mixed_format
  core/src/main/java/com/netease/arctic/io/writer/BaseTaskWriter.java
  pom.xml
Labels: module:core, type:build

#2559 [Hotfix] Fix quickdemo docker image build error in GitHub action
  .github/workflows/docker-images.yml
Labels: type:infra

#2562 [DOCS] Fix Maven command for trino module in README.md
  README.md
Labels: type:docs

#2563 [docs] Fix typo in README.md for Building
  README.md
Labels: type:docs

#2573 [AMORO-2571] Cannot find data files under partitions with null partition values
  core/src/main/java/org/apache/iceberg/IcebergFindFiles.java
  core/src/test/java/org/apache/iceberg/TestIcebergFindFiles.java
Labels: module:core

#2572 [docs] Fix typo for flink conf in deployment on kubernetes
  docs/admin-guides/deployment-on-kubernetes.md
Labels: type:docs

#2575 [Hotfix][Infra] Fix github labeler action configuration for ams-server module
  .github/labeler.yml
Labels: type:infra

#2580 [AMORO-2579] Skip the direcotories if can not be deleted when expire snapshots
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/IcebergTableMaintainer.java
  core/src/main/java/com/netease/arctic/io/ArcticHadoopFileIO.java
  core/src/main/java/com/netease/arctic/utils/TableFileUtil.java
  core/src/test/java/com/netease/arctic/utils/TestFileUtil.java
Labels: module:core, module:ams-server

#2582 [Hotfix] Dependent on log4j2 related packages in compile scope in the `ams-server` module
  ams/server/pom.xml
Labels: module:ams-server, type:build

#2586 [Hotfix] Remove dependency log4j:1.2.17 and exclude logback
  ams/api/pom.xml
  mixed/flink/flink-common-iceberg-bridge/pom.xml
Labels: module:mixed-flink, module:ams-server, type:build
