Repository apache/amoro, pull requests merged in 2024-09, with the labels that each got.

#3124 [Improvement]: AMS frequently print warning logs of 'Unclosed ResolvingFileIO'
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/InternalIcebergCatalogImpl.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/InternalMixedCatalogImpl.java
Labels: module:ams-server

#3154 [AMORO-3153]Modify the implementation class of the thrift server
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
Labels: module:ams-server

#3160 [AMORO-3159] Pull optimizer and metrics module out of amoro-ams
  .github/labeler.yml
  .github/workflows/docker-images.yml
  README.md
  amoro-ams/dist/src/main/assemblies/bin.xml
  amoro-ams/pom.xml
  amoro-metrics/amoro-metrics-prometheus/pom.xml
  amoro-metrics/amoro-metrics-prometheus/src/main/java/org/apache/amoro/metrics/promethues/MetricsCollector.java
  amoro-metrics/amoro-metrics-prometheus/src/main/java/org/apache/amoro/metrics/promethues/PrometheusMetricsReporter.java
  amoro-metrics/amoro-metrics-prometheus/src/main/resources/META-INF/services/org.apache.amoro.metrics.MetricReporter
  amoro-metrics/pom.xml
  amoro-optimizer/amoro-optimizer-common/pom.xml
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/AbstractOptimizerOperator.java
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/Optimizer.java
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerConfig.java
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerExecutor.java
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerToucher.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/OptimizerTestBase.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/OptimizerTestHelpers.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizer.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizerConfig.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizerExecutor.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/TestOptimizerToucher.java
  amoro-optimizer/amoro-optimizer-flink/pom.xml
  amoro-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkExecutor.java
  amoro-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkOptimizer.java
  amoro-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkOptimizerExecutor.java
  amoro-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkToucher.java
  amoro-optimizer/amoro-optimizer-spark/pom.xml
  amoro-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizer.java
  amoro-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizerExecutor.java
  amoro-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizingTaskFunction.java
  amoro-optimizer/amoro-optimizer-standalone/pom.xml
  amoro-optimizer/amoro-optimizer-standalone/src/main/java/org/apache/amoro/optimizer/standalone/StandaloneOptimizer.java
  amoro-optimizer/pom.xml
  docker/build.sh
  pom.xml
Labels: type:docs, type:infra, type:build

#3126 [AMORO-3152] Make git-commit-plugin fail on no git dir configurable
  amoro-ams/amoro-ams-server/pom.xml
Labels: module:ams-server, type:build

#3152 [Improvement]: Add missing optimizingStatus key and format code
  amoro-web/src/types/common.type.ts
  amoro-web/src/views/catalogs/Detail.vue
  amoro-web/src/views/tables/components/Selector.vue
Labels: module:ams-dashboard

#3166 [Improvement]: Disable jmxremote when jmxremote.port is not set.
  dist/src/main/amoro-bin/bin/ams.sh
Labels: type:build

#3165 [AMORO-3149] The parameter type of iceberg's snapshot method is converted to long
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
Labels: module:ams-server

#3168 [Doc]Fix typo in managing-optimizers.md
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#3072 [AMORO-2979] Support K8S Pod Template From KubernetesOptimizer (#2979)
  amoro-ams/src/main/java/org/apache/amoro/server/manager/KubernetesOptimizerContainer.java
  amoro-ams/src/test/java/org/apache/amoro/server/manager/TestKubernetesOptimizerContainer.java
  amoro-ams/src/test/resources/config.yaml
  docs/admin-guides/deployment-on-kubernetes.md
  pom.xml
Labels: type:docs, module:ams-server, type:build

#3177 [AMORO-3176] Support multiple format in internal catalog
  amoro-ams/src/main/java/org/apache/amoro/server/RestCatalogService.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/CatalogBuilder.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/InternalCatalogImpl.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/InternalIcebergCatalogImpl.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/InternalMixedCatalogImpl.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/MixedHiveCatalogImpl.java
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/TerminalManager.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/formats/mixed/MixedIcebergCatalogFactory.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/mixed/BasicMixedIcebergCatalog.java
  amoro-format-mixed/amoro-mixed-hive/src/main/java/org/apache/amoro/hive/catalog/MixedHiveCatalog.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/mixed/MixedSparkCatalogBase.java
Labels: module:mixed-spark, module:ams-server, module:mixed-hive

#3164 [AMORO-3163] Support for configuring the number of remaining snapshots
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/MixedTableMaintainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableConfigurations.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestSnapshotExpire.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestSnapshotExpireHive.java
  amoro-common/src/main/java/org/apache/amoro/config/ConfigHelpers.java
  amoro-common/src/main/java/org/apache/amoro/config/TableConfiguration.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/TableProperties.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/CompatiblePropertyUtil.java
  docs/user-guides/configurations.md
Labels: type:docs, module:ams-server, module:common

#3181 [AMORO-3180] Implement health score calculation for tables
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/AbstractPartitionPlan.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/CommonPartitionEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/PartitionEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableSummaryMetrics.java
  amoro-common/src/main/java/org/apache/amoro/table/descriptor/TableSummary.java
  amoro-web/mock/modules/table.js
  amoro-web/src/language/en.ts
  amoro-web/src/language/zh.ts
  amoro-web/src/types/common.type.ts
  amoro-web/src/views/tables/index.vue
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server, module:ams-dashboard, module:common

#3185 [AMORO-3145] Filter out info log for CodecPool in optimizer
  dist/src/main/amoro-bin/conf/optimize/log4j2.xml
Labels: type:build

#3191 [Hotfix] Fix github ci due to module changes
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/trino-ci.yml
Labels: type:infra

#3187 [AMORO-3186] Force check git dir when creating release binary
  tools/releasing/create_binary_release.sh
Labels: type:infra

#3151 [AMORO-3150] Bump up curator to 5.7.0
  pom.xml
Labels: type:build

#3193 [AMORO-3192] Add the "clean-orphan-file.interval-time-minutes" parameter
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/AsyncTableExecutors.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/OrphanFilesCleaningExecutor.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/TableProperties.java
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3031 [AMORO-405]: Added overview page in AMS dashboard
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewCache.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewMetricsReporter.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OverviewController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/model/OverviewDataSizeItem.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/model/OverviewResourceUsageItem.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/model/OverviewSummary.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/model/OverviewTopTableItem.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizerGroupMetrics.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
  amoro-ams/src/main/resources/META-INF/services/org.apache.amoro.metrics.MetricReporter
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestOverviewCache.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestOptimizingQueue.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableSummaryMetrics.java
  amoro-web/mock/modules/overview.js
  amoro-web/src/components/Sidebar.vue
  amoro-web/src/components/echarts/index.ts
  amoro-web/src/language/en.ts
  amoro-web/src/language/zh.ts
  amoro-web/src/router/index.ts
  amoro-web/src/services/overview.service.ts
  amoro-web/src/types/common.type.ts
  amoro-web/src/views/introduce/index-bakl.vue
  amoro-web/src/views/introduce/index.vue
  amoro-web/src/views/overview/components/DataSizeCard.vue
  amoro-web/src/views/overview/components/MultipleDataCard.vue
  amoro-web/src/views/overview/components/PieChartCard.vue
  amoro-web/src/views/overview/components/ResourceUsageCard.vue
  amoro-web/src/views/overview/components/SingleDataCard.vue
  amoro-web/src/views/overview/components/Top10TablesCard.vue
  amoro-web/src/views/overview/index.vue
  dist/src/main/amoro-bin/conf/plugins/metric-reporters.yaml
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server, type:build, module:ams-dashboard

#3200 [AMORO-3199] Avoid loading the same plugin repeatedly
  amoro-ams/src/main/java/org/apache/amoro/server/manager/AbstractPluginManager.java
  dist/src/main/amoro-bin/conf/plugins/metric-reporters.yaml
Labels: module:ams-server, type:build

#3113 [AMORO-3110] Avoid optimization status blocking in running
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/PersistentBase.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableRuntime.java
Labels: module:ams-server

#3115 [AMORO-3111]Avoid optimization state blocking in planning
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableRuntime.java
Labels: module:ams-server

#3203 [Amoro-3196]: Fix scheduling hungry issue
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/SchedulingPolicy.java
Labels: module:ams-server

#3204 [Improvement] Remove not necessary imports
  amoro-web/src/views/overview/components/MultipleDataCard.vue
  amoro-web/src/views/overview/components/SingleDataCard.vue
Labels: module:ams-dashboard

#3209 feat: Add new development tools to optimize front-end development exp…
  amoro-web/package.json
  amoro-web/pnpm-lock.yaml
  amoro-web/vite.config.ts
Labels: module:ams-dashboard

#3208 [AMORO-3206] fix the dataSource superimposed
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3190 [AMORO-3189] Support loading mixed catalog without ams url on Spark
  amoro-common/src/main/java/org/apache/amoro/CommonUnifiedCatalog.java
  amoro-common/src/main/java/org/apache/amoro/table/TableMetaStore.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/mixed/CatalogLoader.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/TestUnifiedCatalog.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/catalog/TestCatalogLoader.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/mixed/MixedSparkCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalog.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-runtime-3.2/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalog.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-runtime-3.3/pom.xml
  docs/engines/spark/spark-conf.md
Labels: type:docs, module:mixed-spark, type:build, module:common

#3212 [AMORO-3194]improvement: optimize plan log print
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
Labels: module:ams-server

#3211 [AMORO-3210] Support loading flink mixed catalog without ams url
  amoro-common/src/main/java/org/apache/amoro/utils/CatalogUtil.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/mixed/CatalogLoader.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/MixedFormatCatalogUtil.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/catalog/BasicCatalogTestHelper.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/catalog/BasicMixedCatalog.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/catalog/TableTestBase.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/formats/IcebergHadoopCatalogTestHelper.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/formats/MixedIcebergHadoopCatalogTestHelper.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/InternalCatalogBuilder.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/FlinkUnifiedCatalog.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/MixedCatalog.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/factories/CatalogFactoryOptions.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/factories/FlinkUnifiedCatalogFactory.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/factories/mixed/MixedCatalogFactory.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/KafkaConnectorOptionsUtil.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/MixedDynamicTableFactory.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/OptionsUtil.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/UnifiedDynamicTableFactory.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/test/java/org/apache/amoro/flink/catalog/TestMixedCatalog.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
  docs/engines/flink/flink-ddl.md
Labels: type:docs, module:mixed-flink, module:common

#3207 [AMORO-3202] Upgrade Paimon Version to 0.9.0
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonTableDescriptor.java
  pom.xml
Labels: type:build, module:ams

#3214 [AMORO-3205] fetch data when click the search button
  amoro-web/src/language/en.ts
  amoro-web/src/language/zh.ts
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3215 Fix null pointer exception for OverviewCache
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewCache.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingPlanner.java
Labels: module:ams-server

#3219 [Hotfix] Fix OverviewCache init failed
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
Labels: module:ams-server

#3221 [AMORO-3220] Optimize table summary metrics to fetch data
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableSummaryMetrics.java
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server

#3217 [hotfix] ams-mysql-init.sql fix error init
  amoro-ams/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:ams-server

#3167 [Improvement]: Refactor TableFormat to a non-enumeration type to support non-open source formats
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/JavalinJsonMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/TableMaintainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingPlanner.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/converter/TableFormatConverter.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/utils/InternalTableUtil.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/AMSTableTestBase.java
  amoro-common/src/main/java/org/apache/amoro/TableFormat.java
  amoro-common/src/test/java/org/apache/amoro/catalog/CatalogTestHelpers.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/MixedTableUtil.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/catalog/TableTestBase.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/FlinkUnifiedCatalog.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/UnifiedDynamicTableFactory.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/table/descriptors/MixedFormatValidator.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/test/java/org/apache/amoro/spark/test/SparkTestContext.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/test/java/org/apache/amoro/spark/test/extensions/EnableCatalogSelectExtension.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/test/java/org/apache/amoro/spark/test/unified/UnifiedCatalogTestSuites.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/util/MixedFormatSparkUtils.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/test/java/org/apache/amoro/spark/test/suites/sql/TestCreateTableAsSelect.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/test/java/org/apache/amoro/spark/test/suites/sql/TestCreateTableSQL.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/java/org/apache/amoro/spark/util/MixedFormatSparkUtils.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/test/java/org/apache/amoro/spark/test/suites/sql/TestCreateTableAsSelect.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/test/java/org/apache/amoro/spark/test/suites/sql/TestCreateTableSQL.java
Labels: module:mixed-flink, module:mixed-spark, module:ams-server, module:common

#3223 [AMORO-3110] Do not throw exception when retry task in optimizer keeper
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
Labels: module:ams-server

#3225 [AMORO-3224] Compare min plan interval in optimizing config
  amoro-ams/pom.xml
  amoro-common/src/main/java/org/apache/amoro/config/OptimizingConfig.java
Labels: module:ams-server, type:build, module:common

#3222 [Improvement] Support env.sh and add HADOOP_CONF_DIR and HIVE_CONF_DIR to CLASSPATH
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  dist/src/main/amoro-bin/bin/ams.sh
  dist/src/main/amoro-bin/bin/load-config.sh
  dist/src/main/amoro-bin/conf/env.sh
  dist/src/main/assemblies/bin.xml
Labels: module:ams-server, type:build

#3230 [Improvement] Support filter by status and type when show table optimizing process
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/ServerTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-common/src/main/java/org/apache/amoro/process/ProcessStatus.java
  amoro-common/src/main/java/org/apache/amoro/table/descriptor/FormatTableDescriptor.java
  amoro-format-hudi/src/main/java/org/apache/amoro/formats/hudi/HudiTableDescriptor.java
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonTableDescriptor.java
  amoro-web/mock/modules/table.js
  amoro-web/src/services/table.service.ts
  amoro-web/src/views/tables/components/Optimizing.vue
Labels: module:ams-server, module:ams-dashboard, module:common

#3227 [Hotfix] Fix loading custom auth s3 catalog issue
  amoro-common/src/main/java/org/apache/amoro/table/TableMetaStore.java
Labels: module:common
