Repository apache/amoro, pull requests merged in 2024-11, with the labels that each got.

#3093 [AMORO-2842] Support list all paimon branch
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/ServerTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-common/src/main/java/org/apache/amoro/table/descriptor/FormatTableDescriptor.java
  amoro-format-hudi/src/main/java/org/apache/amoro/formats/hudi/HudiTableDescriptor.java
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonTableDescriptor.java
  amoro-web/src/services/table.service.ts
  amoro-web/src/views/tables/components/Snapshots.vue
Labels: module:ams-server, module:ams-dashboard, module:common

#3320 [AMORO-3319][Bugfix]: tableRuntime NPE causes table page error
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
Labels: module:ams-server

#3318 [AMORO-3316]: Decouple planer with table runtime
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/AbstractPartitionPlan.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/CommonPartitionEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/IcebergPartitionPlan.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/MixedHivePartitionPlan.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/MixedIcebergPartitionPlan.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingPlanner.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/flow/CompleteOptimizingFlow.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestHiveKeyedPartitionPlan.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestHiveUnkeyedPartitionPlan.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestIcebergPartitionPlan.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestKeyedPartitionPlan.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestOptimizingEvaluator.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestOptimizingPlanner.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestUnkeyedPartitionPlan.java
Labels: module:ams-server

#3309 [AMORO-3309][Improvement] Support for terminal integration with LDAP authentication in Kyuubi
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/kyuubi/KyuubiTerminalSessionFactory.java
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/values.yaml
  docs/admin-guides/using-kyuubi.md
Labels: type:docs, module:ams-server

#3327 [hotfix] fix vue ams get detail of SnapshotId url error
  amoro-web/src/services/table.service.ts
Labels: module:ams-dashboard

#3324 [AMORO-3323]Exclude `hadoop-client-api` dependency
  pom.xml
Labels: type:build

#3326 [hotfix] Replace OptimizingProcess#Status with ProcessStatus.
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingProcess.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingProcessMeta.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/TableRuntimeMeta.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/BaseOptimizingChecker.java
Labels: module:ams-server

#3331 fixup column name in TableMetaMapper#selectTableRuntimeMetas
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
Labels: module:ams-server

#3313 [AMORO-3312]Separate the shared iceberg-worker-pool for planning and committing
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/UnKeyedTableCommit.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/scan/IcebergTableFileScanHelper.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/IcebergThreadPools.java
Labels: module:ams-server

#3334 [AMORO-3332] Add homepage info and maillist in the README
  README.md
Labels: type:docs

#3306 [AMORO-3301] Support OSS for iceberg in InternalCatalog
  README.md
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/internal/InternalTableConstants.java
  amoro-ams/src/main/java/org/apache/amoro/server/utils/InternalTableUtil.java
  amoro-common/src/main/java/org/apache/amoro/properties/CatalogMetaProperties.java
  amoro-format-iceberg/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-runtime-3.2/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-runtime-3.3/pom.xml
  amoro-web/src/views/catalogs/Detail.vue
  http/README.md
  http/RestCatalogLocalTest.http
  pom.xml
Labels: type:docs, module:mixed-spark, module:ams-server, type:build, module:ams-dashboard, module:common

#3339 [AMORO-3330] Reducing redundant 'databaseExists' in 'CommonUnifiedCatalog'
  amoro-common/src/main/java/org/apache/amoro/CommonUnifiedCatalog.java
  amoro-format-hudi/src/main/java/org/apache/amoro/formats/hudi/HudiHadoopCatalog.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/formats/mixed/MixedCatalog.java
Labels: module:common

#3342 [hotfix] Fix incorrect parameter naming of some `TableExecutor`
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/HiveCommitSyncExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/OptimizingCommitExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/OptimizingExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/OrphanFilesCleaningExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/SnapshotsExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
Labels: module:ams-server

#3341 [AMORO-3340]: Database based http session store
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/DataSourceFactory.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/HttpSessionHandlerFactory.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/SqlSessionFactoryProvider.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/converter/Object2ByteArrayConvert.java
  amoro-ams/src/main/resources/derby/ams-derby-init.sql
  amoro-ams/src/main/resources/mysql/ams-mysql-init.sql
  amoro-ams/src/main/resources/mysql/upgrade.sql
  amoro-ams/src/main/resources/postgres/ams-postgres-init.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestIcebergServerTableDescriptor.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/DerbyPersistence.java
  dist/src/main/amoro-bin/conf/config.yaml
  docs/admin-guides/deployment.md
Labels: type:docs, module:ams-server, type:build
