Repository apache/amoro, pull requests merged in 2024-01, with the labels that each got.

#2489 [Feature]: Support Menu Table mock server
  ams/dashboard/mock/modules/catalogs.js
  ams/dashboard/mock/modules/common.js
  ams/dashboard/mock/modules/table.js
Labels: module:ams-dashboard

#2498 [AMORO-2497] [Flink]: Support for serialization and deserialization thread-safe in lookup JOIN
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/lookup/BinaryRowDataSerializerWrapper.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/lookup/RocksDBCacheState.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/lookup/RocksDBRecordState.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/lookup/RocksDBSetSpilledState.java
Labels: module:mixed-flink

#2501 [Feature]: Supports Catalogs Menu Mock Server
  ams/dashboard/mock/modules/catalogs.js
Labels: module:ams-dashboard

#2503 [Improvement]: Supports Terminal Menu Mock Server
  ams/dashboard/mock/modules/common.js
  ams/dashboard/mock/modules/terminal.js
Labels: module:ams-dashboard

#1973 [AMORO-1035][Flink] Support customizing mixed-format table source parallelism
  docs/engines/flink/flink-dml.md
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/table/FlinkSource.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/table/LogDynamicSource.java
  mixed/flink/flink-common/src/main/java/com/netease/arctic/flink/table/descriptors/ArcticValidator.java
  mixed/flink/flink-common/src/test/java/com/netease/arctic/flink/table/TestKeyed.java
Labels: type:docs, module:mixed-flink

#2516 [Improvement] Add the trigger condition of combine multiple position delete file for minor
  ams/server/src/main/java/com/netease/arctic/server/optimizing/plan/CommonPartitionEvaluator.java
  docs/user-guides/configurations.md
Labels: type:docs

#2481 [AMORO-2477] [Improvement]: Amoro Flink Optimizer Support Flink 1.18
  .github/workflows/docker-images.yml
  README.md
  ams/optimizer/flink-optimizer/pom.xml
  ams/optimizer/flink-optimizer/src/main/java/com/netease/arctic/optimizer/flink/FlinkOptimizer.java
  docs/admin-guides/deployment.md
Labels: type:docs, module:ams-optimizer, type:infra, type:build

#2411 [AMORO-2257] Automatically create tags on snapshots hour-level for iceberg Table Formats
  ams/server/src/main/java/com/netease/arctic/server/optimizing/maintainer/AutoCreateIcebergTagAction.java
  ams/server/src/main/java/com/netease/arctic/server/table/TagConfiguration.java
  ams/server/src/main/java/com/netease/arctic/server/table/executor/TagsAutoCreatingExecutor.java
  ams/server/src/test/java/com/netease/arctic/server/optimizing/maintainer/TestAutoCreateIcebergTagAction.java
  core/src/main/java/com/netease/arctic/table/TableProperties.java
  docs/user-guides/configurations.md
Labels: type:docs, module:core
