Repository apache/amoro, pull requests merged in 2024-08, with the labels that each got.

#3074 [AMORO-3073]: Paimon Consumer adds the previous Snapshot Id Info (#3073)
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/PaimonTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/ConsumerInfo.java
Labels: module:ams-server

#3077 [Improvement] Prevent the table name from being truncated prematurely
  amoro-ams/amoro-ams-dashboard/src/views/tables/index.vue
Labels: module:ams-dashboard

#3069 [Hotfix] Fix the function that convert ms
  amoro-ams/amoro-ams-dashboard/src/types/common.type.ts
  amoro-ams/amoro-ams-dashboard/src/utils/index.ts
  amoro-ams/amoro-ams-dashboard/src/views/optimize/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/resource/components/List.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Optimizing.vue
Labels: module:ams-dashboard

#3058 [AMORO-2555] Tag dangling delete snapshot commits
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/AlreadyExistsException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/AmoroException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/AmoroTableMetastore.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/BlockableOperation.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/Blocker.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/CatalogMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/ColumnInfo.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/CommitMetaProducer.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/DataFile.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/InvalidObjectException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/MetaException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/NoSuchObjectException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/NotSupportedException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/OperationConflictException.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/PartitionFieldData.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/PrimaryKeySpec.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/Schema.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/SchemaUpdateMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableChange.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableCommitMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableIdentifier.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/TableMeta.java
  amoro-core/src/main/gen-java/org/apache/amoro/api/UpdateColumn.java
  amoro-core/src/main/thrift/amoro_table_metastore.thrift
Labels: module:core, module:ams-server

#3083 Change amoro shade version to 0.7.0-incubating
  pom.xml
Labels: type:build

#3081 [Improvement]: Add Paimon Table Consumer Infos In Ams Dashboard
  amoro-ams/amoro-ams-dashboard/src/language/en.ts
  amoro-ams/amoro-ams-dashboard/src/language/zh.ts
  amoro-ams/amoro-ams-dashboard/src/services/table.service.ts
  amoro-ams/amoro-ams-dashboard/src/types/common.type.ts
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Selector.vue
  amoro-ams/amoro-ams-dashboard/src/views/tables/components/Snapshots.vue
Labels: module:ams-dashboard

#3088 [AMORO-3086] Add more tags for amoro docker images built by ci
  .github/workflows/docker-images.yml
Labels: type:infra

#3085 Move upgrade SQL for version 0.7.0
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade-0.6.1-to-0.7.0.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/upgrade-0.6.1-to-0.7.0.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/upgrade.sql
Labels: module:ams-server

#3082 Change project version to 0.8-SNAPSHOT
  amoro-ams/amoro-ams-api/pom.xml
  amoro-ams/amoro-ams-dashboard/pom.xml
  amoro-ams/amoro-ams-metrics/amoro-metrics-prometheus/pom.xml
  amoro-ams/amoro-ams-metrics/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/pom.xml
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-standalone/pom.xml
  amoro-ams/amoro-ams-optimizer/pom.xml
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/dist/pom.xml
  amoro-ams/pom.xml
  amoro-core/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common-format/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common-iceberg-bridge/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/amoro-mixed-format-flink-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.15/amoro-mixed-format-flink-runtime-1.15/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-1.16/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.16/amoro-mixed-format-flink-runtime-1.16/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-flink/v1.17/amoro-mixed-format-flink-runtime-1.17/pom.xml
  amoro-mixed-format/amoro-mixed-format-hive/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.2/amoro-mixed-format-spark-runtime-3.2/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-3.3/pom.xml
  amoro-mixed-format/amoro-mixed-format-spark/v3.3/amoro-mixed-format-spark-runtime-3.3/pom.xml
  amoro-mixed-format/amoro-mixed-format-trino/pom.xml
  amoro-mixed-format/pom.xml
  pom.xml
  tools/change-version.sh
Labels: module:mixed-flink, module:mixed-spark, module:core, module:ams-server, module:mixed-hive, module:ams-optimizer, module:mixed-trino, type:infra, type:build, module:ams-dashboard

#3094 [AMORO-3091] Support TIMESTAMP in `MixedDataFiles.fromPartitionString()`
  amoro-core/src/main/java/org/apache/amoro/utils/MixedDataFiles.java
  amoro-core/src/test/java/org/apache/amoro/utils/TestMixedDataFiles.java
Labels: module:core

#3079 [AMORO-3078]: A lock-free TableBlocker implementation and does not rely on TableRuntime anymore.
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/InternalCatalog.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/persistence/PersistentBase.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/persistence/mapper/TableBlockerMapper.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/blocker/TableBlocker.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/executor/BlockerExpiringExecutor.java
  amoro-ams/amoro-ams-server/src/main/resources/derby/ams-derby-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/ams-mysql-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade-0.6.1-to-0.7.0.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/ams-postgres-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/upgrade-0.6.1-to-0.7.0.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/upgrade.sql
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/persistence/mapper/MySQLTestBase.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/executor/TestBlockerExpiringExecutor.java
Labels: module:ams-server

#3096 [Hotfix] Revised spark version in README.md
  README.md
Labels: type:docs

#3100 [AMORO-3097] Improve the default configuration for AMS
  amoro-ams/dist/src/main/amoro-bin/conf/config.yaml
Labels: type:build

#3004 [AMORO-2875] Added metric for orphan file action
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/maintainer/MixedTableMaintainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableOrphanFilesCleaningMetrics.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestOrphanFileClean.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestOrphanFileCleanHive.java
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server

#3106 Remove out-of-date guide in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: type:docs

#3105 Add stale GitHub workflow to improve Issue&PR management
  .github/workflows/stale.yml
Labels: type:infra

#2994 [AMORO-2993] Enrich optimizing metrics
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableOptimizingMetrics.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/utils/IcebergTableUtil.java
  amoro-ams/dist/src/main/amoro-bin/conf/plugins/metric-reporters.yaml
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server, type:build

#2877 [AMORO-2861]: Support display Hudi table metadata in Amoro Dashboard
  amoro-ams/amoro-ams-dashboard/src/assets/icons/svg/hudi.svg
  amoro-ams/amoro-ams-dashboard/src/types/common.type.ts
  amoro-ams/amoro-ams-dashboard/src/views/catalogs/Detail.vue
  amoro-ams/amoro-ams-server/pom.xml
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/catalog/CatalogBuilder.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/FormatTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/HudiTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/PaimonTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/ServerTableDescriptor.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/OptimizingProcessInfo.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/OptimizingTaskInfo.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/ServerTableMeta.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/TableMeta.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/dashboard/model/TableSummary.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/utils/HudiTableUtil.java
  amoro-core/pom.xml
  amoro-core/src/main/java/org/apache/amoro/CommonUnifiedCatalog.java
  amoro-core/src/main/java/org/apache/amoro/TableFormat.java
  amoro-core/src/main/java/org/apache/amoro/data/DataFileType.java
  amoro-core/src/main/java/org/apache/amoro/formats/hudi/HudiCatalogFactory.java
  amoro-core/src/main/java/org/apache/amoro/formats/hudi/HudiHadoopCatalog.java
  amoro-core/src/main/java/org/apache/amoro/formats/hudi/HudiHiveCatalog.java
  amoro-core/src/main/java/org/apache/amoro/formats/hudi/HudiSnapshot.java
  amoro-core/src/main/java/org/apache/amoro/formats/hudi/HudiTable.java
  amoro-core/src/main/java/org/apache/amoro/hive/AuthenticatedHiveClientPool.java
  amoro-core/src/main/java/org/apache/amoro/hive/CachedHiveClientPool.java
  amoro-core/src/main/java/org/apache/amoro/hive/HMSClient.java
  amoro-core/src/main/java/org/apache/amoro/hive/HMSClientImpl.java
  amoro-core/src/main/java/org/apache/amoro/hive/HMSClientPool.java
  amoro-core/src/main/resources/META-INF/services/org.apache.amoro.FormatCatalogFactory
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/hadoop/hive/ql/optimizer/ppr/PartitionExpressionForMetastore.java
  amoro-mixed-format/amoro-mixed-format-hive/src/test/java/org/apache/hadoop/hive/ql/security/authorization/AuthorizationPreEventListener.java
  amoro-mixed-format/amoro-mixed-format-spark/amoro-mixed-format-spark-3-common/src/test/java/org/apache/amoro/spark/test/SparkTestContext.java
  pom.xml
Labels: module:mixed-spark, module:core, module:ams-server, module:mixed-hive, type:build, module:ams-dashboard

#3103 [AMORO-3102][doc]: upgrade cdc-ingestion doc from flink cdc 3.x
  docs/engines/flink/flink-cdc-ingestion.md
  docs/user-guides/cdc-ingestion.md
Labels: type:docs

#3129 [AMORO-3128] Make yarn application name for flink optimizer more meaningful
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/manager/FlinkOptimizerContainer.java
Labels: module:ams-server

#3130 [AMORO-3110]extract error message in optimizers
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkOptimizerExecutor.java
  amoro-ams/amoro-ams-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizerExecutor.java
Labels: module:ams-optimizer

#3133 [AMORO-3132]High available service should not close curator client before LeaderLatch closing
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/HighAvailabilityContainer.java
Labels: module:ams-server

#3127 [AMORO-3095][ams-server]Fix: Add s3a dependency software.amazon.awssdk:s3-transfer-manager
  amoro-ams/amoro-ams-server/pom.xml
  pom.xml
Labels: module:ams-server, type:build

#3142 [AMORO-3141] When a master/backup switch occurs, close the `planExecutor` thread pool
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
Labels: module:ams-server

#3137 [Hotfix] Skip maven-install-plugin for amoro-ams/dist module
  amoro-ams/dist/pom.xml
Labels: type:build

#3109 [AMORO-3104] Added table summary metrics
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/plan/AbstractPartitionPlan.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/plan/CommonPartitionEvaluator.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/plan/OptimizingEvaluator.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/optimizing/plan/PartitionEvaluator.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableRuntimeMeta.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/executor/TableRuntimeRefreshExecutor.java
  amoro-ams/amoro-ams-server/src/main/resources/derby/ams-derby-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/ams-mysql-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/mysql/upgrade.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/ams-postgres-init.sql
  amoro-ams/amoro-ams-server/src/main/resources/postgres/upgrade.sql
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/optimizing/plan/TestOptimizingEvaluator.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/TestTableSummaryMetrics.java
  docs/user-guides/metrics.md
Labels: type:docs, module:ams-server

#3148 [Hotfix] Fix some compile errors
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
  amoro-ams/amoro-ams-server/src/test/java/org/apache/amoro/server/table/TestTableSummaryMetrics.java
Labels: module:ams-server

#3144 [Improvement]: Add an AMS configuration property to skip table creation when AMS startup
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/amoro-ams-server/src/main/java/org/apache/amoro/server/persistence/SqlSessionFactoryProvider.java
  amoro-ams/dist/src/main/amoro-bin/conf/config.yaml
  docs/admin-guides/deployment.md
Labels: type:docs, module:ams-server, type:build
