Repository apache/amoro, pull requests merged in 2025-08, with the labels that each got.

#3696 [AMORO-3695][Improvement]: Reduce unnecessary details in the log output
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/KeyedTableCommit.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/UnKeyedTableCommit.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultOptimizingState.java
  dist/src/main/amoro-bin/conf/log4j2.xml
Labels: module:ams-server, type:build

#3706 [Improvement] Polish codes in AmsEnvironment and fix some errors in GitHub CI
  amoro-ams/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/src/test/java/org/apache/amoro/server/RestCatalogServiceTestBase.java
Labels: module:ams-server

#3678 [AMORO-3677] Fill catalogProperties in creating catalog rather than building
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/CatalogBuilder.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/DefaultCatalogManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestCatalogService.java
Labels: module:ams-server

#3659 [AMORO-3658] Modify the execution interval of the executor from fixed to a range of random values.
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/PeriodicTableScheduler.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/BlockerExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/DanglingDeleteFilesCleaningExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/DataExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/HiveCommitSyncExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/OptimizingCommitExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/OptimizingExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/OrphanFilesCleaningExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/SnapshotsExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/TableRuntimeRefreshExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/TagsAutoCreatingExecutor.java
Labels: module:ams-server

#3711 [Improvement] Invalidate catalog meta cache after updating
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/DefaultCatalogManager.java
Labels: module:ams-server

#3688 [AMORO-3685] Optimize the performance of fillSkipSet for planning
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/SchedulingPolicy.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableBlockerMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/blocker/TableBlocker.java
Labels: module:ams-server

#3669 [AMORO-3671][Improvement]: Optimizing Allocation and Schedule Priority of Optimizer resource for Tables
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/model/TableOptimizingInfo.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/utils/OptimizingUtil.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultOptimizingState.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/utils/TestOptimizingUtil.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestOptimizingQueue.java
  amoro-ams/src/test/resources/config-with-units.yaml
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/TableProperties.java
  charts/amoro/templates/amoro-configmap.yaml
  dist/src/main/amoro-bin/conf/config.yaml
  docs/concepts/self-optimizing.md
  docs/user-guides/configurations.md
  docs/user-guides/using-tables.md
Labels: type:docs, module:ams-server, type:build

#3717 [AMORO-3716]Enhance FlinkUnifiedCatalog getTable efficiency
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/FlinkUnifiedCatalog.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/MixedCatalog.java
Labels: module:mixed-flink

#3715 [Improvement] Refactor table_optimizing_process into a more generic structure
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/MixedAndIcebergTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingProcessMeta.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/TaskRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/SqlSessionFactoryProvider.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/TaskFilesPersistence.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/OptimizingProcessMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableProcessMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/process/TableProcessMeta.java
  amoro-ams/src/main/java/org/apache/amoro/server/scheduler/inline/OptimizingExpiringExecutor.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultOptimizingState.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableManager.java
  amoro-ams/src/main/resources/derby/ams-derby-init.sql
  amoro-ams/src/main/resources/mysql/ams-mysql-init.sql
  amoro-ams/src/main/resources/mysql/upgrade.sql
  amoro-ams/src/main/resources/postgres/ams-postgres-init.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestIcebergServerTableDescriptor.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/BaseOptimizingChecker.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestIcebergHadoopOptimizing.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestMixedHiveOptimizing.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestMixedIcebergOptimizing.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/MetricsSummary.java
Labels: module:ams-server
