Repository apache/amoro, pull requests merged in 2025-06, with the labels that each got.

#3581 [AMORO-3441] Support Apache Paimon 1.1.1
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/SparkContextUtil.java
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/local/LocalSessionFactory.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/pom.xml
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/test/java/org/apache/amoro/spark/test/SparkTestContext.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/pom.xml
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonCatalog.java
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonCatalogFactory.java
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonTableDescriptor.java
  pom.xml
Labels: module:mixed-flink, module:mixed-spark, module:ams-server, type:build

#3595 [AMORO-3594] Improve table identifiers display
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3590 [AMORO-3587] Modify the default value of hive catalog clients to 20
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/CatalogBuilder.java
  amoro-common/src/main/java/org/apache/amoro/properties/CatalogMetaProperties.java
  docs/admin-guides/managing-catalogs.md
Labels: type:docs, module:ams-server, module:common

#3600 [AMORO-3599] remove com.esotericsoftware.kryo dependencies in flink optimizer package
  amoro-optimizer/amoro-optimizer-flink/pom.xml
Labels: module:ams-optimizer, type:build

#3609 [HOTFIX]Fix quickstart URL in the README
  README.md
Labels: type:docs

#3593 [AMORO-3591] Support Apache Paimon With OSS Object Store
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-format-paimon/pom.xml
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonCatalogFactory.java
  pom.xml
Labels: module:ams-server, type:build

#3618 [AMORO-3616][Improvement] Correct the spelling errors in doc of Managing Optimizers page
  docs/admin-guides/managing-optimizers.md
Labels: type:docs

#3615 [AMORO-3614][Improvement]: Add a document about deploying Amoro in IDE
  CONTRIBUTING.md
Labels: type:docs

#3634 [AMORO-3633][improvement]: Fix the sorting rules of topTables order by healthScore
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OverviewController.java
Labels: module:ams-server
