Repository apache/amoro, pull requests merged in 2025-07, with the labels that each got.

#3666 Fixed the memory display error in Spark optimizer resource allocation.
  amoro-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizer.java
Labels: module:ams-optimizer

#3639 [AMORO-3637] Complete task when optimizer get an exception in task execution
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerExecutor.java
Labels: module:ams-server, module:ams-optimizer

#3690 Fix continually creating unused keep_file when committing for an unpartitioned mixed_hive table optimization
  amoro-format-mixed/amoro-mixed-hive/src/main/java/org/apache/amoro/hive/op/UpdateHiveFiles.java
Labels: module:mixed-hive

#3640 [AMORO-3638] Add support for task retries when task execution times out
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSServiceTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3693 [AMORO-3692] Remove deprecated metrics and update related logic in MetricsSummary
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/utils/OptimizingUtil.java
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestIcebergServerTableDescriptor.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/MetricsSummary.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/RewriteStageTask.java
Labels: module:ams-server

#3681 [AMORO-3607]Fix syntax error in init sql #3607
  amoro-ams/src/main/resources/mysql/ams-mysql-init.sql
Labels: module:ams-server
