Repository apache/amoro, pull requests merged in 2025-03, with the labels that each got.

#3454 [Improvement]: Refactored test testToHumanReadableString of MemorySizeTest to paramerterized
  amoro-common/src/test/java/org/apache/amoro/utils/MemorySizeTest.java
Labels: module:common

#3461 [AMORO-3460] Fix some typos in java code or comments
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/DanglingDeleteFilesCleaningExecutor.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestDataExpireIceberg.java
  amoro-common/src/main/java/org/apache/amoro/utils/JacksonUtil.java
  amoro-format-mixed/amoro-mixed-hive/src/main/java/org/apache/amoro/hive/utils/ChangeFieldName.java
  amoro-format-mixed/amoro-mixed-hive/src/main/java/org/apache/amoro/hive/utils/HiveSchemaUtil.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/reader/KeyedSparkBatchScan.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/reader/UnkeyedSparkBatchScan.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/java/org/apache/amoro/spark/reader/KeyedSparkBatchScan.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/java/org/apache/amoro/spark/reader/UnkeyedSparkBatchScan.java
  amoro-optimizer/amoro-optimizer-common/src/main/java/org/apache/amoro/optimizer/common/OptimizerExecutor.java
  amoro-optimizer/amoro-optimizer-common/src/test/java/org/apache/amoro/optimizer/common/OptimizerTestHelpers.java
  amoro-optimizer/amoro-optimizer-spark/src/main/java/org/apache/amoro/optimizer/spark/SparkOptimizerExecutor.java
Labels: module:mixed-spark, module:ams-server, module:mixed-hive, module:ams-optimizer, module:common

#3453 [Improvement]: Refactored 4 tests in MemorySizeTest to use parameterized unit testing
  amoro-common/src/test/java/org/apache/amoro/utils/MemorySizeTest.java
Labels: module:common

#3449 [AMORO-3448] Show total item count on paginated web pages
  amoro-web/src/hooks/usePagination.ts
  amoro-web/src/language/en.ts
  amoro-web/src/language/zh.ts
Labels: module:ams-dashboard

#3426 [AMORO-3424] Add the self-optimizing.partition-filter parameter
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableConfigurations.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/plan/TestOptimizingEvaluator.java
  amoro-common/src/main/java/org/apache/amoro/config/OptimizingConfig.java
  amoro-format-iceberg/pom.xml
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/plan/AbstractOptimizingEvaluator.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/plan/AbstractOptimizingPlanner.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/TableProperties.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/ExpressionUtil.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/utils/TestExpressionUtil.java
  docs/user-guides/configurations.md
  pom.xml
Labels: type:docs, module:ams-server, type:build, module:common

#3463 [AMORO-3369] fix download error
  amoro-web/src/utils/request.ts
  amoro-web/src/views/catalogs/Detail.vue
Labels: module:ams-dashboard

#3447 [AMORO-3413] Optimize execution order when disposing tables
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableOptimizingMetrics.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableOrphanFilesCleaningMetrics.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSManagerTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/AMSTableTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestSyncTableOfExternalCatalog.java
Labels: module:ams-server

#3473 [AMORO-3464] Add group name format validation.
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestOptimizerGroupController.java
Labels: module:ams-server

#3471 [Improvement]fix some code style
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/component/reverser/IcebergTypeToSparkType.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonTableMetaExtract.java
  amoro-format-paimon/src/main/java/org/apache/amoro/formats/paimon/PaimonTypeToSparkType.java
Labels: module:ams-server

#3476 [AMORO-3477] Add double quotes to the flink config values when generating the flink optimizer startup command
  amoro-ams/src/main/java/org/apache/amoro/server/manager/FlinkOptimizerContainer.java
  amoro-ams/src/test/java/org/apache/amoro/server/manager/TestFlinkOptimizerContainer.java
Labels: module:ams-server

#3475 [Hotfix] Improve the default configuration for AMS internal service and Kubernetes deployment
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/tests/amoro-configmap_test.yaml
Labels: module:ams-server

#3468 [Doc] Add docs for configuring encrypted sensitive configuration items
  docs/admin-guides/deployment.md
  docs/admin-guides/using-customized-encryption-method-for-configurations.md
Labels: type:docs

#3465 [AMORO-3446] Fix Amoro pod liveness check failed due to authenticate error
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
Labels: module:ams-server

#3457 [AMORO-3440] Implement the refresh and exploration of OptimizingGroup…
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/resource/DefaultOptimizerManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/resource/OptimizerManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSManagerTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSServiceTestBase.java
  amoro-ams/src/test/resources/config-with-units.yaml
  amoro-common/src/main/java/org/apache/amoro/resource/ResourceGroup.java
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build, module:common

#3458 [AMORO-3451] Fix kubernetes optimizer pod is frequently being killed
  amoro-ams/src/main/java/org/apache/amoro/server/manager/KubernetesOptimizerContainer.java
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/managing-optimizers.md
Labels: type:docs, module:ams-server

#3483 [Amoro-3480] Optimize community contributing docs
  CONTRIBUTING.md
  README.md
Labels: type:docs

#3484 [Improvement] Improve the description and image for mixed format in docs
  docs/formats/mixed-iceberg.md
  docs/images/formats/mixed_format.png
  docs/images/formats/mixed_hive_format.png
Labels: type:docs

#3491 [AMORO-3490] we got `sync optimizer groups failed` error in ams-error.log
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
Labels: module:ams-server
