Repository apache/amoro, pull requests merged in 2025-04, with the labels that each got.

#3496 [AMORO-3492] replace history mode with hash mode to avoid access issues
  amoro-web/src/router/index.ts
Labels: module:ams-dashboard

#3505 [AMORO-3564] Fix some issues in mixed format connector using Iceberg 1.4
  amoro-common/pom.xml
  amoro-common/src/main/java/org/apache/amoro/client/PoolConfig.java
  amoro-format-iceberg/pom.xml
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/BasicUnkeyedTable.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/BasicTableTestHelper.java
  amoro-format-mixed/amoro-mixed-flink/v1.15/amoro-mixed-flink-runtime-1.15/pom.xml
  amoro-format-mixed/amoro-mixed-flink/v1.16/amoro-mixed-flink-runtime-1.16/pom.xml
  amoro-format-mixed/amoro-mixed-flink/v1.17/amoro-mixed-flink-1.17/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-runtime-3.2/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/pom.xml
  amoro-format-mixed/amoro-mixed-trino/pom.xml
Labels: module:mixed-flink, module:mixed-spark, module:mixed-trino, type:build, module:common

#3501 [AMORO-3500] Fix Overview table data statistics
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewManager.java
Labels: module:ams-server

#3508 [Improvement] Reduce release package size & deploy ams plugins
  amoro-ams/pom.xml
  amoro-format-iceberg/pom.xml
  amoro-format-mixed/amoro-mixed-trino/pom.xml
  amoro-metrics/amoro-metrics-prometheus/pom.xml
  amoro-optimizer/amoro-optimizer-flink/pom.xml
  amoro-optimizer/amoro-optimizer-spark/pom.xml
  tools/releasing/create_binary_release.sh
Labels: module:ams-server, module:ams-optimizer, module:mixed-trino, type:infra, type:build

#3513 [Improvement]: Improved test testDecryptOption in TestConfigShade by removing redundancy and converting into Parameterized Test
  amoro-ams/src/test/java/org/apache/amoro/server/config/TestConfigShade.java
Labels: module:ams-server

#3512 [Improvement]: Parameterized Test testOptimizingStatusDisplayValue test in OptimizingStatusTest
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/OptimizingStatusTest.java
Labels: module:ams-server

#3511 [Improvement]: Improved test OptimizingStatusTest.testOptimizingStatusCodeValue to use parameterized unit testing
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/OptimizingStatusTest.java
Labels: module:ams-server

#3510 [Improvement]: Refactored MemorySizeTest.testParseBytes to Parameterized Test
  amoro-common/src/test/java/org/apache/amoro/utils/MemorySizeTest.java
Labels: module:common

#3387 [AMORO-3387]fix: create table like using mixed_hive
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/scala/org/apache/amoro/spark/sql/catalyst/analysis/RewriteMixedFormatCommand.scala
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/scala/org/apache/amoro/spark/sql/catalyst/analysis/RewriteMixedFormatCommand.scala
  amoro-format-mixed/amoro-mixed-spark/v3.5/amoro-mixed-spark-3.5/src/main/scala/org/apache/amoro/spark/sql/catalyst/analysis/RewriteMixedFormatCommand.scala
Labels: module:mixed-spark, type:build

#3514 [Improvement] Change the joining slack information to the ASF workspace
  CONTRIBUTING.md
  README.md
Labels: type:docs

#3518 [AMORO-3517]fix:MixedTableMaintainer would never expire a non-pk base…
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/MixedTableMaintainer.java
Labels: module:ams-server

#3519 [AMORO-3515] Improve: format table maintainer log information
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
Labels: module:ams-server

#3530 [Improvement] Standardize the module names with Amoro Project prefix
  amoro-common/pom.xml
  amoro-format-hudi/pom.xml
  amoro-format-paimon/pom.xml
Labels: type:build, module:common

#3521 [Bug]: The flink optimizer often triggers OOM exceptions. In fact, the files processed by each task are not large.
  amoro-optimizer/amoro-optimizer-flink/src/main/java/org/apache/amoro/optimizer/flink/FlinkExecutor.java
Labels: module:ams-optimizer

#3462 [AMORO-3459][Improvement]: Obtain the master's service address based on service discovery, which requires writing the HTTP port to ZooKeeper
  amoro-ams/src/main/java/org/apache/amoro/server/HighAvailabilityContainer.java
  amoro-common/src/main/java/org/apache/amoro/client/AmsServerInfo.java
  amoro-common/src/main/java/org/apache/amoro/properties/AmsHAProperties.java
Labels: module:ams-server, module:common

#3534 [AMORO-3533] Avoid bulk table removal when synchronizing external catalogs and fetching database table listings fails
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/DefaultCatalogManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestSyncTableOfExternalCatalog.java
Labels: module:ams-server
