Repository apache/amoro, pull requests merged in 2025-05, with the labels that each got.

#3551 fix some doc error
  docs/_index.md
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/deployment.md
  docs/admin-guides/managing-optimizers.md
  docs/engines/flink/flink-cdc-ingestion.md
  docs/engines/flink/flink-dml.md
  docs/engines/flink/flink-get-started.md
  docs/user-guides/cdc-ingestion.md
Labels: type:docs

#3539 [AMORO-3538] Resolve Hive 4 Metastore listing failure on Hadoop2
  pom.xml
Labels: type:build

#3560 [AMORO-3559] Extract abstract class for table metrics
  amoro-ams/src/main/java/org/apache/amoro/server/table/AbstractTableMetrics.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableOptimizingMetrics.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableOrphanFilesCleaningMetrics.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableSummaryMetrics.java
Labels: module:ams-server

#3563 [hotfix]update upgrade.sql
  amoro-ams/src/main/resources/mysql/upgrade-0.7.0-to-0.8.0.sql
  amoro-ams/src/main/resources/mysql/upgrade.sql
Labels: module:ams-server

#3564 Doc: Add DeepWiki badge to README for auto refresh the wiki weekly with the latest code
  README.md
Labels: type:docs

#3573 [HotFix] Add paimon and hudi dependency in docker
  .github/workflows/docker-images.yml
Labels: type:infra

#3574 [Hotfix] update upgrade.sql for postgres after 0.8.0 release.
  amoro-ams/src/main/resources/postgres/upgrade-0.7.0-to-0.8.0.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
Labels: module:ams-server

#3568 [AMORO-3531] Support build project with JDK 8, 11
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  .github/workflows/docker-images.yml
  README.md
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/pom.xml
  docker/amoro/Dockerfile
  pom.xml
Labels: type:docs, module:mixed-spark, module:ams-server, type:infra, type:build

#3583 Optimize the performance of optimizer pollTask
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
Labels: module:ams-server

#3579 [AMORO-3578] Improving Error Prompts for Login Failures …
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/LoginController.java
Labels: module:ams-server

#3580 [Hotfix] Bump parquet-avro to 1.15.2 to fix CVE
  amoro-common/pom.xml
  amoro-format-iceberg/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.5/amoro-mixed-spark-3.5/pom.xml
  amoro-format-mixed/amoro-mixed-trino/src/test/java/org/apache/amoro/trino/mixed/TestKeyedTable.java
  pom.xml
Labels: module:mixed-spark, module:mixed-trino, type:build, module:common
