Repository apache/amoro, pull requests merged in 2025-02, with the labels that each got.

#3396 [AMORO-3335] Add interface ConfigShade to support encryption of sensitive configuration items and provide a base64 encoding implementation
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/test/java/org/apache/amoro/server/config/TestConfigShade.java
  amoro-ams/src/test/resources/configs/config-base64-shade.yaml
  amoro-ams/src/test/resources/configs/config-default-shade.yaml
  amoro-common/src/main/java/org/apache/amoro/config/shade/ConfigShade.java
  amoro-common/src/main/java/org/apache/amoro/config/shade/impl/Base64ConfigShade.java
  amoro-common/src/main/java/org/apache/amoro/config/shade/utils/ConfigShadeUtils.java
  amoro-common/src/main/resources/META-INF/services/org.apache.amoro.config.shade.ConfigShade
  charts/amoro/templates/amoro-configmap.yaml
  charts/amoro/tests/amoro-configmap_test.yaml
  charts/amoro/values.yaml
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build, module:common

#3427 [Improvement] Increase the default database connection pool max wait time
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  charts/amoro/templates/amoro-configmap.yaml
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3425 [Improvement]: Controller dosenot depend on TableService
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/utils/OptimizingUtil.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/TaskRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/extension/InListExtendedLanguageDriver.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/OptimizingMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/TableMetaMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/MaintainedTableManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-common/pom.xml
  amoro-common/src/main/gen-java/org/apache/amoro/api/OptimizingService.java
  amoro-common/src/main/thrift/amoro_optimizing_service.thrift
  amoro-common/src/test/java/org/apache/amoro/MockAmoroManagementServer.java
Labels: module:ams-server, type:build, module:common

#3429 [Improvement]: Implement a stateless overview manager.
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewCache.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/OverviewMetricsReporter.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OverviewController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/model/OverviewTopTableItem.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/CatalogMetaMapper.java
  amoro-ams/src/main/resources/META-INF/services/org.apache.amoro.metrics.MetricReporter
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/TestOverviewManager.java
  dist/src/main/amoro-bin/conf/config.yaml
  dist/src/main/amoro-bin/conf/plugins/metric-reporters.yaml
Labels: module:ams-server, type:build

#3431 Hotfix: AMS can't start with default `overview-cache.refresh-interval`
  dist/src/main/amoro-bin/conf/config.yaml
Labels: type:build

#3433 [Hotfix] Copy catalog meta for outside usage
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/DefaultCatalogManager.java
Labels: module:ams-server

#3423 [AMORO-3418] Optimize ams configuration to support parsing of time and storage unit
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/executor/AsyncTableExecutors.java
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/TerminalManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSServiceTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestAmoroManagementConf.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableManager.java
  amoro-ams/src/test/resources/config-with-units.yaml
  amoro-ams/src/test/resources/config-without-units.yaml
  amoro-common/src/main/java/org/apache/amoro/config/ConfigHelpers.java
  amoro-common/src/main/java/org/apache/amoro/config/ConfigOptions.java
Labels: module:ams-server, module:common

#3434 [hotfix] Update time and storage units in template configuration files
  amoro-ams/src/test/java/org/apache/amoro/server/TestAmoroManagementConf.java
  charts/amoro/templates/amoro-configmap.yaml
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3437 [AMORO-3348] Extract the implementation of OptimizerManager
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/OptimizerGroupController.java
  amoro-ams/src/main/java/org/apache/amoro/server/resource/DefaultOptimizerManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSManagerTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/AMSServiceTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-common/src/main/java/org/apache/amoro/resource/ResourceManager.java
Labels: module:ams-server, module:common

#3442 [Hotfix] Set table properties in GenericTaskWriters
  amoro-format-iceberg/src/main/java/org/apache/amoro/io/writer/GenericTaskWriters.java
  amoro-format-mixed/amoro-mixed-trino/src/test/java/org/apache/amoro/trino/mixed/TestKeyedTable.java
Labels: module:mixed-trino

#3273 [AMORO-3272] data-expire by partition info
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/IcebergTableMaintainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/maintainer/MixedTableMaintainer.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/maintainer/TestDataExpire.java
Labels: module:ams-server
