Repository apache/amoro, pull requests merged in 2025-09, with the labels that each got.

#3756 [AMORO-3755][Improvement]: Optimize log output of SchedulingPolicy
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/SchedulingPolicy.java
Labels: module:ams-server

#3768 [AMORO-3754]failed to failover when only one node is alive in ha mode #3754
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-common/src/main/java/org/apache/amoro/TableRuntime.java
Labels: module:ams-server, module:common

#3789 [AMORO-3788] Bump Netty version to 4.1.124.Final to fix up vulnerabilities in netty-codec-http2
  pom.xml
Labels: type:build

#3787 [AMORO-3786] Add missing logic to count failed optimizing processes
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableOptimizingMetrics.java
Labels: module:ams-server

#3727 [AMORO-3470][Feature]:Support catalog-level default properties storing into underlying tables within a unified catalog
  amoro-common/src/main/java/org/apache/amoro/properties/CatalogMetaProperties.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/TableProperties.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/utils/MixedFormatCatalogUtil.java
  amoro-format-iceberg/src/test/java/org/apache/amoro/utils/TestMixedFormatCatalogUtil.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/main/java/org/apache/amoro/flink/catalog/FlinkUnifiedCatalog.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/src/test/java/org/apache/amoro/flink/catalog/FlinkCatalogContext.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedCatalogBase.java
Labels: module:mixed-flink, module:mixed-spark, module:common

#3798 [AMORO-3794] Wrap task operation with process lock
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/TaskRuntime.java
  amoro-ams/src/test/java/org/apache/amoro/server/dashboard/utils/TestOptimizingUtil.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestOptimizingQueue.java
Labels: module:ams-server

#3805 [Amoro-3803] Complete initialized flag before scheduling explore tables
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
Labels: module:ams-server
