Repository apache/amoro, pull requests merged in 2025-01, with the labels that each got.

#3399 Use SimpleFuture to refactor TaskRuntime
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/TaskRuntime.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/StatedPersistentBase.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableRuntime.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestOptimizingQueue.java
  amoro-common/src/main/java/org/apache/amoro/process/OptimizingStages.java
  amoro-common/src/main/java/org/apache/amoro/process/OptimizingState.java
  amoro-common/src/main/java/org/apache/amoro/process/ProcessStage.java
  amoro-common/src/main/java/org/apache/amoro/process/ProcessStatus.java
  amoro-common/src/main/java/org/apache/amoro/process/SimpleFuture.java
  amoro-common/src/main/java/org/apache/amoro/process/TableProcessState.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/RewriteStageTask.java
Labels: module:ams-server, module:common

#3383 [AMORO-3383] fix: unified catalog should support iceberg native create_changelog_view procedure
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/iceberg/IcebergSparkFormat.java
Labels: type:bug, module:mixed-spark

#3377 [Improvement] refactor krb5 avoid starting error in idea
  amoro-common/src/main/java/org/apache/amoro/table/TableMetaStore.java
  amoro-common/src/main/java/org/apache/amoro/utils/ReflectionUtils.java
  amoro-common/src/test/java/org/apache/amoro/utils/ReflectionUtilsTest.java
Labels: module:common

#3380 [AMORO-3352]Add mysql-connector-j dependency by maven profile
  amoro-ams/pom.xml
  pom.xml
Labels: module:ams-server, type:build

#3394 [AMORO-3393]: A stateless catalog manager implement
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroManagementConf.java
  amoro-ams/src/main/java/org/apache/amoro/server/AmoroServiceContainer.java
  amoro-ams/src/main/java/org/apache/amoro/server/DefaultOptimizingService.java
  amoro-ams/src/main/java/org/apache/amoro/server/RestCatalogService.java
  amoro-ams/src/main/java/org/apache/amoro/server/TableManagementService.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/CatalogManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/DefaultCatalogManager.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/ExternalCatalog.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/InternalCatalog.java
  amoro-ams/src/main/java/org/apache/amoro/server/catalog/ServerCatalog.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/DashboardServer.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/ServerTableDescriptor.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/CatalogController.java
  amoro-ams/src/main/java/org/apache/amoro/server/dashboard/controller/TableController.java
  amoro-ams/src/main/java/org/apache/amoro/server/persistence/mapper/CatalogMetaMapper.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/DefaultTableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/table/TableService.java
  amoro-ams/src/main/java/org/apache/amoro/server/terminal/TerminalManager.java
  amoro-ams/src/test/java/org/apache/amoro/server/AmsEnvironment.java
  amoro-ams/src/test/java/org/apache/amoro/server/RestCatalogServiceTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestInternalIcebergCatalogService.java
  amoro-ams/src/test/java/org/apache/amoro/server/catalog/TableCatalogTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/catalog/TestServerCatalog.java
  amoro-ams/src/test/java/org/apache/amoro/server/optimizing/TestIcebergHadoopOptimizing.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/AMSTableTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TableServiceTestBase.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestCatalogService.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestDatabaseService.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableRuntimeHandler.java
  amoro-ams/src/test/java/org/apache/amoro/server/table/TestTableService.java
  dist/src/main/amoro-bin/conf/config.yaml
Labels: module:ams-server, type:build

#3400 [improvement] encode for optimizerGroup value
  amoro-web/src/views/optimize/components/List.vue
Labels: module:ams-dashboard

#3402 [Hotfix] Spark k8s optimizer release error
  amoro-ams/src/main/java/org/apache/amoro/server/manager/SparkOptimizerContainer.java
Labels: module:ams-server

#3405 Revert "[AMORO-3352]Add mysql-connector-j dependency by maven profile“
  amoro-ams/pom.xml
  pom.xml
Labels: module:ams-server, type:build

#3071 [AMORO-3084] Upgrade to iceberg 1.6.1
  amoro-format-iceberg/src/main/java/org/apache/amoro/optimizing/IcebergRewriteExecutor.java
  amoro-format-iceberg/src/main/java/org/apache/amoro/table/BasicUnkeyedTable.java
  amoro-format-iceberg/src/test/java/org/apache/iceberg/TestIcebergFindFiles.java
  amoro-format-mixed/amoro-mixed-flink/amoro-mixed-flink-common/pom.xml
  amoro-format-mixed/amoro-mixed-flink/v1.15/amoro-mixed-flink-1.15/pom.xml
  amoro-format-mixed/amoro-mixed-flink/v1.16/amoro-mixed-flink-1.16/pom.xml
  amoro-format-mixed/amoro-mixed-flink/v1.17/amoro-mixed-flink-1.17/pom.xml
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/pom.xml
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/pom.xml
  pom.xml
Labels: module:mixed-flink, module:mixed-spark, type:build

#3397 [AMORO-3382]Refactor the policy strategy in Amoro's plan module for a plugin-based transformation
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/SchedulingPolicy.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/sorter/BalancedSorter.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/sorter/QuotaOccupySorter.java
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/sorter/SorterFactory.java
  amoro-ams/src/main/resources/META-INF/services/org.apache.amoro.server.optimizing.sorter.SorterFactory
Labels: module:ams-server

#3389 [AMORO-3389][improvement]support add comment to mixed_hive table
  amoro-format-mixed/amoro-mixed-hive/src/main/java/org/apache/amoro/hive/catalog/MixedHiveTables.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/test/java/org/apache/amoro/spark/test/suites/sql/TestMixedFormatSessionCatalog.java
Labels: module:mixed-spark, module:mixed-hive

#3385 [AMORO-3385][bug]fix SparkUnifiedSessionCatalog should support load hive function for hive/mixed-hive table
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SessionCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/mixed/MixedSessionCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/MixedFormatSparkSessionCatalog.java
  amoro-format-mixed/amoro-mixed-spark/v3.3/amoro-mixed-spark-3.3/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalog.java
Labels: type:bug, module:mixed-spark

#3411 [Hotfix] Fix checkstyle errors
  .github/workflows/core-hadoop2-ci.yml
  .github/workflows/core-hadoop3-ci.yml
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SessionCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/amoro-mixed-spark-3-common/src/main/java/org/apache/amoro/spark/mixed/MixedSessionCatalogBase.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/MixedFormatSparkSessionCatalog.java
  amoro-format-mixed/amoro-mixed-spark/v3.2/amoro-mixed-spark-3.2/src/main/java/org/apache/amoro/spark/SparkUnifiedSessionCatalog.java
Labels: module:mixed-spark, type:infra

#3409 [AMORO-3329] Add MemorySize for parsing memory value and unit
  amoro-ams/src/main/java/org/apache/amoro/server/manager/FlinkOptimizerContainer.java
  amoro-ams/src/main/resources/mysql/upgrade.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
  amoro-ams/src/test/java/org/apache/amoro/server/manager/TestFlinkOptimizerContainer.java
  amoro-common/src/main/java/org/apache/amoro/utils/MemorySize.java
  amoro-common/src/test/java/org/apache/amoro/utils/MemorySizeTest.java
Labels: module:ams-server, module:common

#3415 [AMORO-3414] Fix syntax errors in postgresql scripts
  amoro-ams/src/main/resources/postgres/ams-postgres-init.sql
  amoro-ams/src/main/resources/postgres/upgrade.sql
Labels: module:ams-server

#3416 [AMORO-3404] Correct the description about MySQL usage
  docs/admin-guides/deployment-on-kubernetes.md
  docs/admin-guides/deployment.md
  docs/concepts/catalogs.md
Labels: type:docs

#3366 [AMORO-3365]The table is always in committing state
  amoro-ams/src/main/java/org/apache/amoro/server/optimizing/OptimizingQueue.java
  amoro-ams/src/test/java/org/apache/amoro/server/TestDefaultOptimizingService.java
Labels: module:ams-server
